#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Dutch
Dutch (nld)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master  lang_sleeve term_sleeve
0      Turkish         ray        Dutch        rail
1      Turkish      kondom        Dutch     condoom
2      Turkish        depo        Dutch        pose
3      Turkish        depo        Dutch       depot
4      Turkish      kanser        Dutch      kanker
..         ...         ...          ...         ...
94     Turkish    çikolata        Dutch   chocolade
95     Turkish       panda        Dutch       panda
96     Turkish       madam        Dutch       madam
97     Turkish        şans  Dutch (nld)        dice
98     Turkish        loca  Dutch (nld)      laubja

[99 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

     lang_master     term_master lang_sleeve   term_sleeve
0        Turkish         palavra       Dutch        parool
1        Turkish         palavra       Dutch   parabolisch
2        Turkish         palavra       Dutch  paraboolduin
3        Turkish         palavra       Dutch      parabool
4        Turkish         parabol       Dutch      parabool
...          ...             ...         ...           ...
5943     Turkish           hamam       Dutch         hamam
5944     Turkish  afyonkarahisar       Dutch       amfioen
5945     Turkish          etajer       Dutch       etagère
5946     Turkish           kazak       Dutch         kazak
5947     Turkish         embesil       Dutch      imbeciel

[5948 rows x 4 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

  lang_master term_master lang_sleeve term_sleeve
0     Turkish       japon       Dutch       japan
1     Turkish      manken       Dutch    manneken

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master term_master lang_sleeve term_sleeve
0      Turkish         net       Dutch         net
1      Turkish         hol       Dutch         hal
2      Turkish        soba       Dutch       stoof
3      Turkish       start       Dutch     storten
4      Turkish       start       Dutch      staart
..         ...         ...         ...         ...
66     Turkish       slayt       Dutch   slijderen
67     Turkish       slayt       Dutch     slijden
68     Turkish         şık       Dutch   schielijk
69     Turkish         şık       Dutch    schikken
70     Turkish       sprey       Dutch    sproeien

[71 rows x 4 columns]

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master term_master lang_sleeve term_sleeve
0        Turkish         ray       Dutch        rail
1        Turkish      kondom       Dutch     condoom
2        Turkish        depo       Dutch        pose
3        Turkish        depo       Dutch       depot
4        Turkish      kanser       Dutch      kanker
...          ...         ...         ...         ...
6042     Turkish         kez       Dutch        giek
6043     Turkish       slayt       Dutch   slijderen
6044     Turkish       slayt       Dutch     slijden
6045     Turkish         şık       Dutch   schielijk
6046     Turkish       sprey       Dutch    sproeien

[6047 rows x 4 columns]

In [10]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

        term
0        ray
1     kondom
2       depo
3     kanser
4      viski
..       ...
974   sürücü
975  sipariş
976     tüyo
977      kez
978    slayt

[979 rows x 1 columns]

In [12]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [13]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [14]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [15]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [16]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [17]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

    turkish_word  dutch_word
0            ray   het spoor
1         kondom     condoom
2           depo    magazijn
3         kanser      kanker
4          viski      whisky
..           ...         ...
974       sürücü  bestuurder
975      sipariş   bestellen
976         tüyo         tip
977          kez        keer
978        slayt      schuif

[979 rows x 2 columns]

In [18]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

    turkish_word  dutch_word
0            ray   het spoor
1         kondom     condoom
2           depo    magazijn
3         kanser      kanker
4          viski      whisky
..           ...         ...
974       sürücü  bestuurder
975      sipariş   bestellen
976         tüyo         tip
977          kez        keer
978        slayt      schuif

[979 rows x 2 columns]

In [19]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     dutch_word
0          rail
1       condoom
2          pose
3         depot
4        kanker
...         ...
3970       giek
3971  slijderen
3972    slijden
3973  schielijk
3974   sproeien

[3975 rows x 1 columns]

In [20]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main dutch_word
0            kondom    condoom
1              depo   magazijn
2           antrepo   magazijn
3            kanser     kanker
4             viski     whisky
..              ...        ...
404           lider     leider
405            fare       muis
406             gri      grijs
407            çene       kaak
408         penguen    pinguïn

[409 rows x 2 columns]

In [21]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)