#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "French"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
French
French (fra)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master   lang_sleeve term_sleeve
0       Turkish     madalya        French    médaille
1       Turkish       banka        French     banquet
2       Turkish       banka        French      banque
3       Turkish       viski        French      whisky
4       Turkish         şut        French     shooter
..          ...         ...           ...         ...
306     Turkish      sosyal  French (fra)      social
307     Turkish     oksijen  French (fra)     oxygène
308     Turkish     andaval  French (fra)   andouille
309     Turkish      volkan  French (fra)      volcan
310     Turkish   fransiyum  French (fra)    francium

[311 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

     lang_master    term_master lang_sleeve       term_sleeve
0        Turkish        palavra      French            parole
1        Turkish        palavra      French            parler
2        Turkish        palavra      French          perruque
3        Turkish        palavra      French               mot
4        Turkish        palavra      French      porte-parole
...          ...            ...         ...               ...
8933     Turkish          mazot      French          mazouter
8934     Turkish  demonstrasyon      French              démo
8935     Turkish         kudret      French             cador
8936     Turkish    materyalizm      French      matérialisme
8937     Turkish   abstraksiyon      French  abstractionnisme

[8938 rows x 4 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

     lang_master     term_master lang_sleeve      term_sleeve
0        Turkish           robot      French            robot
1        Turkish          planet      French          planète
2        Turkish            bank      French             banc
3        Turkish             sol      French              sol
4        Turkish              as      French               as
...          ...             ...         ...              ...
1543     Turkish  depolitizasyon      French   dépolitisation
1544     Turkish       dispanser      French      dispensaire
1545     Turkish      developman      French    développement
1546     Turkish        tretuvar      French         trottoir
1547     Turkish     otomatikman      French  automatiquement

[1548 rows x 4 columns]

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master       term_master lang_sleeve   term_sleeve
0       Turkish            beygir      French           bar
1       Turkish              büro      French        bourre
2       Turkish          bürokrat      French  bureaucratie
3       Turkish            kambur      French       changer
4       Turkish             rumen      French      roumanie
..          ...               ...         ...           ...
413     Turkish           varyant      French       variant
414     Turkish        korelasyon      French      relation
415     Turkish              buji      French        bougie
416     Turkish  konuşma terapisi      French      thérapie
417     Turkish         ordinatör      French   calculateur

[418 rows x 4 columns]

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master       term_master lang_sleeve  term_sleeve
0         Turkish           madalya      French     médaille
1         Turkish             banka      French      banquet
2         Turkish             banka      French       banque
3         Turkish             viski      French       whisky
4         Turkish               şut      French      shooter
...           ...               ...         ...          ...
10775     Turkish       devalüasyon      French     dévaluer
10776     Turkish           varyant      French      variant
10777     Turkish        korelasyon      French     relation
10778     Turkish  konuşma terapisi      French     thérapie
10779     Turkish         ordinatör      French  calculateur

[10780 rows x 4 columns]

In [10]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

                    term
0                madalya
1                  banka
2                  viski
3                    şut
4               lahmacun
...                  ...
2142  trafik sıkışıklığı
2143           bandıralı
2144               bazlı
2145        sosyal medya
2146    konuşma terapisi

[2147 rows x 1 columns]

In [12]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [83]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [84]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [85]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [86]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [13]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

            turkish_word         french_word
0                madalya            médaille
1                  banka              banque
2                  viski              whisky
3                    şut             Le Lait
4               lahmacun            Lahmacun
...                  ...                 ...
2142  trafik sıkışıklığı       embouteillage
2143           bandıralı             signalé
2144               bazlı                basé
2145        sosyal medya  des médias sociaux
2146    konuşma terapisi   thérapie parlante

[2147 rows x 2 columns]

In [14]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

            turkish_word         french_word
0                madalya            médaille
1                  banka              banque
2                  viski              whisky
3                    şut             le lait
4               lahmacun            lahmacun
...                  ...                 ...
2142  trafik sıkışıklığı       embouteillage
2143           bandıralı             signalé
2144               bazlı                basé
2145        sosyal medya  des médias sociaux
2146    konuşma terapisi   thérapie parlante

[2147 rows x 2 columns]

In [15]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      french_word
0        médaille
1         banquet
2          banque
3          whisky
4         shooter
...           ...
7821         jane
7822       jeanne
7823      variant
7824     relation
7825  calculateur

[7826 rows x 1 columns]

In [16]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

      dict_entry_main      french_word
0             madalya         médaille
1               banka           banque
2               viski           whisky
3             sandviç         sandwich
4              futbol         football
...               ...              ...
1389     süperiletken  supraconducteur
1390           fanila         flanelle
1391        programcı      programmeur
1392          laiklik          laïcité
1393  apartman binası         immeuble

[1394 rows x 2 columns]

In [17]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)