#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       Turkish        sirk        English      cirque
1       Turkish        reis        English        reis
2       Turkish       espri        English      esprit
3       Turkish     oksijen        English      oxygen
4       Turkish        kaza        English        caza
..          ...         ...            ...         ...
246     Turkish         alo  English (eng)      heaven
247     Turkish         gül  English (eng)        goal
248     Spanish       model  English (eng)        mode
249     Turkish      biftek  English (eng)        beef
250     Turkish   basketbol  English (eng)      basket

[251 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

      lang_master  term_master lang_sleeve       term_sleeve
0         Turkish      palavra     English             parle
1         Turkish      palavra     English            parlay
2         Turkish      palavra     English            parlor
3         Turkish      palavra     English            parole
4         Turkish      palavra     English            polari
...           ...          ...         ...               ...
93308     Turkish  laparoskopi     English     laparoscopist
93309     Turkish  laparoskopi     English  hydrolaparoscopy
93310     Turkish  laparoskopi     English     relaparoscopy
93311     Turkish  laparoskopi     English  videolaparoscopy
93312     Turkish    sanayisiz     English      cyberarsenal

[93313 rows x 4 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master  term_master lang_sleeve   term_sleeve
0       Turkish        abide     English      monument
1       Turkish          bit     English           bit
2       Turkish          bit     English  binary digit
3       Turkish         port     English          port
4       Turkish          dvd     English           dvd
..          ...          ...         ...           ...
230     Turkish        sayko     English        psycho
231     Turkish  laparoskopi     English   laparoscopy
232     Turkish       intörn     English        intern
233     Turkish        filiz     English       phyllis
234     Turkish      metelik     English      metallic

[235 rows x 4 columns]

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master    term_master lang_sleeve  term_sleeve
0       Turkish            net     English        nitid
1       Turkish            net     English         neat
2       Turkish         beygir     English          bar
3       Turkish           spor     English        sport
4       Turkish           blok     English         balk
..          ...            ...         ...          ...
347     Turkish          poşet     English       pocket
348     Turkish    materyalizm     English  materialism
349     Turkish  haber spikeri     English      speaker
350     Turkish  radyo spikeri     English        radio
351     Turkish  radyo spikeri     English      speaker

[352 rows x 4 columns]

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master    term_master lang_sleeve term_sleeve
0         Turkish           sirk     English      cirque
1         Turkish           reis     English        reis
2         Turkish          espri     English      esprit
3         Turkish        oksijen     English      oxygen
4         Turkish           kaza     English        caza
...           ...            ...         ...         ...
93801     Turkish     regülasyon     English  regulation
93802     Turkish     levitasyon     English   gravitate
93803     Turkish  haber spikeri     English     speaker
93804     Turkish  radyo spikeri     English       radio
93805     Turkish  radyo spikeri     English     speaker

[93806 rows x 4 columns]

In [27]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [10]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

               term
0              sirk
1              reis
2             espri
3           oksijen
4              kaza
...             ...
2284    diskalifiye
2285            suş
2286     regülasyon
2287  haber spikeri
2288  radyo spikeri

[2289 rows x 1 columns]

In [29]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [83]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [84]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [85]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [86]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [30]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

       english_word  turkish_word
0              taco          taco
1            bikini        bikini
2            factor        faktör
3            façade         cephe
4             facto         fiili
...             ...           ...
61008  uzbekization  Özbekizasyon
61009  balkanistics     balkanist
61010     demirjian     Demirjian
61011       alikhan        alikan
61012      elchibey      elchibey

[61013 rows x 2 columns]

In [31]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

       english_word  turkish_word
0              taco          taco
1            bikini        bikini
2            factor        faktör
3            façade         cephe
4             facto         fiili
...             ...           ...
61008  uzbekization  özbekizasyon
61009  balkanistics     balkanist
61010     demirjian     demirjian
61011       alikhan        alikan
61012      elchibey      elchibey

[61013 rows x 2 columns]

In [32]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      turkish_word
0             taco
1           bikini
2           fatura
3           sinema
4     sinematograf
...            ...
2455           -çi
2456         kelle
2457         gümüş
2458        çingiz
2459       demirci

[2460 rows x 1 columns]

In [33]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

     dict_entry_main turkish_word
0               taco         taco
1             bikini       bikini
2             factor       faktör
3          factorage       faktör
4          factoress       faktör
...              ...          ...
3475           lavta        lavta
3476           cizye        cizye
3477           abaza        abaza
3478         persian       farsça
3479            orda         ordu

[3480 rows x 2 columns]

In [34]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)