#### Language Pair Word Equality

In [22]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [23]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [24]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Spanish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Spanish
Spanish (spa)

In [25]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [26]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [27]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       Turkish        film        Spanish       filme
1       Turkish     palyaço        Spanish      payaso
2       Turkish        grup        Spanish       grupo
3       Turkish       masaj        Spanish      masaje
4       Turkish     oksijen        Spanish     oxígeno
..          ...         ...            ...         ...
105     Turkish        puro  Spanish (spa)        puro
106     English        puro  Spanish (spa)        puro
107     Turkish    şampanya  Spanish (spa)     campaña
108     Turkish     palavra  Spanish (spa)     palabra
109     Turkish     avokado  Spanish (spa)     avocado

[110 rows x 4 columns]

In [28]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

      lang_master  term_master lang_sleeve    term_sleeve
0         Turkish      palavra     Spanish        palabra
1         Turkish      palavra     Spanish       parlante
2         Turkish      palavra     Spanish         parole
3         Turkish      palavra     Spanish         parola
4         Turkish      palavra     Spanish     parlamento
...           ...          ...         ...            ...
11263     Turkish      hareket     Spanish  alharaquiento
11264     Turkish         ayıp     Spanish        alevoso
11265     Turkish  enflamasyon     Spanish   inflamatorio
11266     Turkish      gangava     Spanish        cáncamo
11267     Turkish      rölanti     Spanish        ralentí

[11268 rows x 4 columns]

In [29]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

   lang_master term_master lang_sleeve term_sleeve
0      Turkish        peru     Spanish        perú
1      Turkish       tilde     Spanish       tilde
2      Turkish        puro     Spanish        puro
3      Turkish      ananas     Spanish      ananás
4      Turkish     sevilla     Spanish     sevilla
5      Turkish     avokado     Spanish     avocado
6      Turkish     patates     Spanish      patata
7      Turkish     papağan     Spanish    papagayo
8      Turkish  i̇ngiltere     Spanish  inglaterra
9      Turkish     palavra     Spanish     palabra
10     Turkish      sigara     Spanish     cigarro
11     Turkish       gitar     Spanish    guitarra
12     Turkish   i̇spanyol     Spanish     español
13     Turkish       yarın     Spanish      mañana
14     Turkish      kalyon     Spanish      galeón
15     Turkish    kapibara     Spanish    capibara
16     Turkish     kanarya     Spanish     canario
17     Turkish      tekila     Spanish     tequila
18     Turkish    karamela     Spanish   caramillo
19     Turkish     gerilla     Spanish   guerrilla
20     Turkish   guakamole     Spanish   guacamole
21     Turkish     tersane     Spanish     dársena

In [30]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master         term_master lang_sleeve term_sleeve
0      Turkish              kambur     Spanish     cambiar
1      Turkish               rumen     Spanish      rumano
2      Turkish                kask     Spanish       casco
3      Turkish             patates     Spanish      patata
4      Turkish             patates     Spanish      patata
..         ...                 ...         ...         ...
72     Turkish            akredite     Spanish   acreditar
73     Turkish                 suş     Spanish        soca
74     Turkish  patates kızartması     Spanish      patata
75     Turkish          regülasyon     Spanish  regulación
76     Turkish             bandıra     Spanish     bandera

[77 rows x 4 columns]

In [31]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master term_master lang_sleeve term_sleeve
0         Turkish        film     Spanish       filme
1         Turkish     palyaço     Spanish      payaso
2         Turkish        grup     Spanish       grupo
3         Turkish       masaj     Spanish      masaje
4         Turkish     oksijen     Spanish     oxígeno
...           ...         ...         ...         ...
11376     Turkish     yarınki     Spanish      mañana
11377     Turkish    akredite     Spanish   acreditar
11378     Turkish         suş     Spanish        soca
11379     Turkish  regülasyon     Spanish  regulación
11380     Turkish     bandıra     Spanish     bandera

[11381 rows x 4 columns]

In [32]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [33]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

            term
0           film
1        palyaço
2           grup
3          masaj
4        oksijen
...          ...
1099     yarınki
1100    akredite
1101         suş
1102  regülasyon
1103     bandıra

[1104 rows x 1 columns]

In [34]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [35]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [36]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [37]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [38]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [39]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

     turkish_word spanish_word
0            film     película
1         palyaço       payaso
2            grup        grupo
3           masaj       masaje
4         oksijen      oxígeno
...           ...          ...
1099      yarınki       mañana
1100     akredite   autorizado
1101          suş    silenciar
1102   regülasyon   regulación
1103      bandıra      bandira

[1104 rows x 2 columns]

In [40]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

     turkish_word spanish_word
0            film     película
1         palyaço       payaso
2            grup        grupo
3           masaj       masaje
4         oksijen      oxígeno
...           ...          ...
1099      yarınki       mañana
1100     akredite   autorizado
1101          suş    silenciar
1102   regülasyon   regulación
1103      bandıra      bandira

[1104 rows x 2 columns]

In [41]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     spanish_word
0           filme
1          payaso
2           grupo
3          masaje
4         oxígeno
...           ...
8614      paisaje
8615       caucho
8616    acreditar
8617         soca
8618      bandera

[8619 rows x 1 columns]

In [42]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main spanish_word
0           palyaço       payaso
1              grup        grupo
2             masaj       masaje
3           oksijen      oxígeno
4          bisiklet    bicicleta
..              ...          ...
435          kerata       bribón
436         vanilya     vainilla
437            depo     depósito
438          peyzaj      paisaje
439      regülasyon   regulación

[440 rows x 2 columns]

In [43]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)