### Etymology Concat Result Merge

In [ ]:
#!pip install --upgrade pip

In [ ]:
#!pip install regex

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "French"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
French
French (fra)

In [3]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # German
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [4]:
# English, Turkish, German, French, Spanish, Arabic, Portuguese, Dutch, Italian 
if lang_1 == "English":
    custom_alp = en
elif lang_1 == "Turkish":
    custom_alp = tr
elif lang_1 == "German":
    custom_alp = de
elif lang_1 == "French":
    custom_alp = fr
elif lang_1 == "Spanish":
    custom_alp = es
elif lang_1 == "Arabic":
    custom_alp = ar
elif lang_1 == "Portuguese":
    custom_alp = pt
elif lang_1 == "Dutch":
    custom_alp = nl
elif lang_1 == "Italian":
    custom_alp = it
else:
    pass
#custom_alp = tr  # en, tr, de, fr, es, ar, pt, nl, it
print(f"{lang_1}\n{custom_alp}")

Turkish
re.compile('[abcçdefgğhıijklmnoöprsştuüvyzqxw]+', re.IGNORECASE)

In [5]:
def clean_text(text):
    #text_clean = re.findall(custom_alp, text)
    text_clean = re.findall(custom_alp, str(text))
    text_result = "".join(text_clean)
    return text_result

In [6]:
def low_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low .strip()
    except:
        var_out = str(x)
    return var_out

In [7]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

      dict_entry_main      french_word
0             madalya         médaille
1               banka           banque
2               viski           whisky
3             sandviç         sandwich
4              futbol         football
...               ...              ...
1389     süperiletken  supraconducteur
1390           fanila         flanelle
1391        programcı      programmeur
1392          laiklik          laïcité
1393  apartman binası         immeuble

[1394 rows x 2 columns]

In [8]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main    french_word
0            aristo       aristote
1             ambi-          ambi-
2           ağustos           août
3             banka         banque
4             banyo          bagne
..              ...            ...
616             şef           chef
617       şizofreni  schizophrénie
618          şömine       cheminée
619         şövalye      chevalier
620         اوطه‌لق      odalisque

[621 rows x 2 columns]

In [9]:
df_concat3 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymolojitürk_Nisanyan_Concat_Result3.xlsx")
df_concat3

     dict_entry_main   french_word
0             abajur     abat-jour
1             abaküs        abacus
2           abandone  s'abandonner
3          aberasyon    aberration
4              abiye       habillé
...              ...           ...
4294            eter         éther
4295          klavye       clavier
4296            şike        chiqué
4297         eşofman  échauffement
4298           masör       masseur

[4299 rows x 2 columns]

In [10]:
df_merge_result = pd.concat([df_concat1,df_concat2,df_concat3], axis=0)
df_merge_result["dict_entry_main"] = df_merge_result["dict_entry_main"].apply(lambda x: low_strip_func(x))
df_merge_result[f"{lang_2.lower()}_word"] = df_merge_result[f"{lang_2.lower()}_word"].apply(lambda x: low_strip_func(x))
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main french_word
0            madalya    médaille
1              banka      banque
2              viski      whisky
3            sandviç    sandwich
4             futbol    football
...              ...         ...
4278       i̇llüzyon    illusion
4279        asteroid   asteroïde
4280         fenomen   phénomene
4281         banliyö     banlieu
4282            düet      duette

[4283 rows x 2 columns]

In [11]:
df_merge_result.loc[:,"dict_entry_main"] = df_merge_result.loc[:,"dict_entry_main"].apply(lambda x: clean_text(x))
df_merge_result.dropna(inplace=True)
df_merge_result.drop(df_merge_result[df_merge_result.loc[:,"dict_entry_main"] == ""].index, inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main french_word
0            madalya    médaille
1              banka      banque
2              viski      whisky
3            sandviç    sandwich
4             futbol    football
...              ...         ...
4277        illüzyon    illusion
4278        asteroid   asteroïde
4279         fenomen   phénomene
4280         banliyö     banlieu
4281            düet      duette

[4282 rows x 2 columns]

In [12]:
df_merge_result["dict_entry_main"].nunique()

4072

In [13]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [14]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross["term_master"] = df_all_cross["term_master"].apply(lambda x: low_strip_func(x))
df_all_cross["term_sleeve"] = df_all_cross["term_sleeve"].apply(lambda x: low_strip_func(x))
df_all_cross

      lang_master       term_master lang_sleeve  term_sleeve
0         Turkish           madalya      French     médaille
1         Turkish             banka      French      banquet
2         Turkish             banka      French       banque
3         Turkish             viski      French       whisky
4         Turkish               şut      French      shooter
...           ...               ...         ...          ...
10775     Turkish       devalüasyon      French     dévaluer
10776     Turkish           varyant      French      variant
10777     Turkish        korelasyon      French     relation
10778     Turkish  konuşma terapisi      French     thérapie
10779     Turkish         ordinatör      French  calculateur

[10780 rows x 4 columns]

In [15]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

      lang_master   dict_entry_main lang_sleeve  french_word
0         Turkish           madalya      French     médaille
1         Turkish             banka      French      banquet
2         Turkish             banka      French       banque
3         Turkish             viski      French       whisky
4         Turkish               şut      French      shooter
...           ...               ...         ...          ...
10775     Turkish       devalüasyon      French     dévaluer
10776     Turkish           varyant      French      variant
10777     Turkish        korelasyon      French     relation
10778     Turkish  konuşma terapisi      French     thérapie
10779     Turkish         ordinatör      French  calculateur

[10780 rows x 4 columns]

In [16]:
df_merge_result

     dict_entry_main french_word
0            madalya    médaille
1              banka      banque
2              viski      whisky
3            sandviç    sandwich
4             futbol    football
...              ...         ...
4277        illüzyon    illusion
4278        asteroid   asteroïde
4279         fenomen   phénomene
4280         banliyö     banlieu
4281            düet      duette

[4282 rows x 2 columns]

In [17]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

      lang_master dict_entry_main   lang_sleeve   french_word
0         Turkish         madalya        French      médaille
1         Turkish           banka        French       banquet
2         Turkish           banka        French        banque
3         Turkish           banka  French (fra)        banque
4         Turkish           banka        French     banquette
...           ...             ...           ...           ...
10336     Turkish          fanila        French      flanelle
10337     Turkish       programcı        French     programme
10338     Turkish     lezbiyenlik        French     lesbienne
10339     Turkish         laiklik        French        laïque
10340     Turkish    aritmetiksel        French  arithmétique

[10341 rows x 4 columns]

In [18]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master   dict_entry_main lang_sleeve french_word
0        Turkish               şut      French     shooter
1        Turkish          lahmacun      French   lahmajoun
2        Turkish           beyzbol      French    baseball
3        Turkish            fatura      French       façon
4        Turkish            fatura      French    façonner
...          ...               ...         ...         ...
2155     Turkish          damacana      French      jeanne
2156     Turkish         bandıralı      French    bandière
2157     Turkish             bazlı      French        base
2158     Turkish      sosyal medya      French      social
2159     Turkish  konuşma terapisi      French    thérapie

[2160 rows x 4 columns]

In [19]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/\
{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)