### Etymology Concat Result Merge

In [ ]:
#!pip install --upgrade pip

In [ ]:
#!pip install regex

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Dutch
Dutch (nld)

In [3]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # German
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [4]:
# English, Turkish, German, French, Spanish, Arabic, Portuguese, Dutch, Italian 
if lang_1 == "English":
    custom_alp = en
elif lang_1 == "Turkish":
    custom_alp = tr
elif lang_1 == "German":
    custom_alp = de
elif lang_1 == "French":
    custom_alp = fr
elif lang_1 == "Spanish":
    custom_alp = es
elif lang_1 == "Arabic":
    custom_alp = ar
elif lang_1 == "Portuguese":
    custom_alp = pt
elif lang_1 == "Dutch":
    custom_alp = nl
elif lang_1 == "Italian":
    custom_alp = it
else:
    pass
#custom_alp = tr  # en, tr, de, fr, es, ar, pt, nl, it
print(f"{lang_1}\n{custom_alp}")

Turkish
re.compile('[abcçdefgğhıijklmnoöprsştuüvyzqxw]+', re.IGNORECASE)

In [5]:
def clean_text(text):
    #text_clean = re.findall(custom_alp, text)
    text_clean = re.findall(custom_alp, str(text))
    text_result = "".join(text_clean)
    return text_result

In [6]:
def low_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low .strip()
    except:
        var_out = str(x)
    return var_out

In [7]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main dutch_word
0            kondom    condoom
1              depo   magazijn
2           antrepo   magazijn
3            kanser     kanker
4             viski     whisky
..              ...        ...
404           lider     leider
405            fare       muis
406             gri      grijs
407            çene       kaak
408         penguen    pinguïn

[409 rows x 2 columns]

In [8]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

   dict_entry_main   dutch_word
0           aristo  aristoteles
1          pandora      pandora
2           aktris      actrice
3            anemi       anemie
4          ağustos        oogst
5        basketbol    basketbal
6          bisküvi     beschuit
7        enteresan  interessant
8          garanti     garantie
9             grip        griep
10         kapüşon     capuchon
11         karamel     caramelo
12         karamel      karamel
13             kek         kaak
14          ketçap      ketchup
15        komünizm   communisme
16           korse       korset
17         mayonez    mayonaise
18        pasaport     paspoort
19          poliçe        polis
20        sekreter   secretaire
21          sembol      symbool
22            spam      spammen
23         sürpriz     surprise
24         telefon     telefoon
25          vajina       vagina
26             şef         chef
27          minare      minaret
28          odalık      odalisk
29         tülbent      tulband
30         tülbent         tulp
31           vezir       vizier

In [10]:
df_concat3 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymolojitürk_Nisanyan_Concat_Result3.xlsx")
df_concat3

     dict_entry_main         dutch_word
0             minare            minaret
1             odalık            odalisk
2            tülbent               tulp
3             abaküs            telraam
4           abandone  in de steek laten
...              ...                ...
2070          zodyak         dierenriem
2071           zombi             zombie
2072         zooloji           zoölogie
2073        zoolojik         zoölogisch
2074             zum               zoom

[2075 rows x 2 columns]

In [11]:
df_merge_result = pd.concat([df_concat1,df_concat2,df_concat3], axis=0)
df_merge_result["dict_entry_main"] = df_merge_result["dict_entry_main"].apply(lambda x: low_strip_func(x))
df_merge_result[f"{lang_2.lower()}_word"] = df_merge_result[f"{lang_2.lower()}_word"].apply(lambda x: low_strip_func(x))
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main  dutch_word
0             kondom     condoom
1               depo    magazijn
2            antrepo    magazijn
3             kanser      kanker
4              viski      whisky
...              ...         ...
2240          zodyak  dierenriem
2241           zombi      zombie
2242         zooloji    zoölogie
2243        zoolojik  zoölogisch
2244             zum        zoom

[2245 rows x 2 columns]

In [12]:
df_merge_result.loc[:,"dict_entry_main"] = df_merge_result.loc[:,"dict_entry_main"].apply(lambda x: clean_text(x))
df_merge_result.dropna(inplace=True)
df_merge_result.drop(df_merge_result[df_merge_result.loc[:,"dict_entry_main"] == ""].index, inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main  dutch_word
0             kondom     condoom
1               depo    magazijn
2            antrepo    magazijn
3             kanser      kanker
4              viski      whisky
...              ...         ...
2240          zodyak  dierenriem
2241           zombi      zombie
2242         zooloji    zoölogie
2243        zoolojik  zoölogisch
2244             zum        zoom

[2245 rows x 2 columns]

In [13]:
df_merge_result["dict_entry_main"].nunique()

2228

In [14]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [15]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross["term_master"] = df_all_cross["term_master"].apply(lambda x: low_strip_func(x))
df_all_cross["term_sleeve"] = df_all_cross["term_sleeve"].apply(lambda x: low_strip_func(x))
df_all_cross

     lang_master term_master lang_sleeve term_sleeve
0        Turkish         ray       Dutch        rail
1        Turkish      kondom       Dutch     condoom
2        Turkish        depo       Dutch        pose
3        Turkish        depo       Dutch       depot
4        Turkish      kanser       Dutch      kanker
...          ...         ...         ...         ...
6042     Turkish         kez       Dutch        giek
6043     Turkish       slayt       Dutch   slijderen
6044     Turkish       slayt       Dutch     slijden
6045     Turkish         şık       Dutch   schielijk
6046     Turkish       sprey       Dutch    sproeien

[6047 rows x 4 columns]

In [16]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

     lang_master dict_entry_main lang_sleeve dutch_word
0        Turkish             ray       Dutch       rail
1        Turkish          kondom       Dutch    condoom
2        Turkish            depo       Dutch       pose
3        Turkish            depo       Dutch      depot
4        Turkish          kanser       Dutch     kanker
...          ...             ...         ...        ...
6042     Turkish             kez       Dutch       giek
6043     Turkish           slayt       Dutch  slijderen
6044     Turkish           slayt       Dutch    slijden
6045     Turkish             şık       Dutch  schielijk
6046     Turkish           sprey       Dutch   sproeien

[6047 rows x 4 columns]

In [17]:
df_merge_result

     dict_entry_main  dutch_word
0             kondom     condoom
1               depo    magazijn
2            antrepo    magazijn
3             kanser      kanker
4              viski      whisky
...              ...         ...
2240          zodyak  dierenriem
2241           zombi      zombie
2242         zooloji    zoölogie
2243        zoolojik  zoölogisch
2244             zum        zoom

[2245 rows x 2 columns]

In [18]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

     lang_master dict_entry_main lang_sleeve dutch_word
0        Turkish             ray       Dutch       rail
1        Turkish             ray       Dutch   vangrail
2        Turkish             ray       Dutch  spoorrail
3        Turkish          kondom       Dutch    condoom
4        Turkish            depo       Dutch       pose
...          ...             ...         ...        ...
4104     Turkish             gri       Dutch      grijs
4105     Turkish            çene       Dutch        kin
4106     Turkish         penguen       Dutch    pinguïn
4107     Turkish           slayt       Dutch  slijderen
4108     Turkish           slayt       Dutch    slijden

[4109 rows x 4 columns]

In [19]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master dict_entry_main lang_sleeve dutch_word
0        Turkish          reklam       Dutch    reclame
1        Turkish           dosya       Dutch    dossier
2        Turkish          fatura       Dutch     factor
3        Turkish          fatura       Dutch     façade
4        Turkish          şantaj       Dutch  chanteren
...          ...             ...         ...        ...
2011     Turkish         sipariş       Dutch   spreiden
2012     Turkish         sipariş       Dutch  spaarzaam
2013     Turkish         sipariş       Dutch     sparen
2014     Turkish            tüyo       Dutch       tuit
2015     Turkish             kez       Dutch       giek

[2016 rows x 4 columns]

In [20]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/\
{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)

#### English French Unique Turkish Words

In [21]:
df_english = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish English/Turkish_English_Shared_Vocabulary.xlsx")
df_english

     dict_entry_main english_word
0             abaküs       abacus
1             abluka     blockade
2            absorbe       absorb
3             absürt       absurd
4             açelya       azalea
...              ...          ...
1773           zebra        zebra
1774          zikzak       zigzag
1775           zombi       zombie
1776         zooloji      zoology
1777             zum         zoom

[1778 rows x 2 columns]

In [22]:
df_french = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish French/Turkish_French_Shared_Vocabulary.xlsx")
df_french

     dict_entry_main french_word
0             abajur   abat-jour
1             abaküs      abacus
2           abandone  abandonner
3              abiye     habillé
4             abluka      blocus
...              ...         ...
1593        yeniçeri  janissaire
1594          yoğurt      yaourt
1595           zebra       zèbre
1596           zombi      zombie
1597          zürafa      girafe

[1598 rows x 2 columns]

In [23]:
set_english = set(df_english.dict_entry_main)
set_french = set(df_french.dict_entry_main)

In [26]:
df_english_french = pd.DataFrame(set_english.union(set_french), columns=["dict_entry_main"])
df_english_french

     dict_entry_main
0            trilyon
1             klavye
2             teorik
3             portal
4           şarlatan
...              ...
2320          anarşi
2321         pisuvar
2322        otomotiv
2323         polemik
2324            font

[2325 rows x 1 columns]

In [25]:
df_etymology_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx")
df_etymology_all

     dict_entry_main  dutch_word
0             kondom     condoom
1               depo    magazijn
2            antrepo    magazijn
3             kanser      kanker
4              viski      whisky
...              ...         ...
2240          zodyak  dierenriem
2241           zombi      zombie
2242         zooloji    zoölogie
2243        zoolojik  zoölogisch
2244             zum        zoom

[2245 rows x 2 columns]

In [27]:
df_merge_result = pd.merge(df_etymology_all,df_english_french, how="inner", on="dict_entry_main")
df_merge_result.drop_duplicates(inplace=True)
df_merge_result

     dict_entry_main dutch_word
0               depo   magazijn
1            antrepo   magazijn
2             kanser     kanker
3              viski     whisky
4              litre      liter
...              ...        ...
1844           zebra      zebra
1845          zikzak     zigzag
1846           zombi     zombie
1847         zooloji   zoölogie
1848             zum       zoom

[1848 rows x 2 columns]

In [28]:
df_merge_result.to_excel("Turkish_Dutch_Result.xlsx", index=False)