### Etymology Concat Result Merge

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "French"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
French
French (fra)

In [7]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

      dict_entry_main      french_word
0             madalya         médaille
1               banka           banque
2               viski           whisky
3             sandviç         sandwich
4              futbol         football
...               ...              ...
1389     süperiletken  supraconducteur
1390           fanila         flanelle
1391        programcı      programmeur
1392          laiklik          laïcité
1393  apartman binası         immeuble

[1394 rows x 2 columns]

In [8]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main    french_word
0            aristo       aristote
1             ambi-          ambi-
2           ağustos           août
3             banka         banque
4             banyo          bagne
..              ...            ...
616             şef           chef
617       şizofreni  schizophrénie
618          şömine       cheminée
619         şövalye      chevalier
620         اوطه‌لق      odalisque

[621 rows x 2 columns]

In [9]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main    french_word
0            madalya       médaille
1              banka         banque
2              viski         whisky
3            sandviç       sandwich
4             futbol       football
...              ...            ...
1592             çek        tchèque
1593            çeçe        tsé-tsé
1594           şayka         saïque
1595       şizofreni  schizophrénie
1596         اوطه‌لق      odalisque

[1597 rows x 2 columns]

In [10]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [11]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

      lang_master       term_master lang_sleeve  term_sleeve
0         Turkish           madalya      French     médaille
1         Turkish             banka      French      banquet
2         Turkish             banka      French       banque
3         Turkish             viski      French       whisky
4         Turkish               şut      French      shooter
...           ...               ...         ...          ...
10775     Turkish       devalüasyon      French     dévaluer
10776     Turkish           varyant      French      variant
10777     Turkish        korelasyon      French     relation
10778     Turkish  konuşma terapisi      French     thérapie
10779     Turkish         ordinatör      French  calculateur

[10780 rows x 4 columns]

In [12]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

      lang_master   dict_entry_main lang_sleeve  french_word
0         Turkish           madalya      French     médaille
1         Turkish             banka      French      banquet
2         Turkish             banka      French       banque
3         Turkish             viski      French       whisky
4         Turkish               şut      French      shooter
...           ...               ...         ...          ...
10775     Turkish       devalüasyon      French     dévaluer
10776     Turkish           varyant      French      variant
10777     Turkish        korelasyon      French     relation
10778     Turkish  konuşma terapisi      French     thérapie
10779     Turkish         ordinatör      French  calculateur

[10780 rows x 4 columns]

In [13]:
df_merge_result

     dict_entry_main    french_word
0            madalya       médaille
1              banka         banque
2              viski         whisky
3            sandviç       sandwich
4             futbol       football
...              ...            ...
1592             çek        tchèque
1593            çeçe        tsé-tsé
1594           şayka         saïque
1595       şizofreni  schizophrénie
1596         اوطه‌لق      odalisque

[1597 rows x 2 columns]

In [14]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

     lang_master   dict_entry_main   lang_sleeve   french_word
0        Turkish           madalya        French      médaille
1        Turkish             banka        French       banquet
2        Turkish             banka        French        banque
3        Turkish             banka  French (fra)        banque
4        Turkish             banka        French     banquette
...          ...               ...           ...           ...
7867     Turkish       lezbiyenlik        French     lesbienne
7868     Turkish           laiklik        French        laïque
7869     Turkish   apartman binası        French   appartement
7870     Turkish  apartman dairesi        French   appartement
7871     Turkish      aritmetiksel        French  arithmétique

[7872 rows x 4 columns]

In [15]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master   dict_entry_main lang_sleeve  french_word
0        Turkish               şut      French      shooter
1        Turkish          lahmacun      French    lahmajoun
2        Turkish            sigara      French       cigare
3        Turkish           beyzbol      French     baseball
4        Turkish            fatura      French        façon
...          ...               ...         ...          ...
3045     Turkish             bazlı      French         base
3046     Turkish      sosyal medya      French       social
3047     Turkish           telgraf      French  tachygraphe
3048     Turkish           varyant      French      variant
3049     Turkish  konuşma terapisi      French     thérapie

[3050 rows x 4 columns]

In [16]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/\
{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)