### Etymology Concat Result Merge

This notebook is used to combine all etymology file result into one file.

In [ ]:
#!pip install --upgrade pip

In [ ]:
#!pip install regex

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Italian
Italian (ita)

In [3]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # German
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [4]:
# English, Turkish, German, French, Spanish, Arabic, Portuguese, Dutch, Italian 
if lang_1 == "English":
    custom_alp = en
elif lang_1 == "Turkish":
    custom_alp = tr
elif lang_1 == "German":
    custom_alp = de
elif lang_1 == "French":
    custom_alp = fr
elif lang_1 == "Spanish":
    custom_alp = es
elif lang_1 == "Arabic":
    custom_alp = ar
elif lang_1 == "Portuguese":
    custom_alp = pt
elif lang_1 == "Dutch":
    custom_alp = nl
elif lang_1 == "Italian":
    custom_alp = it
else:
    pass
#custom_alp = tr  # en, tr, de, fr, es, ar, pt, nl, it
print(f"{lang_1}\n{custom_alp}")

Turkish
re.compile('[abcçdefgğhıijklmnoöprsştuüvyzqxw]+', re.IGNORECASE)

In [5]:
def clean_text(text):
    #text_clean = re.findall(custom_alp, text)
    text_clean = re.findall(custom_alp, str(text))
    text_result = "".join(text_clean)
    return text_result

In [6]:
def low_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low .strip()
    except:
        var_out = str(x)
    return var_out

In [7]:
# Language Pair Word Equality
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main italian_word
0             gitar     chitarra
1            kanser       cancro
2             şeker    caramella
3             sosis    salsiccia
4            pijama      pigiama
..              ...          ...
417       fırkateyn      fregata
418          peyzaj    paesaggio
419         portföy  portafoglio
420           kurye   messaggero
421           izole      isolato

[422 rows x 2 columns]

In [9]:
# Etymology TVS File Analysis
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main italian_word
0            aristo   aristotele
1             japon     giappone
2           pandora      pandora
3             ambi-        ambi-
4           ağustos       agosto
..              ...          ...
100        çikolata   cioccolata
101         çimento      cemento
102           çinko        zinco
103        i̇ngiliz      inglese
104         şırınga      siringa

[105 rows x 2 columns]

In [10]:
# Etymolojitürk Nişanyan Concat Result from excel file process
df_concat3 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymolojitürk_Nisanyan_Concat_Result3.xlsx")
df_concat3

     dict_entry_main italian_word
0             abluka      blocca!
1             aborda      abborda
2              abosa      abbozza
3             acente       agente
4              akort      accordo
...              ...          ...
2345         mobbing      mobbing
2346        diyagram    diagramma
2347          boykot   boicottare
2348      tüberküloz  tubercolosi
2349          atölye     Workshop

[2350 rows x 2 columns]

In [11]:
df_merge_result = pd.concat([df_concat1,df_concat2,df_concat3], axis=0)
df_merge_result["dict_entry_main"] = df_merge_result["dict_entry_main"].apply(lambda x: low_strip_func(x))
df_merge_result[f"{lang_2.lower()}_word"] = df_merge_result[f"{lang_2.lower()}_word"].apply(lambda x: low_strip_func(x))
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main italian_word
0              gitar     chitarra
1             kanser       cancro
2              şeker    caramella
3              sosis    salsiccia
4             pijama      pigiama
...              ...          ...
2425         mobbing      mobbing
2426        diyagram    diagramma
2427          boykot   boicottare
2428      tüberküloz  tubercolosi
2429          atölye     workshop

[2430 rows x 2 columns]

In [12]:
df_merge_result.loc[:,"dict_entry_main"] = df_merge_result.loc[:,"dict_entry_main"].apply(lambda x: clean_text(x))
df_merge_result.dropna(inplace=True)
df_merge_result.drop(df_merge_result[df_merge_result.loc[:,"dict_entry_main"] == ""].index, inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main italian_word
0              gitar     chitarra
1             kanser       cancro
2              şeker    caramella
3              sosis    salsiccia
4             pijama      pigiama
...              ...          ...
2425         mobbing      mobbing
2426        diyagram    diagramma
2427          boykot   boicottare
2428      tüberküloz  tubercolosi
2429          atölye     workshop

[2430 rows x 2 columns]

In [13]:
df_merge_result["dict_entry_main"].nunique()

2353

In [14]:
# master data
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

### Other Workspace

#### Compare All Cross Word With Result

In [15]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross["term_master"] = df_all_cross["term_master"].apply(lambda x: low_strip_func(x))
df_all_cross["term_sleeve"] = df_all_cross["term_sleeve"].apply(lambda x: low_strip_func(x))
df_all_cross

      lang_master term_master lang_sleeve term_sleeve
0         Turkish       sıfır     Italian        zero
1         Turkish       sıfır     Italian       cifra
2         Turkish       gitar     Italian    chitarra
3         Turkish      kanser     Italian      cancro
4         Turkish      kanser     Italian    cancello
...           ...         ...         ...         ...
15131     Turkish    kameriye     Italian   camarilla
15132     Turkish       izole     Italian     isolato
15133     Turkish       izole     Italian     isolare
15134     Turkish   bandıralı     Italian    bandiera
15135     Turkish     bandıra     Italian       banda

[15136 rows x 4 columns]

In [16]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

      lang_master dict_entry_main lang_sleeve italian_word
0         Turkish           sıfır     Italian         zero
1         Turkish           sıfır     Italian        cifra
2         Turkish           gitar     Italian     chitarra
3         Turkish          kanser     Italian       cancro
4         Turkish          kanser     Italian     cancello
...           ...             ...         ...          ...
15131     Turkish        kameriye     Italian    camarilla
15132     Turkish           izole     Italian      isolato
15133     Turkish           izole     Italian      isolare
15134     Turkish       bandıralı     Italian     bandiera
15135     Turkish         bandıra     Italian        banda

[15136 rows x 4 columns]

In [17]:
df_merge_result

     dict_entry_main italian_word
0              gitar     chitarra
1             kanser       cancro
2              şeker    caramella
3              sosis    salsiccia
4             pijama      pigiama
...              ...          ...
2425         mobbing      mobbing
2426        diyagram    diagramma
2427          boykot   boicottare
2428      tüberküloz  tubercolosi
2429          atölye     workshop

[2430 rows x 2 columns]

In [18]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

     lang_master dict_entry_main lang_sleeve italian_word
0        Turkish           gitar     Italian     chitarra
1        Turkish           gitar     Italian        cetra
2        Turkish           gitar     Italian      cesareo
3        Turkish           gitar     Italian       zarina
4        Turkish           gitar     Italian          zar
...          ...             ...         ...          ...
8693     Turkish           kurye     Italian     corriere
8694     Turkish           kurye     Italian     corriere
8695     Turkish        kameriye     Italian    camarilla
8696     Turkish           izole     Italian      isolato
8697     Turkish           izole     Italian      isolare

[8698 rows x 4 columns]

In [19]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master dict_entry_main lang_sleeve italian_word
0        Turkish           sıfır     Italian         zero
1        Turkish           sıfır     Italian        cifra
2        Turkish           şükür     Italian     zucchero
3        Turkish           şükür     Italian      zuccaro
4        Turkish           kolye     Italian      collier
...          ...             ...         ...          ...
6838     Turkish         afalina     Italian       balena
6839     Turkish             kez     Italian         ghis
6840     Turkish         ispiyon     Italian       spione
6841     Turkish       bandıralı     Italian     bandiera
6842     Turkish         bandıra     Italian        banda

[6843 rows x 4 columns]

In [20]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/\
{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)

#### English French Unique Turkish Words

In [21]:
df_english = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish English/Turkish_English_Shared_Vocabulary.xlsx")
df_english

     dict_entry_main english_word
0             abaküs       abacus
1             abluka     blockade
2            absorbe       absorb
3             absürt       absurd
4             açelya       azalea
...              ...          ...
1773           zebra        zebra
1774          zikzak       zigzag
1775           zombi       zombie
1776         zooloji      zoology
1777             zum         zoom

[1778 rows x 2 columns]

In [22]:
df_french = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish French/Turkish_French_Shared_Vocabulary.xlsx")
df_french

     dict_entry_main french_word
0             abajur   abat-jour
1             abaküs      abacus
2           abandone  abandonner
3              abiye     habillé
4             abluka      blocus
...              ...         ...
1593        yeniçeri  janissaire
1594          yoğurt      yaourt
1595           zebra       zèbre
1596           zombi      zombie
1597          zürafa      girafe

[1598 rows x 2 columns]

In [23]:
set_english = set(df_english.dict_entry_main)
set_french = set(df_french.dict_entry_main)

In [24]:
df_english_french = pd.DataFrame(set_english.union(set_french), columns=["dict_entry_main"])
df_english_french

     dict_entry_main
0             ekarte
1              rötar
2        milyonlarca
3               peri
4              banal
...              ...
2320        komünizm
2321          eskort
2322         trompet
2323       parametre
2324        oligarşi

[2325 rows x 1 columns]

In [25]:
df_etymology_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx")
df_etymology_all

     dict_entry_main italian_word
0              gitar     chitarra
1             kanser       cancro
2              şeker    caramella
3              sosis    salsiccia
4             pijama      pigiama
...              ...          ...
2425         mobbing      mobbing
2426        diyagram    diagramma
2427          boykot   boicottare
2428      tüberküloz  tubercolosi
2429          atölye     workshop

[2430 rows x 2 columns]

In [26]:
df_merge_result = pd.merge(df_etymology_all,df_english_french, how="inner", on="dict_entry_main")
df_merge_result.drop_duplicates(inplace=True)
df_merge_result

     dict_entry_main italian_word
0              gitar     chitarra
1             kanser       cancro
2              şeker    caramella
3              sosis    salsiccia
4             pijama      pigiama
...              ...          ...
1980         mobbing      mobbing
1981        diyagram    diagramma
1982          boykot   boicottare
1983      tüberküloz  tubercolosi
1984          atölye     workshop

[1984 rows x 2 columns]

In [28]:
df_merge_result.to_excel("Turkish_Italian_Result.xlsx", index=False)