### Compare DataFrame Columns

In [1]:
import pandas as pd
import numpy as np

#### One Gram

In [6]:
df_all_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean Spark Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_all_sent = df_all_sent[["sentence","frequency"]]
df_all_sent

                                    sentence  frequency
0                                       evet    1948596
1                                      hayır    1250401
2                                      tamam     882921
3                                         ne     753105
4                                teşekkürler     343527
...                                      ...        ...
20975605      omalley bize buzsuz scotch ver          2
20975606                 omalley bu acele ne          2
20975607              omalley bu milton wing          2
20975608  omalley buna cevap verecek zamanım          2
20975609       avukat ile görüşmek istiyorum          2

[20975610 rows x 2 columns]

In [4]:
df_one_gram = pd.read_csv("One_Gram_And_Sentence.csv") # one_gram and sentence
df_one_gram

               sentence
0                  evet
1                 hayır
2                 tamam
3                    ne
4           teşekkürler
...                 ...
245603             omao
245604         omahadan
245605             omac
245606             omae
245607  omakaseshinasai

[245608 rows x 1 columns]

In [ ]:
#df_all_sent["match"] = np.where(df_all_sent.sentence == df_one_gram.sentence, True, False)

In [5]:
set_all_sent = set(df_all_sent.iloc[:,0])

In [7]:
set_one_gram = set(df_one_gram.iloc[:,0])

In [11]:
set_more_one = set_all_sent.difference(set_one_gram)

In [12]:
df_more_one = pd.DataFrame(set_more_one)
df_more_one.rename(columns={0:"sentence"}, inplace=True)
df_more_one

                                                   sentence
0                             biz rozetleri fırlatır atarız
1                              kullandığı isimse sammy khan
2         şova youre nobody till somebody loves youyla b...
3                     sanırım bu noktada herkese borcum var
4                             kurusıkı hayır hayır otomatik
...                                                     ...
20729997      ben de gemidekiler için jacki uyarmaya geldim
20729998  kuzenim juris de orda olacak ve seninle tanışm...
20729999            karanlığın bu gecesinde benim olacaksın
20730000                                         herbert mi
20730001         kaybettiysen de sattıysan da o silah kayıp

[20730002 rows x 1 columns]

In [13]:
df_more_one_word = pd.merge(df_all_sent, df_more_one, how='inner', on="sentence")
df_more_one_word

                                    sentence  frequency
0                            teşekkür ederim     244149
1                                    öyle mi     209900
2                                    ne oldu     195799
3                                aman tanrım     189521
4                               özür dilerim     153784
...                                      ...        ...
20729997      omalley bize buzsuz scotch ver          2
20729998                 omalley bu acele ne          2
20729999              omalley bu milton wing          2
20730000  omalley buna cevap verecek zamanım          2
20730001       avukat ile görüşmek istiyorum          2

[20730002 rows x 2 columns]

In [14]:
df_more_one_word.to_csv("Sentence_More_Than_One_Word.csv", index=False)

#### Two Gram

In [49]:
df_more_one_word = pd.read_csv("Sentence_More_Than_One_Word.csv")
df_more_one_word

                                    sentence  frequency
0                            teşekkür ederim     244149
1                                    öyle mi     209900
2                                    ne oldu     195799
3                                aman tanrım     189521
4                               özür dilerim     153784
...                                      ...        ...
20729997      omalley bize buzsuz scotch ver          2
20729998                 omalley bu acele ne          2
20729999              omalley bu milton wing          2
20730000  omalley buna cevap verecek zamanım          2
20730001       avukat ile görüşmek istiyorum          2

[20730002 rows x 2 columns]

In [24]:
df_two_gram = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Data/Sentence/Two_Gram_And_Sentence.csv") # two_gram and sentence
df_two_gram

                  sentence
0          teşekkür ederim
1                  öyle mi
2                  ne oldu
3              aman tanrım
4             özür dilerim
...                    ...
1983957     omahayla görüş
1983958   omalley bahsetti
1983959  omalley farklıydı
1983960    omalley gidelim
1983961      omalley bekle

[1983962 rows x 1 columns]

In [25]:
set_more_one_word = set(df_more_one_word.iloc[:,0])

In [26]:
set_two_gram = set(df_two_gram.iloc[:,0])

In [27]:
set_more_two = set_more_one_word.difference(set_two_gram)

In [28]:
df_more_two = pd.DataFrame(set_more_two)
df_more_two.rename(columns={0:"sentence"}, inplace=True)
df_more_two

                                                   sentence
0                             biz rozetleri fırlatır atarız
1                              kullandığı isimse sammy khan
2         şova youre nobody till somebody loves youyla b...
3                     sanırım bu noktada herkese borcum var
4                             kurusıkı hayır hayır otomatik
...                                                     ...
18746035  biz bu yolculuğa başladığımız zaman hiçbir şey...
18746036      ben de gemidekiler için jacki uyarmaya geldim
18746037  kuzenim juris de orda olacak ve seninle tanışm...
18746038            karanlığın bu gecesinde benim olacaksın
18746039         kaybettiysen de sattıysan da o silah kayıp

[18746040 rows x 1 columns]

In [29]:
df_more_two_word = pd.merge(df_more_one_word, df_more_two, how='inner', on="sentence")
df_more_two_word

                                    sentence  frequency
0                        ne demek istiyorsun      55905
1                                   bu da ne      50098
2                          hayır hayır hayır      41386
3                              sen iyi misin      32965
4                        çok teşekkür ederim      27663
...                                      ...        ...
18746035      omalley bize buzsuz scotch ver          2
18746036                 omalley bu acele ne          2
18746037              omalley bu milton wing          2
18746038  omalley buna cevap verecek zamanım          2
18746039       avukat ile görüşmek istiyorum          2

[18746040 rows x 2 columns]

In [30]:
df_more_two_word.to_csv("Sentence_More_Than_Two_Word.csv", index=False)

#### Three Gram

In [2]:
df_more_two_word = pd.read_csv("Sentence_More_Than_Two_Word.csv")
df_more_two_word

                                    sentence  frequency
0                        ne demek istiyorsun      55905
1                                   bu da ne      50098
2                          hayır hayır hayır      41386
3                              sen iyi misin      32965
4                        çok teşekkür ederim      27663
...                                      ...        ...
18746035      omalley bize buzsuz scotch ver          2
18746036                 omalley bu acele ne          2
18746037              omalley bu milton wing          2
18746038  omalley buna cevap verecek zamanım          2
18746039       avukat ile görüşmek istiyorum          2

[18746040 rows x 2 columns]

In [31]:
df_three_gram = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Data/Sentence/Three_Gram_And_Sentence.csv")
df_three_gram

                             sentence
0                 ne demek istiyorsun
1                            bu da ne
2                   hayır hayır hayır
3                       sen iyi misin
4                 çok teşekkür ederim
...                               ...
4002302  omalley giderek yaşlanıyorum
4002303               dört yıl yatmış
4002304       omalley bundan bahsetti
4002305                 anne yine ben
4002306                 dört yıl vern

[4002307 rows x 1 columns]

In [32]:
set_more_two_word = set(df_more_two_word.iloc[:,0])
set_three_gram = set(df_three_gram.iloc[:,0])
set_more_three = set_more_two_word.difference(set_three_gram)

In [33]:
df_more_three = pd.DataFrame(set_more_three)
df_more_three.rename(columns={0:"sentence"}, inplace=True)
df_more_three

                                                   sentence
0                             biz rozetleri fırlatır atarız
1                              kullandığı isimse sammy khan
2         şova youre nobody till somebody loves youyla b...
3                     sanırım bu noktada herkese borcum var
4                             kurusıkı hayır hayır otomatik
...                                                     ...
14743728  biz bu yolculuğa başladığımız zaman hiçbir şey...
14743729      ben de gemidekiler için jacki uyarmaya geldim
14743730  kuzenim juris de orda olacak ve seninle tanışm...
14743731            karanlığın bu gecesinde benim olacaksın
14743732         kaybettiysen de sattıysan da o silah kayıp

[14743733 rows x 1 columns]

In [34]:
df_more_three_word = pd.merge(df_more_two_word, df_more_three, how='inner', on="sentence")
df_more_three_word

                                    sentence  frequency
0                         her şey yolunda mı      23401
1                           bir sorun mu var      14906
2                         burada ne işin var      14392
3                      ben de seni seviyorum      12348
4                     her şey yoluna girecek      11682
...                                      ...        ...
14743728      omalley bize buzsuz scotch ver          2
14743729                 omalley bu acele ne          2
14743730              omalley bu milton wing          2
14743731  omalley buna cevap verecek zamanım          2
14743732       avukat ile görüşmek istiyorum          2

[14743733 rows x 2 columns]

In [35]:
df_more_three_word.to_csv("Sentence_More_Than_Three_Word.csv", index=False)

#### Four Gram

In [47]:
df_more_three_word = pd.read_csv("Sentence_More_Than_Three_Word.csv")
df_more_three_word

                                    sentence  frequency
0                         her şey yolunda mı      23401
1                           bir sorun mu var      14906
2                         burada ne işin var      14392
3                      ben de seni seviyorum      12348
4                     her şey yoluna girecek      11682
...                                      ...        ...
14743728      omalley bize buzsuz scotch ver          2
14743729                 omalley bu acele ne          2
14743730              omalley bu milton wing          2
14743731  omalley buna cevap verecek zamanım          2
14743732       avukat ile görüşmek istiyorum          2

[14743733 rows x 2 columns]

In [36]:
df_four_gram = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Data/Sentence/Four_Gram_And_Sentence.csv")
df_four_gram

                              sentence
0                   her şey yolunda mı
1                     bir sorun mu var
2                   burada ne işin var
3                ben de seni seviyorum
4               her şey yoluna girecek
...                                ...
4354688            dört yıl zaman tanı
4354689       omalley bir adam öldürdü
4354690            omalley bu acele ne
4354691         omalley bu milton wing
4354692  avukat ile görüşmek istiyorum

[4354693 rows x 1 columns]

In [38]:
set_more_three_word = set(df_more_three_word.iloc[:,0])
set_four_gram = set(df_four_gram.iloc[:,0])
set_more_four = set_more_three_word.difference(set_four_gram)

In [39]:
df_more_four = pd.DataFrame(set_more_four)
df_more_four.rename(columns={0:"sentence"}, inplace=True)
df_more_four

                                                   sentence
0         şahin parkın oralarda yaşıyor pishkin binasını...
1         şova youre nobody till somebody loves youyla b...
2                     sanırım bu noktada herkese borcum var
3         lisedeyken scooterla çıkmadan önce o bile bend...
4         kavrulmuş venüs ile donmuş marsu karşılaştırdı...
...                                                     ...
10389035                       o ve bütün o kaşar orospular
10389036                         baba sen saçını mı boyadın
10389037  kuzenim juris de orda olacak ve seninle tanışm...
10389038            karanlığın bu gecesinde benim olacaksın
10389039         kaybettiysen de sattıysan da o silah kayıp

[10389040 rows x 1 columns]

In [40]:
df_more_four_word = pd.merge(df_more_three_word, df_more_four, how='inner', on="sentence")
df_more_four_word

                                            sentence  frequency
0                              bu da ne demek oluyor       4633
1                               başka bir şey var mı       4264
2                       sana bir şey sorabilir miyim       2744
3                   sana bir şey göstermek istiyorum       2376
4                               bu da ne demek şimdi       2360
...                                              ...        ...
10389035  omalley bana mektubunu düşürdüğünü söyledi          2
10389036       omalley biliyor bailey neden bilmesin          2
10389037            dört yıl yalede eğitim alacaksın          2
10389038              omalley bize buzsuz scotch ver          2
10389039          omalley buna cevap verecek zamanım          2

[10389040 rows x 2 columns]

In [41]:
df_more_four_word.to_csv("Sentence_More_Than_Four_Word.csv", index=False)

#### Five Gram

In [48]:
df_more_four_word = pd.read_csv("Sentence_More_Than_Four_Word.csv")
df_more_four_word

                                            sentence  frequency
0                              bu da ne demek oluyor       4633
1                               başka bir şey var mı       4264
2                       sana bir şey sorabilir miyim       2744
3                   sana bir şey göstermek istiyorum       2376
4                               bu da ne demek şimdi       2360
...                                              ...        ...
10389035  omalley bana mektubunu düşürdüğünü söyledi          2
10389036       omalley biliyor bailey neden bilmesin          2
10389037            dört yıl yalede eğitim alacaksın          2
10389038              omalley bize buzsuz scotch ver          2
10389039          omalley buna cevap verecek zamanım          2

[10389040 rows x 2 columns]

In [42]:
df_five_gram = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Data/Sentence/Five_Gram_And_Sentence.csv")
df_five_gram

                                           sentence
0                             bu da ne demek oluyor
1                              başka bir şey var mı
2                      sana bir şey sorabilir miyim
3                  sana bir şey göstermek istiyorum
4                              bu da ne demek şimdi
...                                             ...
3494757  omalley bana mektubunu düşürdüğünü söyledi
3494758       omalley biliyor bailey neden bilmesin
3494759            dört yıl yalede eğitim alacaksın
3494760              omalley bize buzsuz scotch ver
3494761          omalley buna cevap verecek zamanım

[3494762 rows x 1 columns]

In [43]:
set_more_four_word = set(df_more_four_word.iloc[:,0])
set_five_gram = set(df_five_gram.iloc[:,0])
set_more_five = set_more_four_word.difference(set_five_gram)

In [44]:
df_more_five = pd.DataFrame(set_more_five)
df_more_five.rename(columns={0:"sentence"}, inplace=True)
df_more_five

                                                  sentence
0        şahin parkın oralarda yaşıyor pishkin binasını...
1             joe bana lider deyin dediğimi hatırlamıyorum
2        şova youre nobody till somebody loves youyla b...
3                    sanırım bu noktada herkese borcum var
4        lisedeyken scooterla çıkmadan önce o bile bend...
...                                                    ...
6894273  i̇çeceğiz aya karşı uluyacağız ve yaramazlık y...
6894274                       o ve bütün o kaşar orospular
6894275  charming california bu sabah bir inşaatta dört...
6894276  kuzenim juris de orda olacak ve seninle tanışm...
6894277         kaybettiysen de sattıysan da o silah kayıp

[6894278 rows x 1 columns]

In [45]:
df_more_five_word = pd.merge(df_more_four_word, df_more_five, how='inner', on="sentence")
df_more_five_word

                                                  sentence  frequency
0                        sana söylemem gereken bir şey var       2296
1                               daha iyi bir fikrin var mı       1615
2                  bunun iyi bir fikir olduğunu sanmıyorum       1269
3                            baba oğul ve kutsal ruh adına       1116
4                               onu en son ne zaman gördün        853
...                                                    ...        ...
6894273                      dört yıl tek bir yazı için mi          2
6894274  omalley doğdum diye omalley olarak ölmek zorun...          2
6894275  omalley dr torres bugün seni ortopedide görmek...          2
6894276                 dört yıl uzun bir süre farkındayız          2
6894277                           dört yıl ve altı ay önce          2

[6894278 rows x 2 columns]

In [46]:
df_more_four_word.to_csv("Sentence_More_Than_Five_Word.csv", index=False)