### Quaran Tanzil Analysis

In [1]:
import pandas as pd
import numpy as np
import re
import camel_tools.tokenizers.word
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter

In [2]:
# buckwalter text clean for simple before transString
def clean_ex(text):
    buckwalter_out = re.sub(r'''([PJVG\.:;,!\+\^\]\[@#FNKauio`~"%-])''', "", text) # difference from clean
    return buckwalter_out

In [3]:
# Arabic Encoding Extended
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2uni = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "}": u"\u0626", # hamza-on-yaa'
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "F": u"\u064B", # fatHatayn
            "N": u"\u064C", # Dammatayn
            "K": u"\u064D", # kasratayn
            "a": u"\u064E", # fatHa
            "u": u"\u064F", # Damma
            "i": u"\u0650", # kasra
            "~": u"\u0651", # shaddah
            "o": u"\u0652", # sukuun
            "^": u"\u0653", # maddah
            "#": u"\u0654", # hamzaabove            
            "`": u"\u0670", # dagger 'alif
            "{": u"\u0671", # waSla
            "P": u"\u067E", # arabicletterpeh
            "J": u"\u0686", 
            "V": u"\u06A4", # arabicletterveh
            "G": u"\u06AF", # arabiclettergaf
            ":": u"\u06DC", # smallhighseen
            "@": u"\u06DF", # smallhighroundedzero
            "\"": u"\u06E0", # smallhighuprightrectangularzero
            "[": u"\u06E2", # smallhighmeemisolatedform
            ";": u"\u06E3", # smalllowseen
            ",": u"\u06E5", # smallwaw
            ".": u"\u06E6", # smallya
            "!": u"\u06E8", # smallhighnoon
            "-": u"\u06EA", # emptycentrelowstop
            "+": u"\u06EB", # emptycentrehighstop
            "%": u"\u06EC", # roundedhighstopwithfilledcentre
            "]": u"\u06ED", # smalllowmeem           
}

def transString(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2uni.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [4]:
type_file = "plain" # plain, minimal, clean

In [5]:
#type_file.lower().capitalize()

'Plain'

In [6]:
with open(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Data/Quran Simple {type_file.lower().capitalize()}.txt", "r", encoding="utf8") as file: # Quran Simple Clean.txt from Tanzil website
    arabic_text_simple =file.readlines()

In [7]:
df_tanzil_sent = pd.DataFrame(arabic_text_simple)
df_tanzil_sent = df_tanzil_sent.iloc[0:6236,]
df_tanzil_sent

                                                    0
0        1|1|بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ\n
1         1|2|الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ\n
2                       1|3|الرَّحْمَٰنِ الرَّحِيمِ\n
3                       1|4|مَالِكِ يَوْمِ الدِّينِ\n
4      1|5|إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ\n
...                                               ...
6231                          114|2|مَلِكِ النَّاسِ\n
6232                         114|3|إِلَٰهِ النَّاسِ\n
6233      114|4|مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ\n
6234  114|5|الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ\n
6235               114|6|مِنَ الْجِنَّةِ وَالنَّاسِ\n

[6236 rows x 1 columns]

In [8]:
df_tanzil_sent = pd.DataFrame(df_tanzil_sent.iloc[:,0].apply(lambda x: x.strip("\n")))
df_tanzil_sent

                                                  0
0        1|1|بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
1         1|2|الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
2                       1|3|الرَّحْمَٰنِ الرَّحِيمِ
3                       1|4|مَالِكِ يَوْمِ الدِّينِ
4      1|5|إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...                                             ...
6231                          114|2|مَلِكِ النَّاسِ
6232                         114|3|إِلَٰهِ النَّاسِ
6233      114|4|مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ
6234  114|5|الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ
6235               114|6|مِنَ الْجِنَّةِ وَالنَّاسِ

[6236 rows x 1 columns]

In [9]:
df_tanzil_sent_nav = df_tanzil_sent.iloc[:,0].str.split("|", n=-1, expand=True)
df_tanzil_sent_nav.rename(columns={0:"num_1",1:"num_2",2:f"arabic_sent_tanzil_{type_file.lower()}"}, inplace=True)
df_tanzil_sent_nav

     num_1 num_2                  arabic_sent_tanzil_plain
0        1     1    بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
1        1     2     الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
2        1     3                   الرَّحْمَٰنِ الرَّحِيمِ
3        1     4                   مَالِكِ يَوْمِ الدِّينِ
4        1     5  إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...    ...   ...                                       ...
6231   114     2                           مَلِكِ النَّاسِ
6232   114     3                          إِلَٰهِ النَّاسِ
6233   114     4       مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ
6234   114     5   الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ
6235   114     6                مِنَ الْجِنَّةِ وَالنَّاسِ

[6236 rows x 3 columns]

In [10]:
df_tanzil_sent_nav[f"buckwalter_sent_tanzil_{type_file.lower()}"] = df_tanzil_sent_nav.iloc[:,2].apply(lambda x: transString(x, 0))
df_tanzil_sent_nav

,num_1,num_2,arabic_sent_tanzil_plain,buckwalter_sent_tanzil_plain
0,1,1,بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ,bisomi All~ahi Alr~aHoma`ni Alr~aHiymi
1,1,2,الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ,AloHamodu lil~ahi rab~i AloEaAlamiyna
2,1,3,الرَّحْمَٰنِ الرَّحِيمِ,Alr~aHoma`ni Alr~aHiymi
3,1,4,مَالِكِ يَوْمِ الدِّينِ,maAliki yawomi Ald~iyni
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...,...,...,...,...
6231,114,2,مَلِكِ النَّاسِ,maliki Aln~aAsi
6232,114,3,إِلَٰهِ النَّاسِ,<ila`hi Aln~aAsi
6233,114,4,مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ,mino $ar~i AlowasowaAsi Aloxan~aAsi
6234,114,5,الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ,Al~a*iy yuwasowisu fiy Suduwri Aln~aAsi
6235,114,6,مِنَ الْجِنَّةِ وَالنَّاسِ,mina Alojin~api waAln~aAsi

In [11]:
df_tanzil_sent_nav.to_excel(f"Arabic_And_Buckwalter_Sent_Tanzil_{type_file.lower().capitalize()}.xlsx", sheet_name=f"Arabic_And_Buckwalter_{type_file.lower().capitalize()}", index=False, encoding="utf-8")

In [12]:
# Word Navigation
nav_list = []
for i in range(len(df_tanzil_sent_nav)):
    num_1 = df_tanzil_sent_nav.iloc[i,0]
    num_2 = df_tanzil_sent_nav.iloc[i,1]
    token = camel_tools.tokenizers.word.simple_word_tokenize(df_tanzil_sent_nav.iloc[i,2])
    for j in range(len(token)):
        num_3 = j+1
        word = token[j]
        nav_list.append([num_1,num_2,num_3,word])

In [13]:
df_tanzil_word_nav = pd.DataFrame(nav_list)
df_tanzil_word_nav.rename(columns={0:"num_1",1:"num_2",2:"num_3",3:f"arabic_word_tanzil_{type_file.lower()}"}, inplace=True)
df_tanzil_word_nav

      num_1 num_2  num_3 arabic_word_tanzil_plain
0         1     1      1                   بِسْمِ
1         1     1      2                  اللَّهِ
2         1     1      3             الرَّحْمَٰنِ
3         1     1      4               الرَّحِيمِ
4         1     2      1                الْحَمْدُ
...     ...   ...    ...                      ...
78243   114     5      4                  صُدُورِ
78244   114     5      5                 النَّاسِ
78245   114     6      1                     مِنَ
78246   114     6      2               الْجِنَّةِ
78247   114     6      3               وَالنَّاسِ

[78248 rows x 4 columns]

In [14]:
df_tanzil_word_nav[f"buckwalter_word_tanzil_{type_file.lower()}"] = df_tanzil_word_nav.iloc[:,3].apply(lambda x: transString(x, 0))
df_tanzil_word_nav

      num_1 num_2  num_3 arabic_word_tanzil_plain buckwalter_word_tanzil_plain
0         1     1      1                   بِسْمِ                       bisomi
1         1     1      2                  اللَّهِ                      All~ahi
2         1     1      3             الرَّحْمَٰنِ                 Alr~aHoma`ni
3         1     1      4               الرَّحِيمِ                   Alr~aHiymi
4         1     2      1                الْحَمْدُ                    AloHamodu
...     ...   ...    ...                      ...                          ...
78243   114     5      4                  صُدُورِ                      Suduwri
78244   114     5      5                 النَّاسِ                     Aln~aAsi
78245   114     6      1                     مِنَ                         mina
78246   114     6      2               الْجِنَّةِ                   Alojin~api
78247   114     6      3               وَالنَّاسِ                   waAln~aAsi

[78248 rows x 5 columns]

In [15]:
df_tanzil_word_nav.to_excel(f"Arabic_And_Buckwalter_Word_Tanzil_{type_file.lower().capitalize()}.xlsx", sheet_name=f"Arabic_And_Buckwalter_{type_file.lower().capitalize()}", index=False, encoding="utf-8")

#### Frequency

In [16]:
df_tanzil_word_freq = pd.DataFrame(df_tanzil_word_nav.iloc[:,3].value_counts(ascending=False))
df_tanzil_word_freq = df_tanzil_word_freq.reset_index()
df_tanzil_word_freq.rename(columns={"index":f"arabic_word_tanzil_{type_file.lower()}",f"arabic_word_tanzil_{type_file.lower()}":"frequency"}, inplace=True)
df_tanzil_word_freq

      arabic_word_tanzil_plain  frequency
0                         مِنْ       1673
1                          فِي       1185
2                          مَا       1013
3                      اللَّهِ        940
4                          لَا        812
...                        ...        ...
17612                  سَبِيلٌ          1
17613                  تَبِيدَ          1
17614                   دُمْتَ          1
17615                 رُدِدْتُ          1
17616               يُوَسْوِسُ          1

[17617 rows x 2 columns]

In [17]:
df_tanzil_word_freq[f"buckwalter_word_tanzil_{type_file.lower()}"] = df_tanzil_word_freq.iloc[:,0].apply(lambda x: transString(x, 0))
df_tanzil_word_freq = df_tanzil_word_freq.iloc[:,[0,2,1]]
df_tanzil_word_freq

      arabic_word_tanzil_plain buckwalter_word_tanzil_plain  frequency
0                         مِنْ                         mino       1673
1                          فِي                          fiy       1185
2                          مَا                          maA       1013
3                      اللَّهِ                      All~ahi        940
4                          لَا                          laA        812
...                        ...                          ...        ...
17612                  سَبِيلٌ                      sabiylN          1
17613                  تَبِيدَ                      tabiyda          1
17614                   دُمْتَ                       dumota          1
17615                 رُدِدْتُ                     rudidotu          1
17616               يُوَسْوِسُ                   yuwasowisu          1

[17617 rows x 3 columns]

In [18]:
df_tanzil_word_select = df_tanzil_word_freq.head(1000)
df_tanzil_word_select

    arabic_word_tanzil_plain buckwalter_word_tanzil_plain  frequency
0                       مِنْ                         mino       1673
1                        فِي                          fiy       1185
2                        مَا                          maA       1013
3                    اللَّهِ                      All~ahi        940
4                        لَا                          laA        812
..                       ...                          ...        ...
995              اخْتَلَفُوا                  AxotalafuwA          9
996          فَلْيَتَوَكَّلِ              faloyatawak~ali          9
997                   قَضَىٰ                       qaDaY`          9
998                 يَخْرُجُ                     yaxoruju          9
999                 وَبَيْنَ                     wabayona          9

[1000 rows x 3 columns]

In [19]:
df_tanzil_word_select_merge_nav = pd.merge(df_tanzil_word_select, df_tanzil_word_nav, how="inner", on=f"arabic_word_tanzil_{type_file.lower()}")
df_tanzil_word_select_merge_nav

,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain_x,frequency,num_1,num_2,num_3,buckwalter_word_tanzil_plain_y
0,مِنْ,mino,1673,2,4,8,mino
1,مِنْ,mino,1673,2,5,4,mino
2,مِنْ,mino,1673,2,21,9,mino
3,مِنْ,mino,1673,2,23,11,mino
4,مِنْ,mino,1673,2,23,15,mino
...,...,...,...,...,...,...,...
48455,وَبَيْنَ,wabayona,9,34,18,3,wabayona
48456,وَبَيْنَ,wabayona,9,34,54,3,wabayona
48457,وَبَيْنَ,wabayona,9,37,158,3,wabayona
48458,وَبَيْنَ,wabayona,9,55,44,3,wabayona
48459,وَبَيْنَ,wabayona,9,60,7,6,wabayona

In [20]:
df_tanzil_word_select_merge_nav = df_tanzil_word_select_merge_nav[["num_1","num_2","num_3",f"arabic_word_tanzil_{type_file.lower()}",f"buckwalter_word_tanzil_{type_file.lower()}_x","frequency"]]
df_tanzil_word_select_merge_nav.rename(columns={f"buckwalter_word_tanzil_{type_file.lower()}_x":f"buckwalter_word_tanzil_{type_file.lower()}"}, inplace=True)
df_tanzil_word_select_merge_nav

/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,num_1,num_2,num_3,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,frequency
0,2,4,8,مِنْ,mino,1673
1,2,5,4,مِنْ,mino,1673
2,2,21,9,مِنْ,mino,1673
3,2,23,11,مِنْ,mino,1673
4,2,23,15,مِنْ,mino,1673
...,...,...,...,...,...,...
48455,34,18,3,وَبَيْنَ,wabayona,9
48456,34,54,3,وَبَيْنَ,wabayona,9
48457,37,158,3,وَبَيْنَ,wabayona,9
48458,55,44,3,وَبَيْنَ,wabayona,9
48459,60,7,6,وَبَيْنَ,wabayona,9

In [21]:
df_tanzil_word_select_merge_nav["nav"] = df_tanzil_word_select_merge_nav["num_1"].astype("str")+":"+df_tanzil_word_select_merge_nav["num_2"].astype("str")+":"+df_tanzil_word_select_merge_nav["num_3"].astype("str")
df_tanzil_word_select_merge_nav

,num_1,num_2,num_3,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,frequency,nav
0,2,4,8,مِنْ,mino,1673,2:4:8
1,2,5,4,مِنْ,mino,1673,2:5:4
2,2,21,9,مِنْ,mino,1673,2:21:9
3,2,23,11,مِنْ,mino,1673,2:23:11
4,2,23,15,مِنْ,mino,1673,2:23:15
...,...,...,...,...,...,...,...
48455,34,18,3,وَبَيْنَ,wabayona,9,34:18:3
48456,34,54,3,وَبَيْنَ,wabayona,9,34:54:3
48457,37,158,3,وَبَيْنَ,wabayona,9,37:158:3
48458,55,44,3,وَبَيْنَ,wabayona,9,55:44:3
48459,60,7,6,وَبَيْنَ,wabayona,9,60:7:6

In [22]:
df_tanzil_word_select_merge_nav.to_excel(f"Arabic_{type_file.lower().capitalize()}_Navigation_Tanzil.xlsx", sheet_name=f"Arabic_{type_file.lower().capitalize()}_Navigation", index=False)

In [23]:
df_tanzil_word_simple_nav = df_tanzil_word_select_merge_nav.groupby([f"arabic_word_tanzil_{type_file.lower()}",f"buckwalter_word_tanzil_{type_file.lower()}","frequency"])["nav"].apply(", ".join).reset_index().sort_values(by="frequency", ascending=False)
df_tanzil_word_simple_nav.reset_index(drop=True, inplace=True)
df_tanzil_word_simple_nav

,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,frequency,nav
0,مِنْ,mino,1673,"2:4:8, 2:5:4, 2:21:9, 2:23:11, 2:23:15, 2:25:1..."
1,فِي,fiy,1185,"2:10:1, 2:11:6, 2:15:5, 2:17:14, 2:19:11, 2:23..."
2,مَا,maA,1013,"2:17:8, 2:26:8, 2:27:9, 2:29:5, 2:30:26, 2:32:..."
3,اللَّهِ,All~ahi,940,"1:1:2, 2:1:2, 2:23:17, 2:27:4, 2:60:23, 2:61:4..."
4,لَا,laA,812,"2:2:3, 2:6:10, 2:11:4, 2:12:6, 2:13:18, 2:17:1..."
...,...,...,...,...
995,الْقَوْلِ,Aloqawoli,9,"4:108:16, 4:148:7, 6:112:14, 7:205:10, 13:33:2..."
996,الْمَلَائِكَةَ,AlomalaA}ikapa,9,"3:80:5, 6:111:5, 15:8:3, 16:2:2, 25:22:3, 37:1..."
997,دِيَارِهِمْ,diyaArihimo,9,"2:85:10, 2:243:7, 3:195:21, 8:47:6, 11:67:7, 1..."
998,يَخْرُجُ,yaxoruju,9,"7:58:3, 7:58:10, 16:69:10, 24:43:15, 30:48:16,..."
999,جُنَاحٌ,junaAHN,9,"2:198:3, 2:282:106, 4:101:7, 5:93:7, 24:29:3, ..."

In [24]:
df_tanzil_word_simple_nav.to_excel(f"Arabic_{type_file.lower().capitalize()}_Frequency_Navigation_Tanzil.xlsx", sheet_name=f"Arabic_{type_file.lower().capitalize()}_Frequency", index=False)