### Shared Word From Turkish Result

In [41]:
import re
import pandas as pd
import numpy as np
import glob
import nltk
import os
from pathlib import Path
import shutil

In [42]:
# language pair
lang_target = "German"  # Arabic, English, French, German, Spanish, Portuguese, Dutch, Italian
lang_pair = "Spanish"  # Arabic, English, French, German, Spanish, Portuguese, Dutch, Italian

In [43]:
df_lang1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish {lang_target.capitalize()}/Turkish_{lang_target.capitalize()}_Shared_Vocabulary.xlsx")
df_lang1

     dict_entry_main  german_word
0          enteresan  interessant
1              süper        super
2               boks        boxen
3              komik        comic
4              aktif        aktiv
...              ...          ...
1454           zebra        zebra
1455          zikzak     zickzack
1456           zombi       zombie
1457         zooloji     zoologie
1458             zum       zoomen

[1459 rows x 2 columns]

In [44]:
df_lang2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish {lang_pair.capitalize()}/Turkish_{lang_pair.capitalize()}_Shared_Vocabulary.xlsx")
df_lang2

     dict_entry_main spanish_word
0               grup        grupo
1              masaj       masaje
2            oksijen      oxígeno
3           bisiklet    bicicleta
4                duş        ducha
...              ...          ...
1525           zebra        cebra
1526          zikzak       zigzag
1527           zombi        zombi
1528         zooloji     zoología
1529             zum         zoom

[1530 rows x 2 columns]

In [45]:
df_shared_result = pd.merge(df_lang1, df_lang2, how="inner", on="dict_entry_main")
df_shared_result.drop_duplicates(inplace=True)
df_shared_result.drop(["dict_entry_main"], axis=1, inplace=True)
df_shared_result.rename(columns={f"{lang_target.lower()}_word":"dict_entry_main"}, inplace=True)
df_shared_result

     dict_entry_main spanish_word
0        interessant  interesante
1              super        súper
2              boxen        boxeo
3              comic        cómic
4              aktiv       activo
...              ...          ...
1252           zebra        cebra
1253        zickzack       zigzag
1254          zombie        zombi
1255        zoologie     zoología
1256          zoomen         zoom

[1251 rows x 2 columns]