### Shared Word From Turkish Result

In [46]:
import re
import pandas as pd
import numpy as np
import glob
import nltk
import os
from pathlib import Path
import shutil

In [47]:
# language pair
lang_target = "English"  # Arabic, English, French, German, Spanish, Portuguese, Dutch, Italian
lang_pair = "German"  # Arabic, English, French, German, Spanish, Portuguese, Dutch, Italian

In [48]:
df_lang1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish {lang_target.capitalize()}/Turkish_{lang_target.capitalize()}_Shared_Vocabulary.xlsx")
df_lang1

     dict_entry_main english_word
0             abaküs       abacus
1             abluka     blockade
2            absorbe       absorb
3             absürt       absurd
4             açelya       azalea
...              ...          ...
1773           zebra        zebra
1774          zikzak       zigzag
1775           zombi       zombie
1776         zooloji      zoology
1777             zum         zoom

[1778 rows x 2 columns]

In [49]:
df_lang2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish {lang_pair.capitalize()}/Turkish_{lang_pair.capitalize()}_Shared_Vocabulary.xlsx")
df_lang2

     dict_entry_main  german_word
0          enteresan  interessant
1              süper        super
2               boks        boxen
3              komik        comic
4              aktif        aktiv
...              ...          ...
1454           zebra        zebra
1455          zikzak     zickzack
1456           zombi       zombie
1457         zooloji     zoologie
1458             zum       zoomen

[1459 rows x 2 columns]

In [50]:
df_shared_result = pd.merge(df_lang1, df_lang2, how="inner", on="dict_entry_main")
df_shared_result.drop_duplicates(inplace=True)
df_shared_result.drop(["dict_entry_main"], axis=1, inplace=True)
df_shared_result.rename(columns={f"{lang_target.lower()}_word":"dict_entry_main"}, inplace=True)
df_shared_result

     dict_entry_main  german_word
0             abacus       abakus
1           blockade     blockade
2             absorb  absorbieren
3             absurd       absurd
4             azalea       azalee
...              ...          ...
1388           zebra        zebra
1389          zigzag     zickzack
1390          zombie       zombie
1391         zoology     zoologie
1392            zoom       zoomen

[1390 rows x 2 columns]

#### Arabic Part

In [276]:
# custom character alphabet for word
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا/]+", re.IGNORECASE|re.UNICODE) # Arabic

In [277]:
def clean_text(text,custom_alp):
    #text_clean = re.findall(custom_alp, text)
    text_clean = re.findall(custom_alp, str(text))
    text_result = " ".join(text_clean)
    #text_result_list = re.findall(r"\w+",text_result, re.IGNORECASE|re.UNICODE)
    return text_result

In [278]:
def lower_strip_func(x):
    try:
        var_low = x.lower()
        var_out1 = var_low.strip()
        var_out2 = var_out1.strip("//")
    except:
        var_out2 = x
    return var_out2

In [279]:
df_arabic_word = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/Arapca Kelimeler.xlsx", sheet_name="arapca")
df_arabic_word

          word                                              koken
0          aba  Arapça abāˀ veya ḳabāˀ أباء/قباء  "yünden yap...
1      abanmak  Arapça mlw kökünden gelen imlāˀ إملاء  "dikte ...
2          abd  Arapça ˁbd kökünden gelen ˁabd عبد  "kul, köle...
3        abdal  Arapça abdāl أبدال  "1. bedeller, 2. sufi düşü...
4         abes  Arapça ˁbs̠ kökünden gelen ˁabas̠ عبث  "boşa v...
...        ...                                                ...
4102     zümre  Arapça zmr kökünden gelen zumrat زمرة  "küme, ...
4103    zünnar  Arapça znr kökünden gelen zunnār زنّار  "Mecus...
4104    zürafa  Arapça zrf kökünden gelen zurāfat زرافة  "Afri...
4105    zürefa  Arapça ẓurafā ظرفا  "zarifler, kibar kişiler"...
4106  zürriyet  Arapça ḏrr kökünden gelen ḏurriyyat ذرّيّة  "t...

[4107 rows x 2 columns]

In [275]:
df_arabic_word["len"] = df_arabic_word["koken"].apply(lambda x: len(x))
df_arabic_word

          word                                              koken  len
0          aba  Arapça abāˀ veya ḳabāˀ أباء/قباء  "yünden yap...  229
1      abanmak  Arapça mlw kökünden gelen imlāˀ إملاء  "dikte ...  352
2          abd  Arapça ˁbd kökünden gelen ˁabd عبد  "kul, köle...  257
3        abdal  Arapça abdāl أبدال  "1. bedeller, 2. sufi düşü...  262
4         abes  Arapça ˁbs̠ kökünden gelen ˁabas̠ عبث  "boşa v...   92
...        ...                                                ...  ...
4102     zümre  Arapça zmr kökünden gelen zumrat زمرة  "küme, ...   95
4103    zünnar  Arapça znr kökünden gelen zunnār زنّار  "Mecus...  314
4104    zürafa  Arapça zrf kökünden gelen zurāfat زرافة  "Afri...  148
4105    zürefa  Arapça ẓurafā ظرفا  "zarifler, kibar kişiler"...  188
4106  zürriyet  Arapça ḏrr kökünden gelen ḏurriyyat ذرّيّة  "t...  225

[4107 rows x 3 columns]

In [265]:
len_mean = df_arabic_word["len"].mean()
len_mean

206.02142683223764

In [266]:
def len_select(string,start,end):
    try:
        string = string[start:end]
    except:
        string = string
    return string

In [267]:
df_arabic_word["koken"] = df_arabic_word["koken"].apply(lambda x: len_select(x,0,len_mean))

In [268]:
df_arabic_word

          word                                              koken  len
0          aba  Arapça abāˀ veya ḳabāˀ أباء/قباء  "yünden yap...  229
1      abanmak  Arapça mlw kökünden gelen imlāˀ إملاء  "dikte ...  352
2          abd  Arapça ˁbd kökünden gelen ˁabd عبد  "kul, köle...  257
3        abdal  Arapça abdāl أبدال  "1. bedeller, 2. sufi düşü...  262
4         abes  Arapça ˁbs̠ kökünden gelen ˁabas̠ عبث  "boşa v...   92
...        ...                                                ...  ...
4102     zümre  Arapça zmr kökünden gelen zumrat زمرة  "küme, ...   95
4103    zünnar  Arapça znr kökünden gelen zunnār زنّار  "Mecus...  314
4104    zürafa  Arapça zrf kökünden gelen zurāfat زرافة  "Afri...  148
4105    zürefa  Arapça ẓurafā ظرفا  "zarifler, kibar kişiler"...  188
4106  zürriyet  Arapça ḏrr kökünden gelen ḏurriyyat ذرّيّة  "t...  225

[4107 rows x 3 columns]

In [281]:
df_arabic_word.loc[:,"koken"] = df_arabic_word.loc[:,"koken"].apply(lambda x: clean_text(x, ar))
df_arabic_word.dropna(inplace=True)
df_arabic_word.drop(df_arabic_word[df_arabic_word.iloc[:,0] == ""].index, inplace=True)
df_arabic_word["word"] = df_arabic_word["word"].apply(lambda x: lower_strip_func(x))
df_arabic_word["koken"] = df_arabic_word["koken"].apply(lambda x: lower_strip_func(x))
df_arabic_word.drop_duplicates(subset="word", inplace=True)
df_arabic_word.reset_index(drop=True, inplace=True)
#df_arabic_word.drop("len", axis=1, inplace=True)
df_arabic_word

          word       koken
0          aba   أباء/قباء
1      abanmak      إملاء
2          abd         عبد
3        abdal   أبدال بدل
4         abes         عبث
...        ...         ...
4082     zümre        زمرة
4083    zünnar       زنّار
4084    zürafa       زرافة
4085    zürefa   ظرفا ظريف
4086  zürriyet  ذرّيّة ذرّ

[4087 rows x 2 columns]

In [282]:
df_arabic_word.to_excel("Turkish_Arabic_Words_All_Mean.xlsx", index=False)

In [283]:
df_arabic_word["koken"] = df_arabic_word["koken"].str.split(" ", n=-1, expand=True)[0]
df_arabic_word

          word      koken
0          aba  أباء/قباء
1      abanmak      إملاء
2          abd        عبد
3        abdal      أبدال
4         abes        عبث
...        ...        ...
4082     zümre       زمرة
4083    zünnar      زنّار
4084    zürafa      زرافة
4085    zürefa       ظرفا
4086  zürriyet     ذرّيّة

[4087 rows x 2 columns]

In [284]:
df_arabic_word.to_excel("Turkish_Arabic_Words_First_Mean.xlsx", index=False)