### Levels

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [4]:
folder_name = "Turkish"
level = "Level 2"  # Level 1, Level 2 ...

#### Levels

In [6]:
word_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Word*")
word_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Word_206.xlsx']

In [9]:
df_word_level = pd.read_excel(f"{word_file[0]}")
df_word_level

        word  frequency
0        bir   18835735
1         bu   11062659
2         ne    8025880
3         ve    7766036
4       için    5484109
..       ...        ...
201    neler     397377
202    ister     396177
203     emin     395177
204      pek     394663
205  gidelim     392369

[206 rows x 2 columns]

In [7]:
sent_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Sentence*")
sent_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Sentence_40181_With_206_Word.xlsx']

In [8]:
df_sent_level = pd.read_excel(f"{sent_file[0]}")
df_sent_level

                         sentence  frequency               code
0                            evet    1948596   G1-L4-F1948596-0
1                           hayır    1250401   G1-L5-F1250401-2
2                           tamam     882921    G1-L5-F882921-3
3                              ne     753105    G1-L2-F753105-4
4                     teşekkürler     343527   G1-L11-F343527-5
...                           ...        ...                ...
40176  ama bu ne demek bilmiyorum          6  G5-L26-F6-2897436
40177   gerçekten yine de üzgünüm          6  G4-L25-F6-2830768
40178                  ve biliyor          6  G2-L10-F6-2884052
40179      gerçekten çok iyi para          6  G4-L22-F6-2897481
40180        bir dakika biliyorum          6  G3-L20-F6-2913958

[40181 rows x 3 columns]

In [10]:
twogram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Twogram*")
twogram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Twogram_26592_With_206_Word.xlsx']

In [12]:
df_twogram_level = pd.read_excel(f"{twogram_file[0]}")
df_twogram_level

                twogram  frequency
0               bir şey     859944
1              değil mi     585879
2                ben de     377765
3       teşekkür ederim     370619
4               ne oldu     322758
...                 ...        ...
26587    onları benimle          6
26588  artık istiyorsun          6
26589       yani şeyler          6
26590     harika onları          6
26591          iki size          6

[26592 rows x 2 columns]

In [13]:
threegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Threegram*")
threegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Threegram_106715_With_206_Word.xlsx']

In [14]:
df_threegram_level = pd.read_excel(f"{threegram_file[0]}")
df_threegram_level

                   threegram  frequency
0                bir şey yok     113165
1                bir şey var     110455
2                   bu da ne      89463
3              başka bir şey      75193
4          hayır hayır hayır      69443
...                      ...        ...
106710   olarak buraya nasıl         10
106711           var ki sizi         10
106712         gece tam sana         10
106713        var işte böyle         10
106714  tamam neden olduğunu         10

[106715 rows x 2 columns]

In [15]:
fourgram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Fourgram*")
fourgram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Fourgram_74129_With_206_Word.xlsx']

In [16]:
df_fourgram_level = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram_level

                        fourgram  frequency
0                 bir şey var mı      41773
1               bir sorun mu var      21423
2                 bu da ne demek      16884
3                en son ne zaman      15141
4              başka bir şey var      12619
...                          ...        ...
74124        pekala belki sen de          7
74125   pekala benim sadece daha          7
74126   birkaç dakika içinde onu          7
74127    pekala biliyor musun ne          7
74128  biliyor olabilir tamam mı          7

[74129 rows x 2 columns]

In [17]:
fivegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/Fivegram*")
fivegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Fivegram_14845_With_206_Word.xlsx']

In [18]:
df_fivegram_level = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram_level

                              fivegram  frequency
0                 başka bir şey var mı      14104
1                bu da ne demek oluyor      10205
2                 bu da ne demek şimdi       4791
3        hayır hayır hayır hayır hayır       4380
4      bunun ne olduğunu biliyor musun       4019
...                                ...        ...
14840       sadece nasıl oldu da bütün         10
14841             de belki bir gün onu         10
14842       ben sana yardım ederim sen         10
14843           ama bunu hiç bir zaman         10
14844       burada bir şey yok efendim         10

[14845 rows x 2 columns]

##### Select N Gram And Sentence For Lessons

In [15]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [16]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [17]:
word_num = 206
df_select = df_word_level.iloc[0:word_num,]
df_select

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900
20   bana    2659182
21    yok    2491685
22    onu    2486889
23   seni    2454988
24   beni    2446696
25   bunu    2445337
26   gibi    2427957
27    iyi    2383224

In [18]:
word_list = df_select["word"].values.tolist()

In [19]:
sent_ngram_file = "Two" # Two, Three, Four, Five
data_kind = f"{sent_ngram_file}gram" # Twogram, Threegram, Fourgram, Fivegram

In [20]:
df_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/{data_kind.lower().capitalize()}*")
df_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Twogram_711_With_28_Word.xlsx']

In [21]:
df = pd.read_excel(f"{df_file[0]}")
df

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
706       şey da          6
707       çok de          6
708   gibi kadar          6
709    çok hayır          6
710   evet kadar          6

[711 rows x 2 columns]

In [22]:
d_list  = df.iloc[:,0].values.tolist()

In [23]:
resultlist = []

In [24]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [25]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
706    bir kadar          6
707       yok mı          6
708    yok kadar          6
709       ama mı          6
710      bu için          6

[711 rows x 2 columns]

In [26]:
df_sent_ngram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/N Gram/N Gram And Sentence/{sent_ngram_file}*")
df_sent_ngram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv']

In [27]:
df_sent_ngram = pd.read_csv(f"{df_sent_ngram_file[0]}")
df_sent_ngram.rename(columns={df_sent_ngram.columns[0]:f"{data_kind.lower()}"}, inplace=True)
df_sent_ngram = df_sent_ngram[[f"{data_kind.lower()}"]]
df_sent_ngram

                    twogram
0           teşekkür ederim
1                   öyle mi
2                   ne oldu
3               aman tanrım
4              özür dilerim
...                     ...
33445      arenadaki fikret
33446       fikret whitsell
33447     evlatlığım fikret
33448       fikret guschuck
33449  seyretmeliyim fikret

[33450 rows x 1 columns]

In [28]:
df_sent_ngram_merge = pd.merge(df_sent_ngram, df_merge_result, how="inner", on=f"{data_kind.lower()}")
df_sent_ngram_merge.sort_values(by="frequency", ascending=False, inplace=True)
df_sent_ngram_merge.reset_index(drop=True, inplace=True)
df_sent_ngram_merge

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
118      ama şey        708
119   hayır evet        667
120     ne değil        641
121    hayır şey        626
122      ama var        573

[123 rows x 2 columns]

In [29]:
data_len = len(df_sent_ngram_merge)
#data_len

In [30]:
df_sent_ngram_merge = df_sent_ngram_merge.head(1000000)

In [31]:
df_sent_ngram_merge.to_excel(f"{data_kind.lower().capitalize()}_And_Sentence_{data_len}_With_{word_num}_Word.xlsx", index=False)

##### Different Language Word In Each Other

In [33]:
word_num = 206
df_select = df_word_level.iloc[0:word_num,]
df_select

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900
20   bana    2659182
21    yok    2491685
22    onu    2486889
23   seni    2454988
24   beni    2446696
25   bunu    2445337
26   gibi    2427957
27    iyi    2383224

In [34]:
word_list = df_select["word"].values.tolist()

In [35]:
data_kind = "twogram"

In [36]:
df_ngram_arabic = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/Other/Arabic/{data_kind.lower().capitalize()}_Include_Arabic_Word.csv")
df_ngram_arabic

         word          twogram  frequency
0         aba   aba sayılardan         14
1         aba         aba için          7
2         aba         önce aba          7
3         abd    abd donanması        196
4         abd       fikret abd        185
...       ...              ...        ...
552771  ebedi       için ebedi          6
552772  ebedi       onun ebedi          6
552773  ebedi  doğaötesi ebedi          6
552774  ebedi       izin ebedi          6
552775  ebedi      dikip ebedi          6

[552776 rows x 3 columns]

In [37]:
data_list = df_ngram_arabic.iloc[:,1].values.tolist()

In [38]:
resultlist2 = []

In [39]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist2 = manager.list()

def word_in_wordgroup(data_list):
    mergelist = []
    try:
        word = data_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist2.append(data_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, data_list) # string_word liste

In [40]:
result_list2 = list(resultlist2)
df_result2 = pd.DataFrame(result_list2)
df_result2 = df_result2.rename(columns = {0: f"{data_kind.lower()}"})
df_merge2 = pd.merge(df_result2, df_ngram_arabic, how="left", on=f"{data_kind.lower()}")
df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
df_merge_result2.drop_duplicates(inplace=True)
df_merge_result2.reset_index(drop=True, inplace=True)
df_merge_result2

        twogram   word  frequency
0       bir şey    şey     859944
1      ne kadar  kadar     237876
2      bu kadar  kadar     215204
3       şey yok    şey     100881
4       şey var    şey      86291
..          ...    ...        ...
188   bir kadar  kadar          6
189  gibi kadar  kadar          6
190  evet kadar  kadar          6
191      ama mı    ama          6
192      şey da    şey          6

[193 rows x 3 columns]

In [41]:
data_len2 = len(df_merge_result2)
#data_len

In [42]:
df_merge_result2.to_excel(f"{data_kind.lower().capitalize()}_{data_len2}_Include_Arabic_With_{word_num}_Word.xlsx", index=False)