#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [18]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [19]:
lang_1 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

English
Turkish
Turkish (tur)

In [20]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [21]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [22]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       English        taco        Turkish        taco
1       English      bikini        Turkish      bikini
2       English      factor        Turkish      fatura
3       English      façade        Turkish      fatura
4       English       facto        Turkish      fatura
..          ...         ...            ...         ...
211     English        vali  Turkish (tur)        vali
212     English       gilet  Turkish (tur)       yelek
213     English    kurabiye  Turkish (tur)    kurabiye
214     English      abrash  Turkish (tur)       abraş
215     English         fez  Turkish (tur)         fes

[216 rows x 4 columns]

In [23]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

      lang_master       term_master lang_sleeve  term_sleeve
0         English             parle     Turkish      palavra
1         English            parlay     Turkish      palavra
2         English            parlor     Turkish      palavra
3         English            parole     Turkish      palavra
4         English            polari     Turkish      palavra
...           ...               ...         ...          ...
93308     English     laparoscopist     Turkish  laparoskopi
93309     English  hydrolaparoscopy     Turkish  laparoskopi
93310     English     relaparoscopy     Turkish  laparoskopi
93311     English  videolaparoscopy     Turkish  laparoskopi
93312     English      cyberarsenal     Turkish    sanayisiz

[93313 rows x 4 columns]

In [24]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0       English      abdest     Turkish      abdest
1       English     morocco     Turkish         fas
2       English  uzbekistan     Turkish          uz
3       English  kyrgyzstan     Turkish        kırk
4       English     caracal     Turkish   karakulak
..          ...         ...         ...         ...
341     English       caouk     Turkish       kavuk
342     English       yanik     Turkish       yanık
343     English     uskudar     Turkish     üsküdar
344     English       herek     Turkish       herek
345     English     altilik     Turkish     altılık

[346 rows x 4 columns]

In [25]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master   term_master lang_sleeve term_sleeve
0       English         livre     Turkish        lira
1       English      moussaka     Turkish     musakka
2       English          char     Turkish      dönmek
3       English          cham     Turkish         han
4       English         latte     Turkish       kahve
..          ...           ...         ...         ...
533     English  balkanistics     Turkish      balkan
534     English     demirjian     Turkish     demirci
535     English   jackalberry     Turkish       çakal
536     English       alikhan     Turkish       kağan
537     English      elchibey     Turkish         bey

[538 rows x 4 columns]

In [26]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master   term_master lang_sleeve term_sleeve
0         English          taco     Turkish        taco
1         English        bikini     Turkish      bikini
2         English        factor     Turkish      fatura
3         English        façade     Turkish      fatura
4         English         facto     Turkish      fatura
...           ...           ...         ...         ...
94066     English  uzbekization     Turkish          öz
94067     English  balkanistics     Turkish      balkan
94068     English     demirjian     Turkish     demirci
94069     English       alikhan     Turkish       kağan
94070     English      elchibey     Turkish         bey

[94071 rows x 4 columns]

In [27]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [28]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

               term
0              taco
1            bikini
2            factor
3            façade
4             facto
...             ...
61008  uzbekization
61009  balkanistics
61010     demirjian
61011       alikhan
61012      elchibey

[61013 rows x 1 columns]

In [29]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [83]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [84]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [85]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [86]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [30]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

       english_word  turkish_word
0              taco          taco
1            bikini        bikini
2            factor        faktör
3            façade         cephe
4             facto         fiili
...             ...           ...
61008  uzbekization  Özbekizasyon
61009  balkanistics     balkanist
61010     demirjian     Demirjian
61011       alikhan        alikan
61012      elchibey      elchibey

[61013 rows x 2 columns]

In [31]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

       english_word  turkish_word
0              taco          taco
1            bikini        bikini
2            factor        faktör
3            façade         cephe
4             facto         fiili
...             ...           ...
61008  uzbekization  özbekizasyon
61009  balkanistics     balkanist
61010     demirjian     demirjian
61011       alikhan        alikan
61012      elchibey      elchibey

[61013 rows x 2 columns]

In [32]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      turkish_word
0             taco
1           bikini
2           fatura
3           sinema
4     sinematograf
...            ...
2455           -çi
2456         kelle
2457         gümüş
2458        çingiz
2459       demirci

[2460 rows x 1 columns]

In [33]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

     dict_entry_main turkish_word
0               taco         taco
1             bikini       bikini
2             factor       faktör
3          factorage       faktör
4          factoress       faktör
...              ...          ...
3475           lavta        lavta
3476           cizye        cizye
3477           abaza        abaza
3478         persian       farsça
3479            orda         ordu

[3480 rows x 2 columns]

In [34]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)