#### Language Pair Word Equality

In [29]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [30]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [31]:
lang_1 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

English
Turkish
Turkish (tur)

In [32]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [33]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [34]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       English        taco        Turkish        taco
1       English      bikini        Turkish      bikini
2       English      factor        Turkish      fatura
3       English      façade        Turkish      fatura
4       English       facto        Turkish      fatura
..          ...         ...            ...         ...
211     English        vali  Turkish (tur)        vali
212     English       gilet  Turkish (tur)       yelek
213     English    kurabiye  Turkish (tur)    kurabiye
214     English      abrash  Turkish (tur)       abraş
215     English         fez  Turkish (tur)         fes

[216 rows x 4 columns]

In [35]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0       English      abdest     Turkish      abdest
1       English     morocco     Turkish         fas
2       English  uzbekistan     Turkish          uz
3       English  kyrgyzstan     Turkish        kırk
4       English     caracal     Turkish   karakulak
..          ...         ...         ...         ...
341     English       caouk     Turkish       kavuk
342     English       yanik     Turkish       yanık
343     English     uskudar     Turkish     üsküdar
344     English       herek     Turkish       herek
345     English     altilik     Turkish     altılık

[346 rows x 4 columns]

In [36]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master   term_master lang_sleeve term_sleeve
0       English         livre     Turkish        lira
1       English      moussaka     Turkish     musakka
2       English          char     Turkish      dönmek
3       English          cham     Turkish         han
4       English         latte     Turkish       kahve
..          ...           ...         ...         ...
533     English  balkanistics     Turkish      balkan
534     English     demirjian     Turkish     demirci
535     English   jackalberry     Turkish       çakal
536     English       alikhan     Turkish       kağan
537     English      elchibey     Turkish         bey

[538 rows x 4 columns]

In [37]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

          lang              term         related_term_id
0      English            polari  uXGtk5g-W8G_TlTxSHImpg
1      English            polari  uXGtk5g-W8G_TlTxSHImpg
2      English          parleyer  uXGtk5g-W8G_TlTxSHImpg
3      English         parlyaree  uXGtk5g-W8G_TlTxSHImpg
4      English             parle  JHVmHqAPXEq-YaIbd0B5Jg
...        ...               ...                     ...
50640  English  hydrolaparoscopy  sHhPG2-iXSKPC4suaNlwKg
50641  English     relaparoscopy  sHhPG2-iXSKPC4suaNlwKg
50642  English  videolaparoscopy  sHhPG2-iXSKPC4suaNlwKg
50643  English      cyberarsenal  8sAvMylPV06vp_knMpEaQA
50644  English      cyberarsenal  uunt-HERUyi9KbO__wGPZg

[50645 rows x 3 columns]

In [38]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

         lang         term         related_term_id
0     Turkish      palavra  JHVmHqAPXEq-YaIbd0B5Jg
1     Turkish      parabol  JHVmHqAPXEq-YaIbd0B5Jg
2     Turkish   alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3     Turkish          baz  1So0kFpyWh-G9xute2SNTg
4     Turkish          baz  tJZMlh3FXjinpfCxRDoq6Q
...       ...          ...                     ...
1355  Turkish       mersin  P-beaZonUeSWwjYemH9rNg
1356  Turkish     zarfında  zLybclkNVU-7cPSiOTeY1w
1357  Turkish  laparoskopi  sHhPG2-iXSKPC4suaNlwKg
1358  Turkish      tersane  8sAvMylPV06vp_knMpEaQA
1359  Turkish      tersane  uunt-HERUyi9KbO__wGPZg

[1360 rows x 3 columns]

In [39]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

      lang_master       term_master lang_sleeve  term_sleeve
0         English             parle     Turkish      palavra
1         English             parle     Turkish      parabol
2         English            parlay     Turkish      palavra
3         English            parlay     Turkish      parabol
4         English            parlor     Turkish      palavra
...           ...               ...         ...          ...
30135     English             zarph     Turkish     zarfında
30136     English     laparoscopist     Turkish  laparoskopi
30137     English  hydrolaparoscopy     Turkish  laparoskopi
30138     English     relaparoscopy     Turkish  laparoskopi
30139     English  videolaparoscopy     Turkish  laparoskopi

[22675 rows x 4 columns]

In [40]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master   term_master lang_sleeve term_sleeve
0         English         parle     Turkish     palavra
1         English         parle     Turkish     parabol
2         English        parlay     Turkish     palavra
3         English        parlay     Turkish     parabol
4         English        parlor     Turkish     palavra
...           ...           ...         ...         ...
23578     English  balkanistics     Turkish      balkan
23579     English     demirjian     Turkish     demirci
23580     English   jackalberry     Turkish       çakal
23581     English       alikhan     Turkish       kağan
23582     English      elchibey     Turkish         bey

[23583 rows x 4 columns]

In [41]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [42]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

               term
0             parle
1            parlay
2            parlor
3          parabola
4           parable
...             ...
17644  balkanistics
17645     demirjian
17646   jackalberry
17647       alikhan
17648      elchibey

[17649 rows x 1 columns]

In [43]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [44]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [45]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [46]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [47]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [48]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

       english_word turkish_word
0             parle        parle
1            parlay     parlamak
2            parlor        salon
3          parabola      parabol
4           parable     benzetme
...             ...          ...
17644  balkanistics    balkanist
17645     demirjian    Demirjian
17646   jackalberry  Jackalberry
17647       alikhan       alikan
17648      elchibey     elchibey

[17649 rows x 2 columns]

In [49]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

       english_word turkish_word
0             parle        parle
1            parlay     parlamak
2            parlor        salon
3          parabola      parabol
4           parable     benzetme
...             ...          ...
17644  balkanistics    balkanist
17645     demirjian    demirjian
17646   jackalberry  jackalberry
17647       alikhan       alikan
17648      elchibey     elchibey

[17649 rows x 2 columns]

In [50]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     turkish_word
0         palavra
1         parabol
2      alternatif
3             baz
4             çek
...           ...
1163          -çi
1164        kelle
1165        gümüş
1166       çingiz
1167      demirci

[1168 rows x 1 columns]

In [51]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

     dict_entry_main turkish_word
0             parlor        salon
1              salon        salon
2             saloon        salon
3      saloonkeeping        salon
4              salep        salon
...              ...          ...
1043          sanjak       sancak
1044         persian       farsça
1045            orda         ordu
1046           yasak        yasak
1047           taraf        taraf

[1048 rows x 2 columns]

In [28]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)