#### Language Pair Word Equality

In [1]:
#!pip uninstall googletrans

In [2]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [3]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Spanish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Spanish
Spanish (spa)

In [4]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
df_lang11 = df_lang11.loc[:,["language_main","dict_entry_main","language","dict_entry"]]
df_lang11.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang11["term_master"] = df_lang11["term_master"].apply(lambda x: x.lower())
df_lang11["term_sleeve"] = df_lang11["term_sleeve"].apply(lambda x: x.lower())
df_lang11

   lang_master term_master    lang_sleeve term_sleeve
0      Turkish      sigara  Spanish (spa)     cigarro
1      Turkish     avokado  Spanish (spa)     avocado
2      Turkish       sıfır  Spanish (spa)        zero
3      Turkish    çikolata  Spanish (spa)   chocolate
4      Turkish    şampanya  Spanish (spa)     campaña
5      Turkish       gitar  Spanish (spa)    guitarra
6      Turkish     domates  Spanish (spa)     tomates
7      Turkish      fatura  Spanish (spa)       hacer
8      Turkish        puro  Spanish (spa)        puro
9      Turkish       amigo  Spanish (spa)       amigo
10     Turkish       cunta  Spanish (spa)       cunta
11     Turkish        taco  Spanish (spa)        taco
12     Turkish     kanarya  Spanish (spa)     canario
13     Turkish   mandalina  Spanish (spa)    mandarin
14     Turkish     patates  Spanish (spa)     patatas
15     Turkish    tortilla  Spanish (spa)    tortilla
16     Turkish       boyoz  Spanish (spa)       boyoz
17     Turkish    flamenko  Spanish (spa)    flamenko
18     Turkish     palavra  Spanish (spa)     palabra
19     Turkish       papel  Spanish (spa)       papel
20     Turkish       plaza  Spanish (spa)       plaza
21     Turkish        oley  Spanish (spa)         ole
22     Turkish       riyal  Spanish (spa)       riyal
23     Turkish     tornado  Spanish (spa)     tornado

In [5]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

        lang        term         related_term_id
0    Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish  alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3    Turkish         baz  1So0kFpyWh-G9xute2SNTg
4    Turkish         çek  7SrzrJtdV2yhdkdGZ8hfyQ
..       ...         ...                     ...
381  Turkish        atel  FXDBUkWvWPO_IojhYr24sw
382  Turkish   devretmek  MGWZCdJJXamRpVf1KhZcbg
383  Turkish   devralmak  MGWZCdJJXamRpVf1KhZcbg
384  Turkish    i̇slamcı  sNjKUAT1X5uAjmpHJxTtXQ
385  Turkish      bikini  oqwJif0MXBegenMOx5b9bw

[386 rows x 3 columns]

In [6]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

   lang_master term_master                    reltype lang_sleeve term_sleeve
0      Turkish        peru               derived_from     Spanish        perú
1      Turkish       tilde              borrowed_from     Spanish       tilde
2      Turkish        puro              borrowed_from     Spanish        puro
3      Turkish      ananas               derived_from     Spanish      ananás
4      Turkish     sevilla              borrowed_from     Spanish     sevilla
5      Turkish     avokado              borrowed_from     Spanish     avocado
6      Turkish     patates               derived_from     Spanish      patata
7      Turkish     papağan  etymologically_related_to     Spanish    papagayo
8      Turkish  i̇ngiltere                 cognate_of     Spanish  inglaterra
9      Turkish     palavra               derived_from     Spanish     palabra
10     Turkish      sigara              borrowed_from     Spanish     cigarro
11     Turkish       gitar               derived_from     Spanish    guitarra
12     Turkish   i̇spanyol               derived_from     Spanish     español
13     Turkish       yarın                 cognate_of     Spanish      mañana
14     Turkish      kalyon              borrowed_from     Spanish      galeón
15     Turkish    kapibara               derived_from     Spanish    capibara
16     Turkish     kanarya               derived_from     Spanish     canario
17     Turkish      tekila              borrowed_from     Spanish     tequila
18     Turkish    karamela              borrowed_from     Spanish   caramillo
19     Turkish     gerilla               derived_from     Spanish   guerrilla
20     Turkish   guakamole              borrowed_from     Spanish   guacamole
21     Turkish     tersane                 cognate_of     Spanish     dársena

In [7]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

         lang           term         related_term_id
0     Spanish        palabra  uXGtk5g-W8G_TlTxSHImpg
1     Spanish       parlante  uXGtk5g-W8G_TlTxSHImpg
2     Spanish     parlamento  uXGtk5g-W8G_TlTxSHImpg
3     Spanish         parlar  uXGtk5g-W8G_TlTxSHImpg
4     Spanish        parlero  uXGtk5g-W8G_TlTxSHImpg
...       ...            ...                     ...
1636  Spanish        azafata  x-rni-txVS2sXgbHVgUK9w
1637  Spanish        azafato  x-rni-txVS2sXgbHVgUK9w
1638  Spanish         bikini  oqwJif0MXBegenMOx5b9bw
1639  Spanish  alharaquiento  ZDI_ftKOVhGOvzxhEjq2cQ
1640  Spanish        alevoso  j1yTRevHVl662QF_QZo3aw

[1641 rows x 3 columns]

In [8]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

    lang_master term_master         related_term_id lang_sleeve  term_sleeve
0       Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg     Spanish       parole
1       Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg     Spanish       parola
2       Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg     Spanish     parábola
3       Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg     Spanish    palabrota
4       Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg     Spanish    parlotear
..          ...         ...                     ...         ...          ...
809     Turkish        hobi  sTzqzNJTW1KwpOudat0KOQ     Spanish        hobby
810     Turkish    silindir  EuWYJQS3XUmwMvKT5rPZdw     Spanish     cilindro
811     Turkish       ampul  wTbh_HBLVquTU71HaXhFlQ     Spanish  ampulosidad
812     Turkish       yelek  8BmI6l_GVZqyB-2n6s37PA     Spanish      chaleco
813     Turkish      bikini  oqwJif0MXBegenMOx5b9bw     Spanish       bikini

[814 rows x 5 columns]

In [9]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13], axis=0)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

,lang_master,term_master,related_term_id,lang_sleeve,term_sleeve,reltype
0,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Spanish,parole,NaN
1,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Spanish,parola,NaN
2,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Spanish,parábola,NaN
3,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Spanish,palabrota,NaN
4,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Spanish,parlotear,NaN
...,...,...,...,...,...,...
855,Turkish,tekila,NaN,Spanish,tequila,borrowed_from
856,Turkish,karamela,NaN,Spanish,caramillo,borrowed_from
857,Turkish,gerilla,NaN,Spanish,guerrilla,derived_from
858,Turkish,guakamole,NaN,Spanish,guacamole,borrowed_from
859,Turkish,tersane,NaN,Spanish,dársena,cognate_of

In [10]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

           term
0       palavra
1       parabol
2    alternatif
3           baz
4           çek
..          ...
211    kapibara
212      tekila
213     gerilla
214   guakamole
215     tersane

[216 rows x 1 columns]

In [11]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [12]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0         bay     875933
1       yarın     286640
2     kontrol     272328
3       polis     247969
4       dolar     199343
..        ...        ...
172     korse       1026
173  patlıcan       1016
174  kapasite        984
175  versiyon        984
176    klavye        982

[177 rows x 2 columns]

In [13]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

    turkish_word
0            bay
1          yarın
2        kontrol
3          polis
4          dolar
..           ...
172        korse
173     patlıcan
174     kapasite
175     versiyon
176       klavye

[177 rows x 1 columns]

In [15]:
df_master_unique_word_merge.to_excel(f"{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [16]:
df_pair_translate = pd.read_excel(f"{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

    turkish_word      italian_word
0        kontrol         controllo
1          polis  polizia stradale
2        telefon          telefono
3         kaptan          capitano
4         numara            numero
..           ...               ...
218         klip              clip
219      fırıncı        panettiere
220     patlıcan         melanzana
221         düet            duetto
222     versiyon          versione

[223 rows x 2 columns]

In [17]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

    italian_word
0     parolaccia
1       parolina
2       parabola
3         parola
4    paraboloide
..           ...
895       poggia
896     poggiare
897       signor
898     cassiere
899     bilancio

[900 rows x 1 columns]

In [18]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge

    turkish_word italian_word
0        kontrol    controllo
1        telefon     telefono
2         numara       numero
3          müzik       musica
4           okul       scuola
..           ...          ...
111      karamel    caramello
112      stadyum       stadio
113         klip         clip
114     patlıcan    melanzana
115         düet       duetto

[116 rows x 2 columns]

In [19]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_{lang_2.capitalize()}_Etymology_Translate_Result.xlsx", index=False)

In [ ]:
from googletrans import Translator

In [ ]:
translator = Translator()

In [ ]:
result = translator.translate('Mitä sinä teet')

In [ ]:
print(googletrans.LANGUAGES)