#### Language Pair Word Equality

In [153]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [154]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [155]:
lang_1 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

German
Italian
Italian (ita)

In [156]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [157]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master  term_master    lang_sleeve  term_sleeve
0       German       stabil        Italian    stabilire
1       German        boxen        Italian          box
2       German        boxen        Italian        busta
3       German     tragisch        Italian     tragedia
4       German   trainieren        Italian        treno
5       German       tanken        Italian         tank
6       German       tanken        Italian         tank
7       German  marschieren        Italian     marciare
8       German       falsch        Italian        falso
9       German       fehlen        Italian        falso
10      German       falsch        Italian        falso
11      German       falsch        Italian      fallire
12      German       fehlen        Italian      fallire
13      German      liberal        Italian        libro
14      German      liberal        Italian     liberare
15      German      liberal        Italian       libero
16      German      liberal        Italian      libertà
17      German      liberal        Italian     libretto
18      German         voll        Italian         full
19      German       füllen        Italian         full
20      German         voll        Italian        pieno
21      German       füllen        Italian        pieno
22      German      chatten        Italian         chat
23      German   downloaden        Italian     download
24      German       testen        Italian         test
25      German       formen        Italian        forma
26      German       formen        Italian      formare
27      German       formen        Italian      formula
28      German       formen        Italian    formaggio
29      German       formen        Italian   formazione
30      German       formen        Italian      formale
31      German         sexy        Italian         sexy
32      German       segnen        Italian  significare
33      German       segnen        Italian        segno
34      German       segnen        Italian      segnale
35      German       segnen        Italian    insegnare
36      German       segnen        Italian      sigillo
37      German          pur        Italian         pure
38      German          pur        Italian         puro
39      German       retour        Italian      ritorno
40      German       posten        Italian         post
41      German   historisch  Italian (ita)      storico
42       Dutch   historisch  Italian (ita)      storico
43     English         ciao  Italian (ita)         ciao
44      German         ciao  Italian (ita)         ciao
45      French         ciao  Italian (ita)      schiavo
46      German    riskieren  Italian (ita)      rischio
47     English         solo  Italian (ita)         solo
48      German         solo  Italian (ita)         solo
49      French         solo  Italian (ita)         solo
50      German       fehlen  Italian (ita)        fallo
51      German       falsch  Italian (ita)        fallo
52      German  attackieren  Italian (ita)    attaccare
53      German  indossieren  Italian (ita)    indossare

In [158]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0        German      straße     Italian      strada
1        German      garten     Italian    giardino
2        German      zucker     Italian    zucchero
3        German        ciao     Italian        ciao
4        German      tschau     Italian        ciao
..          ...         ...         ...         ...
265      German     neuhaus     Italian    casanova
266      German    ciabatta     Italian    ciabatta
267      German   fallieren     Italian     fallire
268      German     muskete     Italian   moschetto
269      German       fiale     Italian       fiala

[270 rows x 4 columns]

In [159]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

     lang_master       term_master lang_sleeve term_sleeve
0         German             model     Italian     modello
1         German  modellorganismus     Italian     modello
2         German     schalenmodell     Italian     modello
3         German   datenbankmodell     Italian     modello
4         German   schwestermodell     Italian     modello
...          ...               ...         ...         ...
1058      German        gettofaust     Italian      ghetto
1059      German           zechine     Italian       zecca
1060      German          canaille     Italian    canaglia
1061      German          pirschen     Italian   bersaglio
1062      German           gespons     Italian       sposo

[1063 rows x 4 columns]

In [160]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

        lang           term         related_term_id
0     German          pferd  rTyvWvNiUN6yBfI5GQKhoA
1     German          union  H-2YVn9qXryY0R5E5yibQw
2     German      münzunion  H-2YVn9qXryY0R5E5yibQw
3     German  währungsunion  H-2YVn9qXryY0R5E5yibQw
4     German      zollunion  H-2YVn9qXryY0R5E5yibQw
...      ...            ...                     ...
6154  German         bikini  n-sd6BzEVw29E9FFc1J0Kg
6155  German         bikini  GNTJbzNsW_CAUT05gGD_7g
6156  German         zecken  RMLWhh4nVMaj3fBMSCm4tw
6157  German          jaden  5KcNIRXFUCaSMLVHHA_bHg
6158  German       jadegrün  5KcNIRXFUCaSMLVHHA_bHg

[6159 rows x 3 columns]

In [161]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

         lang             term         related_term_id
0     Italian   acroparestesia  rTyvWvNiUN6yBfI5GQKhoA
1     Italian           basico  MVK-ls9fW8uS2jBlvBiLgA
2     Italian           basare  MVK-ls9fW8uS2jBlvBiLgA
3     Italian        chilobase  MVK-ls9fW8uS2jBlvBiLgA
4     Italian        interbase  MVK-ls9fW8uS2jBlvBiLgA
...       ...              ...                     ...
6119  Italian        azzeccato  RMLWhh4nVMaj3fBMSCm4tw
6120  Italian      riazzeccare  RMLWhh4nVMaj3fBMSCm4tw
6121  Italian       azzeccarci  RMLWhh4nVMaj3fBMSCm4tw
6122  Italian  attrattivamente  KONTvMH_Vw2pGUXZ2-54YQ
6123  Italian     attrattività  KONTvMH_Vw2pGUXZ2-54YQ

[6124 rows x 3 columns]

In [162]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

      lang_master term_master lang_sleeve     term_sleeve
0          German       pferd     Italian  acroparestesia
1          German     kreuzer     Italian       autocross
2          German  hakenkreuz     Italian       autocross
3          German     kreuzen     Italian       autocross
4          German  kreuzfahrt     Italian       autocross
...           ...         ...         ...             ...
23282      German      bikini     Italian          bikini
23283      German      bikini     Italian          bikini
23284      German      zecken     Italian       azzeccato
23285      German      zecken     Italian     riazzeccare
23286      German      zecken     Italian      azzeccarci

[23195 rows x 4 columns]

In [163]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master term_master lang_sleeve     term_sleeve
0          German       pferd     Italian  acroparestesia
1          German     kreuzer     Italian       autocross
2          German  hakenkreuz     Italian       autocross
3          German     kreuzen     Italian       autocross
4          German  kreuzfahrt     Italian       autocross
...           ...         ...         ...             ...
23069      German  gettofaust     Italian          ghetto
23070      German     zechine     Italian           zecca
23071      German    canaille     Italian        canaglia
23072      German    pirschen     Italian       bersaglio
23073      German     gespons     Italian           sposo

[23074 rows x 4 columns]

In [164]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

            term
0          pferd
1        kreuzer
2     hakenkreuz
3        kreuzen
4     kreuzfahrt
...          ...
3383  gettofaust
3384     zechine
3385    canaille
3386    pirschen
3387     gespons

[3388 rows x 1 columns]

In [165]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

             term  frequency
0             ich    8138198
1             sie    5307295
2             das    4314201
3             ist    4200394
4              du    4093352
...           ...        ...
39995  eingeprägt        118
39996      rosten        118
39997     kricket        118
39998   beklagten        118
39999     lafleur        118

[40000 rows x 2 columns]

In [166]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

               term  frequency
0               ein    1836303
1                ja    1434365
2              hier    1059866
3              nein     881757
4               tun     303742
...             ...        ...
1053  generaloberst        119
1054           aula        119
1055        chatten        118
1056    kirchenchor        118
1057       gaunerei        118

[1058 rows x 2 columns]

In [167]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

        german_word
0               ein
1                ja
2              hier
3              nein
4               tun
...             ...
1053  generaloberst
1054           aula
1055        chatten
1056    kirchenchor
1057       gaunerei

[1058 rows x 1 columns]

In [168]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [169]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

        german_word       italian_word
0               ein                un
1                ja                 sì
2              hier                qui
3              nein                 No
4               tun               fare
...             ...                ...
1053  generaloberst      Chief General
1054           aula         Auditorium
1055        chatten      chiacchierare
1056    kirchenchor  coro della Chiesa
1057       gaunerei         truffatore

[1058 rows x 2 columns]

In [170]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

        german_word       italian_word
0               ein                un
1                ja                 sì
2              hier                qui
3              nein                 no
4               tun               fare
...             ...                ...
1053  generaloberst      chief general
1054           aula         auditorium
1055        chatten      chiacchierare
1056    kirchenchor  coro della chiesa
1057       gaunerei         truffatore

[1058 rows x 2 columns]

In [171]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

        italian_word
0     acroparestesia
1          autocross
2              bassi
3         campobasso
4       contrabbasso
...              ...
3079       capriccio
3080        coglione
3081         fornire
3082        canaglia
3083       bersaglio

[3084 rows x 1 columns]

In [172]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main italian_word
0              nein           no
1              rein         puro
2               pur         puro
3              idee         idea
4               typ         tipo
..              ...          ...
370     kaffeetasse  caffettiera
371     kaffeekanne  caffettiera
372            patt       stallo
373        broccoli     broccoli
374       koriander   coriandolo

[375 rows x 2 columns]

In [173]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)