#### Language Pair Word Equality

In [148]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [149]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [150]:
lang_1 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Italian
Dutch
Dutch (nld)

In [151]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [152]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master  lang_sleeve term_sleeve
0       Italian      garage        Dutch      garage
1       Italian   cerimonia        Dutch   ceremonie
2       Italian     salvare        Dutch     massage
3       Italian    paraggio        Dutch     massage
4       Italian   massaggio        Dutch     massage
..          ...         ...          ...         ...
241     Italian       pacco  Dutch (nld)         pak
242     English      sketch  Dutch (nld)      schets
243      French      sketch  Dutch (nld)      schets
244     Italian      sketch  Dutch (nld)      schets
245  Portuguese      salada  Dutch (nld)      salade

[246 rows x 4 columns]

In [153]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

   lang_master   term_master lang_sleeve term_sleeve
0      Italian          boom       Dutch        boom
1      Italian          boma       Dutch        boom
2      Italian       iceberg       Dutch     ijsberg
3      Italian        rubare       Dutch       roven
4      Italian        sketch       Dutch      schets
5      Italian         lista       Dutch       lijst
6      Italian         droga       Dutch       droog
7      Italian        bianco       Dutch       blank
8      Italian            tè       Dutch        thee
9      Italian         zecca       Dutch        teek
10     Italian         zeppa       Dutch         kip
11     Italian         zolla       Dutch       schil
12     Italian       baccalà       Dutch   kabeljauw
13     Italian      giappone       Dutch       japan
14     Italian         bruno       Dutch       bruin
15     Italian         lasta       Dutch        last
16     Italian         fango       Dutch       vocht
17     Italian         bugia       Dutch        boos
18     Italian       corredo       Dutch       reden
19     Italian      derivare       Dutch     drijven
20     Italian        cucina       Dutch      keuken
21     Italian         pacco       Dutch         pak
22     Italian         latta       Dutch         lat
23     Italian       tuffare       Dutch       dopen
24     Italian        schifo       Dutch       schuw
25     Italian        vagone       Dutch       wagen
26     Italian     farabutto       Dutch  vrijbuiter
27     Italian  filibustiere       Dutch  vrijbuiter
28     Italian        fiocco       Dutch         fok
29     Italian     pantofola       Dutch         pad
30     Italian          gand       Dutch        gent
31     Italian      diamante       Dutch     diamant
32     Italian   giansenista       Dutch      jansen
33     Italian   giansenismo       Dutch      jansen
34     Italian       anversa       Dutch   antwerpen
35     Italian    archibugio       Dutch        haak
36     Italian    archibugio       Dutch         bus
37     Italian       paviano       Dutch     baviaan
38     Italian         leida       Dutch      leiden
39     Italian       buratto       Dutch      buidel
40     Italian         pinco       Dutch        pink
41     Italian    sparagnare       Dutch      sparen
42     Italian       fiadone       Dutch         vla
43     Italian     statolder       Dutch  stadhouder

In [154]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master     term_master lang_sleeve term_sleeve
0       Italian         pattino       Dutch        poot
1       Italian            roba       Dutch       roven
2       Italian     rubacchiare       Dutch       roven
3       Italian       rubamento       Dutch       roven
4       Italian        rubatore       Dutch       roven
..          ...             ...         ...         ...
405     Italian         fiadone       Dutch         vla
406     Italian      sparagnare       Dutch      sparen
407     Italian            otta       Dutch     ochtend
408     Italian  a buon mercato       Dutch    goedkoop
409     Italian         pincone       Dutch        pink

[410 rows x 4 columns]

In [155]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

         lang          term         related_term_id
0     Italian    parlamento  uXGtk5g-W8G_TlTxSHImpg
1     Italian     parlabile  uXGtk5g-W8G_TlTxSHImpg
2     Italian      sparlare  uXGtk5g-W8G_TlTxSHImpg
3     Italian   straparlare  uXGtk5g-W8G_TlTxSHImpg
4     Italian    parolaccia  JHVmHqAPXEq-YaIbd0B5Jg
...       ...           ...                     ...
7317  Italian   cotton fioc  oVdcHoybUEumY2gIFAE08g
7318  Italian  controfiocco  oVdcHoybUEumY2gIFAE08g
7319  Italian    infioccare  oVdcHoybUEumY2gIFAE08g
7320  Italian    spermatico  CnTW5lLkUGWHZdi1f6ynxA
7321  Italian    endosperma  CnTW5lLkUGWHZdi1f6ynxA

[7322 rows x 3 columns]

In [156]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

       lang            term         related_term_id
0     Dutch          parool  JHVmHqAPXEq-YaIbd0B5Jg
1     Dutch     parabolisch  JHVmHqAPXEq-YaIbd0B5Jg
2     Dutch    paraboolduin  JHVmHqAPXEq-YaIbd0B5Jg
3     Dutch            code  oOWJdf11U3K8pH5UyI3jSA
4     Dutch        postcode  oOWJdf11U3K8pH5UyI3jSA
...     ...             ...                     ...
7668  Dutch    profijtelijk  AZ4Q1vRoUSq6JguDsx-cMg
7669  Dutch          bikini  oqwJif0MXBegenMOx5b9bw
7670  Dutch          bikini  n-sd6BzEVw29E9FFc1J0Kg
7671  Dutch          bikini  GNTJbzNsW_CAUT05gGD_7g
7672  Dutch  icarusblauwtje  5dUlh6V5V8aV43POtpelXQ

[7673 rows x 3 columns]

In [157]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

      lang_master term_master lang_sleeve   term_sleeve
0         Italian  parolaccia       Dutch        parool
1         Italian  parolaccia       Dutch   parabolisch
2         Italian  parolaccia       Dutch  paraboolduin
3         Italian    parolina       Dutch        parool
4         Italian    parolina       Dutch   parabolisch
...           ...         ...         ...           ...
25357     Italian        silo       Dutch     raketsilo
25358     Italian       bongo       Dutch         bongo
25359     Italian   sciallare       Dutch         sjaal
25360     Italian      bikini       Dutch        bikini
25361     Italian      bikini       Dutch        bikini

[25292 rows x 4 columns]

In [158]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master     term_master lang_sleeve   term_sleeve
0         Italian      parolaccia       Dutch        parool
1         Italian      parolaccia       Dutch   parabolisch
2         Italian      parolaccia       Dutch  paraboolduin
3         Italian        parolina       Dutch        parool
4         Italian        parolina       Dutch   parabolisch
...           ...             ...         ...           ...
24295     Italian           fodro       Dutch          voer
24296     Italian         scabino       Dutch       schepen
24297     Italian            otta       Dutch       ochtend
24298     Italian  a buon mercato       Dutch      goedkoop
24299     Italian         pincone       Dutch          pink

[24300 rows x 4 columns]

In [159]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

                term
0         parolaccia
1           parolina
2           parabola
3             parola
4         parlamento
...              ...
4594           fodro
4595         scabino
4596            otta
4597  a buon mercato
4598         pincone

[4599 rows x 1 columns]

In [160]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

                term  frequency
0                  e   17674355
1                non   14565060
2                che   14355207
3                 di   13837236
4                 un    9088369
...              ...        ...
39995  interminabili        351
39996       vendesse        351
39997      guaritori        351
39998          lives        351
39999       facetime        351

[40000 rows x 2 columns]

In [161]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

                term  frequency
0                 no    3322294
1                 io    2606851
2               fare    1350291
3                più     930156
4             adesso     493052
...              ...        ...
1003       abilmente        360
1004        piattino        359
1005  psicoterapeuta        359
1006      eticamente        354
1007          buffer        352

[1008 rows x 2 columns]

In [162]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

        italian_word
0                 no
1                 io
2               fare
3                più
4             adesso
...              ...
1003       abilmente
1004        piattino
1005  psicoterapeuta
1006      eticamente
1007          buffer

[1008 rows x 1 columns]

In [163]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [164]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

        italian_word       dutch_word
0                 no              nee
1                 io                l
2               fare             doen
3                più             meer
4             adesso               nu
...              ...              ...
1003       abilmente        vakkundig
1004        piattino          schotel
1005  psicoterapeuta  psychotherapeut
1006      eticamente           etisch
1007          buffer           buffer

[1008 rows x 2 columns]

In [165]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

        italian_word       dutch_word
0                 no              nee
1                 io                l
2               fare             doen
3                più             meer
4             adesso               nu
...              ...              ...
1003       abilmente        vakkundig
1004        piattino          schotel
1005  psicoterapeuta  psychotherapeut
1006      eticamente           etisch
1007          buffer           buffer

[1008 rows x 2 columns]

In [166]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

        dutch_word
0           parool
1      parabolisch
2     paraboolduin
3           cruise
4        kruisdood
...            ...
3442          bonk
3443          voer
3444       schepen
3445       ochtend
3446      goedkoop

[3447 rows x 1 columns]

In [167]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main       dutch_word
0                no              nee
1               più             meer
2              idea             idee
3            grande            groot
4              capo             baas
..              ...              ...
361        bluffare          bluffen
362       passabile       begaanbaar
363       melanzana        aubergine
364  psicoterapeuta  psychotherapeut
365          buffer           buffer

[366 rows x 2 columns]

In [168]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)