#### Language Pair Word Equality

In [514]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [515]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [516]:
lang_1 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Dutch
Italian
Italian (ita)

In [517]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master    term_master    lang_sleeve   term_sleeve
0         Dutch         garage        Italian        garage
1         Dutch      ceremonie        Italian     cerimonia
2         Dutch        massage        Italian       salvare
3         Dutch        massage        Italian     massaggio
4         Dutch     patrouille        Italian     pattuglia
..          ...            ...            ...           ...
302       Dutch        sacoche  Italian (ita)         sacco
303     English  establishment  Italian (ita)  stabilimento
304       Dutch          giraf  Italian (ita)       giraffa
305     English          pico-  Italian (ita)       piccolo
306       Dutch          pico-  Italian (ita)       piccolo

[307 rows x 4 columns]

In [518]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0         Dutch      libero     Italian      libero
1         Dutch        bank     Italian       banco
2         Dutch       tempo     Italian       tempo
3         Dutch      finale     Italian      finale
4         Dutch     fascist     Italian    fascista
..          ...         ...         ...         ...
198       Dutch      averij     Italian      avaria
199       Dutch      turijn     Italian      torino
200       Dutch    roffiaan     Italian    ruffiano
201       Dutch     gireren     Italian      girare
202       Dutch       piëta     Italian       pietà

[203 rows x 4 columns]

In [519]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: x.lower())
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: x.lower())
df_lang14

    lang_master    term_master lang_sleeve term_sleeve
0         Dutch           post     Italian       posto
1         Dutch           post     Italian       posto
2         Dutch           post     Italian       posto
3         Dutch    handelspost     Italian       posto
4         Dutch    postkantoor     Italian       posto
..          ...            ...         ...         ...
671       Dutch       bushbush     Italian   boscaglia
672       Dutch  lanskorporaal     Italian    caporale
673       Dutch        spongat     Italian      spunta
674       Dutch        mozaïek     Italian     mosaico
675       Dutch        kantine     Italian     cantina

[676 rows x 4 columns]

In [520]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

       lang            term         related_term_id
0     Dutch          parool  JHVmHqAPXEq-YaIbd0B5Jg
1     Dutch     parabolisch  JHVmHqAPXEq-YaIbd0B5Jg
2     Dutch    paraboolduin  JHVmHqAPXEq-YaIbd0B5Jg
3     Dutch            code  oOWJdf11U3K8pH5UyI3jSA
4     Dutch        postcode  oOWJdf11U3K8pH5UyI3jSA
...     ...             ...                     ...
7668  Dutch    profijtelijk  AZ4Q1vRoUSq6JguDsx-cMg
7669  Dutch          bikini  oqwJif0MXBegenMOx5b9bw
7670  Dutch          bikini  n-sd6BzEVw29E9FFc1J0Kg
7671  Dutch          bikini  GNTJbzNsW_CAUT05gGD_7g
7672  Dutch  icarusblauwtje  5dUlh6V5V8aV43POtpelXQ

[7673 rows x 3 columns]

In [521]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

         lang          term         related_term_id
0     Italian    parlamento  uXGtk5g-W8G_TlTxSHImpg
1     Italian     parlabile  uXGtk5g-W8G_TlTxSHImpg
2     Italian      sparlare  uXGtk5g-W8G_TlTxSHImpg
3     Italian   straparlare  uXGtk5g-W8G_TlTxSHImpg
4     Italian    parolaccia  JHVmHqAPXEq-YaIbd0B5Jg
...       ...           ...                     ...
7317  Italian   cotton fioc  oVdcHoybUEumY2gIFAE08g
7318  Italian  controfiocco  oVdcHoybUEumY2gIFAE08g
7319  Italian    infioccare  oVdcHoybUEumY2gIFAE08g
7320  Italian    spermatico  CnTW5lLkUGWHZdi1f6ynxA
7321  Italian    endosperma  CnTW5lLkUGWHZdi1f6ynxA

[7322 rows x 3 columns]

In [522]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

      lang_master term_master lang_sleeve term_sleeve
0           Dutch      parool     Italian  parolaccia
1           Dutch      parool     Italian    parolina
2           Dutch      parool     Italian    parabola
3           Dutch      parool     Italian      parola
4           Dutch      parool     Italian  parlamento
...           ...         ...         ...         ...
25357       Dutch   raketsilo     Italian        silo
25358       Dutch       bongo     Italian       bongo
25359       Dutch       sjaal     Italian   sciallare
25360       Dutch      bikini     Italian      bikini
25361       Dutch      bikini     Italian      bikini

[25292 rows x 4 columns]

In [523]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master    term_master lang_sleeve term_sleeve
0           Dutch         parool     Italian  parolaccia
1           Dutch         parool     Italian    parolina
2           Dutch         parool     Italian    parabola
3           Dutch         parool     Italian      parola
4           Dutch         parool     Italian  parlamento
...           ...            ...         ...         ...
24642       Dutch       bushbush     Italian       bosco
24643       Dutch       bushbush     Italian   boscaglia
24644       Dutch  lanskorporaal     Italian    caporale
24645       Dutch        spongat     Italian      spunta
24646       Dutch        mozaïek     Italian     mosaico

[24647 rows x 4 columns]

In [524]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

                 term
0              parool
1         parabolisch
2        paraboolduin
3              cruise
4           kruisdood
...               ...
3607     barricaderen
3608  macaronipinguïn
3609         bushbush
3610          spongat
3611          mozaïek

[3612 rows x 1 columns]

In [525]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

                     term  frequency
0                      ik   22539531
1                      je   20769946
2                     het   15696161
3                      de   15258816
4                     dat   13387137
...                   ...        ...
39995                bois        253
39996                 ood        253
39997            melaatse        253
39998                poll        253
39999  vredesbesprekingen        253

[40000 rows x 2 columns]

In [526]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

               term  frequency
0              mijn    2813387
1             klaar     350506
2              idee     315326
3            meneer     284212
4            morgen     205172
...             ...        ...
1294    orgaandonor        257
1295      bourgeois        256
1296    raketaanval        255
1297  kristalhelder        254
1298       ensemble        253

[1299 rows x 2 columns]

In [527]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

         dutch_word
0              mijn
1             klaar
2              idee
3            meneer
4            morgen
...             ...
1294    orgaandonor
1295      bourgeois
1296    raketaanval
1297  kristalhelder
1298       ensemble

[1299 rows x 1 columns]

In [528]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [529]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

         dutch_word        italian_word
0              mijn              il mio
1             klaar              finito
2              idee                idea
3            meneer             signore
4            morgen              domani
...             ...                 ...
1294    orgaandonor  donatore di organi
1295      bourgeois            borghese
1296    raketaanval     attacco a razzo
1297  kristalhelder         cristallino
1298       ensemble            ensemble

[1299 rows x 2 columns]

In [530]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     italian_word
0      parolaccia
1        parolina
2        parabola
3          parola
4      parlamento
...           ...
4549    belvedere
4550   maccheroni
4551        bosco
4552    boscaglia
4553      mosaico

[4554 rows x 1 columns]

In [531]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main italian_word
0              idee         idea
1             kamer       camera
2            school       scuola
3               vol        pieno
4          telefoon     telefono
..              ...          ...
451          spatel      spatola
452       koffiepot  caffettiera
453     informatica  informatica
454     alfabetisch   alfabetico
455       bourgeois     borghese

[456 rows x 2 columns]

In [532]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

In [245]:
from googletrans import Translator

In [246]:
translator = Translator()

In [247]:
result = translator.translate('Mitä sinä teet')

AttributeError: 'NoneType' object has no attribute 'group'

In [ ]:
print(googletrans.LANGUAGES)