#### Language Pair Word Equality

In [29]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [69]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [70]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Dutch
Dutch (nld)

In [71]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [72]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [73]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master  lang_sleeve term_sleeve
0      Turkish         kod        Dutch        code
1      Turkish      bikini        Dutch      bikini
2      Turkish       müzik        Dutch      muziek
3      Turkish      fatura        Dutch      factor
4      Turkish      fatura        Dutch      façade
..         ...         ...          ...         ...
94     Turkish      şantaj        Dutch   chanteren
95     Turkish       salon        Dutch       salon
96     Turkish      harita        Dutch       kaart
97     Turkish        şans  Dutch (nld)        dice
98     Turkish        loca  Dutch (nld)      laubja

[99 rows x 4 columns]

In [74]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

  lang_master term_master lang_sleeve term_sleeve
0     Turkish       japon       Dutch       japan
1     Turkish      manken       Dutch    manneken

In [75]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master term_master lang_sleeve term_sleeve
0      Turkish         net       Dutch         net
1      Turkish         hol       Dutch         hal
2      Turkish        soba       Dutch       stoof
3      Turkish       start       Dutch     storten
4      Turkish       start       Dutch      staart
..         ...         ...         ...         ...
66     Turkish       slayt       Dutch   slijderen
67     Turkish       slayt       Dutch     slijden
68     Turkish         şık       Dutch   schielijk
69     Turkish         şık       Dutch    schikken
70     Turkish       sprey       Dutch    sproeien

[71 rows x 4 columns]

In [76]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

        lang            term         related_term_id
0    Turkish         palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish         parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish      alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3    Turkish             baz  1So0kFpyWh-G9xute2SNTg
4    Turkish             baz  tJZMlh3FXjinpfCxRDoq6Q
..       ...             ...                     ...
742  Turkish  afyonkarahisar  gjus9Pt2UwmWie25iadlJA
743  Turkish        parantez  eqYpsqghXo6E-Cd6Zx8RXw
744  Turkish       beyzbolcu  tax-N0vEUdihpfdLbAjmow
745  Turkish       agorafobi  lh8IXc1GUgagHzhZ7vCBaw
746  Turkish   konfederasyon  f04UyjpBVpyyJJsvWY-cMw

[747 rows x 3 columns]

In [77]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

       lang             term         related_term_id
0     Dutch           parool  JHVmHqAPXEq-YaIbd0B5Jg
1     Dutch      parabolisch  JHVmHqAPXEq-YaIbd0B5Jg
2     Dutch     paraboolduin  JHVmHqAPXEq-YaIbd0B5Jg
3     Dutch        altruïsme  ZSxxztTSVm6V_6rNEGaKhQ
4     Dutch             base  1So0kFpyWh-G9xute2SNTg
...     ...              ...                     ...
3869  Dutch  amfioenschuiver  gjus9Pt2UwmWie25iadlJA
3870  Dutch          amfioen  gjus9Pt2UwmWie25iadlJA
3871  Dutch       parenthese  eqYpsqghXo6E-Cd6Zx8RXw
3872  Dutch       agorafobie  lh8IXc1GUgagHzhZ7vCBaw
3873  Dutch     confederatie  f04UyjpBVpyyJJsvWY-cMw

[3874 rows x 3 columns]

In [78]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

     lang_master     term_master lang_sleeve   term_sleeve
0        Turkish         palavra       Dutch        parool
1        Turkish         palavra       Dutch   parabolisch
2        Turkish         palavra       Dutch  paraboolduin
3        Turkish         parabol       Dutch        parool
4        Turkish         parabol       Dutch   parabolisch
...          ...             ...         ...           ...
3315     Turkish          bikini       Dutch        bikini
3317     Turkish         ekinoks       Dutch       equinox
3320     Turkish         ekinoks       Dutch   equinoxiaal
3322     Turkish  afyonkarahisar       Dutch       amfioen
3325     Turkish   konfederasyon       Dutch  confederatie

[2475 rows x 4 columns]

In [79]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master term_master lang_sleeve   term_sleeve
0        Turkish     palavra       Dutch        parool
1        Turkish     palavra       Dutch   parabolisch
2        Turkish     palavra       Dutch  paraboolduin
3        Turkish     parabol       Dutch        parool
4        Turkish     parabol       Dutch   parabolisch
...          ...         ...         ...           ...
2595     Turkish         kez       Dutch          giek
2596     Turkish       slayt       Dutch     slijderen
2597     Turkish       slayt       Dutch       slijden
2598     Turkish         şık       Dutch     schielijk
2599     Turkish       sprey       Dutch      sproeien

[2600 rows x 4 columns]

In [80]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [81]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

           term
0       palavra
1       parabol
2    alternatif
3           baz
4           çek
..          ...
484         vay
485      isteka
486        tüyo
487         kez
488       slayt

[489 rows x 1 columns]

In [82]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [44]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [45]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [46]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [47]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [64]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

       english_word turkish_word
0             parle        parle
1            parlay     parlamak
2            parlor        salon
3          parabola      parabol
4           parable     benzetme
...             ...          ...
17644  balkanistics    balkanist
17645     demirjian    Demirjian
17646   jackalberry  Jackalberry
17647       alikhan       alikan
17648      elchibey     elchibey

[17649 rows x 2 columns]

In [65]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

       english_word turkish_word
0             parle        parle
1            parlay     parlamak
2            parlor        salon
3          parabola      parabol
4           parable     benzetme
...             ...          ...
17644  balkanistics    balkanist
17645     demirjian    demirjian
17646   jackalberry  jackalberry
17647       alikhan       alikan
17648      elchibey     elchibey

[17649 rows x 2 columns]

In [66]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     turkish_word
0         palavra
1         parabol
2      alternatif
3             baz
4             çek
...           ...
1163          -çi
1164        kelle
1165        gümüş
1166       çingiz
1167      demirci

[1168 rows x 1 columns]

In [67]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

     dict_entry_main turkish_word
0             parlor        salon
1              salon        salon
2             saloon        salon
3      saloonkeeping        salon
4              salep        salon
...              ...          ...
1043          sanjak       sancak
1044         persian       farsça
1045            orda         ordu
1046           yasak        yasak
1047           taraf        taraf

[1048 rows x 2 columns]

In [68]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)