#### Language Pair Word Equality

In [148]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [149]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [150]:
lang_1 = "French"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

French
Italian
Italian (ita)

In [151]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [152]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0        French        visa        Italian       vista
1        French      vision        Italian       vista
2        French          vé        Italian       vista
3        French        voir        Italian       vista
4        French     visiter        Italian       vista
..          ...         ...            ...         ...
773      French      pastel  Italian (ita)    pastello
774  Portuguese      pastel  Italian (ita)    pastello
775     English     brigade  Italian (ita)       briga
776      French     brigade  Italian (ita)       briga
777      French      alerte  Italian (ita)        erta

[778 rows x 4 columns]

In [153]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master  term_master lang_sleeve term_sleeve
0        French           en     Italian          ne
1        French       orange     Italian        mela
2        French       orange     Italian     arancia
3        French         aria     Italian        aria
4        French          ami     Italian       amico
..          ...          ...         ...         ...
789      French   estouffade     Italian     stufato
790      French     esponton     Italian      spunta
791      French  outre-tombe     Italian  oltretomba
792      French  maisonneuve     Italian    casanova
793      French      fermail     Italian   fermaglio

[794 rows x 4 columns]

In [154]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

     lang_master         term_master lang_sleeve  term_sleeve
0         French             exposer     Italian       posare
1         French            disposer     Italian       posare
2         French                pose     Italian       posare
3         French                pose     Italian       posare
4         French            composer     Italian       posare
...          ...                 ...         ...          ...
2023      French        incompétitif     Italian  competitivo
2024      French   escalade de glace     Italian      scalata
2025      French  escalade sur glace     Italian      scalata
2026      French         maisonneuve     Italian     casanova
2027      French          estouffade     Italian      stufato

[2028 rows x 4 columns]

In [155]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

        lang         term         related_term_id
0     French       parole  uXGtk5g-W8G_TlTxSHImpg
1     French     perruque  uXGtk5g-W8G_TlTxSHImpg
2     French     palabrer  uXGtk5g-W8G_TlTxSHImpg
3     French       parole  JHVmHqAPXEq-YaIbd0B5Jg
4     French       parole  JHVmHqAPXEq-YaIbd0B5Jg
...      ...          ...                     ...
5484  French       bedeau  Bk55mSnxUqGPRteNfXLOtQ
5485  French       honoré  aJUiFYRFUmeeE3RoALa5Yg
5486  French     orphisme  bwgVzhbGV2WH5kaF_ZinYQ
5487  French     orphiste  bwgVzhbGV2WH5kaF_ZinYQ
5488  French  intraguilde  Qnp09ymLUXqZTWv6UQuHGQ

[5489 rows x 3 columns]

In [156]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

          lang           term         related_term_id
0      Italian     parlamento  uXGtk5g-W8G_TlTxSHImpg
1      Italian      parlabile  uXGtk5g-W8G_TlTxSHImpg
2      Italian       sparlare  uXGtk5g-W8G_TlTxSHImpg
3      Italian    straparlare  uXGtk5g-W8G_TlTxSHImpg
4      Italian     parolaccia  JHVmHqAPXEq-YaIbd0B5Jg
...        ...            ...                     ...
11808  Italian        onorati  aJUiFYRFUmeeE3RoALa5Yg
11809  Italian     meschinità  3d7sEPkZW9encIZbGrhTFg
11810  Italian  meschinamente  3d7sEPkZW9encIZbGrhTFg
11811  Italian  rammeschinire  3d7sEPkZW9encIZbGrhTFg
11812  Italian  ricreazionale  2ZZMoqvvVZi9s45awKe6TQ

[11813 rows x 3 columns]

In [157]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

      lang_master    term_master lang_sleeve     term_sleeve
0          French         parole     Italian      parlamento
1          French         parole     Italian       parlabile
2          French         parole     Italian        sparlare
3          French         parole     Italian     straparlare
4          French       perruque     Italian      parlamento
...           ...            ...         ...             ...
74556      French  excessivement     Italian  eccessivamente
74557      French  excessivement     Italian     eccessività
74558      French         vésuve     Italian         vesuvio
74559      French       précaire     Italian        precario
74560      French         honoré     Italian         onorati

[74366 rows x 4 columns]

In [158]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master         term_master lang_sleeve  term_sleeve
0          French              parole     Italian   parlamento
1          French              parole     Italian    parlabile
2          French              parole     Italian     sparlare
3          French              parole     Italian  straparlare
4          French            perruque     Italian   parlamento
...           ...                 ...         ...          ...
52387      French             dallago     Italian           il
52388      French         enturbanner     Italian     turbante
52389      French        incompétitif     Italian  competitivo
52390      French   escalade de glace     Italian      scalata
52391      French  escalade sur glace     Italian      scalata

[52392 rows x 4 columns]

In [159]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

                    term
0                 parole
1               perruque
2               palabrer
3                 parler
4                    mot
...                  ...
4774            feintise
4775         enturbanner
4776        incompétitif
4777   escalade de glace
4778  escalade sur glace

[4779 rows x 1 columns]

In [160]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

             term  frequency
0              de   16588988
1              je   16386475
2             pas   11547876
3              le   10592792
4              la    9939090
...           ...        ...
39995  lisolation        342
39996     cordero        342
39997  profiterai        342
39998     montiez        342
39999       judge        342

[40000 rows x 2 columns]

In [161]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

           term  frequency
0            je   16386475
1            le   10592792
2          vous    8980559
3            et    8039570
4            on    4700594
...         ...        ...
2042  rythmique        348
2043   capitule        346
2044      étron        346
2045     enjoué        343
2046    détaler        343

[2047 rows x 2 columns]

In [162]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

     french_word
0             je
1             le
2           vous
3             et
4             on
...          ...
2042   rythmique
2043    capitule
2044       étron
2045      enjoué
2046     détaler

[2047 rows x 1 columns]

In [163]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [164]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

     french_word italian_word
0             je           io
1             le           il
2           vous          voi
3             et            e
4             on          noi
...          ...          ...
2042   rythmique      ritmico
2043    capitule     capitula
2044       étron       eetron
2045      enjoué      giocoso
2046     détaler       Famper

[2047 rows x 2 columns]

In [165]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

     french_word italian_word
0             je           io
1             le           il
2           vous          voi
3             et            e
4             on          noi
...          ...          ...
2042   rythmique      ritmico
2043    capitule     capitula
2044       étron       eetron
2045      enjoué      giocoso
2046     détaler       famper

[2047 rows x 2 columns]

In [166]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     italian_word
0      parlamento
1       parlabile
2        sparlare
3     straparlare
4      parolaccia
...           ...
6845     ferrovia
6846       moglie
6847          mal
6848           da
6849           il

[6850 rows x 1 columns]

In [167]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main  italian_word
0                je            io
1                le            il
2              vous           voi
3                on           noi
4              nous           noi
..              ...           ...
963  pornographique  pornografico
964       entrevoir      occhiata
965         prépuce      prepuzio
966      paysagiste   paesaggista
967        hérisson        riccio

[968 rows x 2 columns]

In [168]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)