#### Language Pair Word Equality

In [1]:
#!pip uninstall googletrans

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [3]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
df_lang11 = df_lang11.loc[:,["language_main","dict_entry_main","language","dict_entry"]]
df_lang11.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang11["term_master"] = df_lang11["term_master"].apply(lambda x: x.lower())
df_lang11["term_sleeve"] = df_lang11["term_sleeve"].apply(lambda x: x.lower())
df_lang11

   lang_master             term_master    lang_sleeve           term_sleeve
0      Turkish                     şut  English (eng)                 shoot
1      Turkish                     alo  English (eng)                heaven
2      Turkish                  türban  English (eng)                turban
3      Turkish                     çek  English (eng)                cheque
4      Turkish                    film  English (eng)                  film
5      Turkish                    test  English (eng)                  test
6      Turkish                   seksi  English (eng)                   sex
7      Turkish                    lord  English (eng)                  lord
8      Turkish                   taksi  English (eng)             taximeter
9      Turkish                  futbol  English (eng)                  foot
10     Turkish                romantik  English (eng)                   -ic
11     Turkish                     maç  English (eng)                   set
12     Turkish                   viski  English (eng)               whiskey
13     Turkish                   radyo  English (eng)                 radio
14     Turkish                 sandviç  English (eng)              sandwich
15     Turkish                    jüri  English (eng)                  jury
16     Turkish                   lider  English (eng)                  lead
17     Turkish                     kek  English (eng)              nokehike
18     Turkish  bağımlılık enjeksiyonu  English (eng)  dependency injection
19     Turkish                     şov  English (eng)                  show
20     Turkish                     gül  English (eng)                  goal
21     Turkish                  kovboy  English (eng)                   cow
22     Turkish                 beyzbol  English (eng)                  base
23     Turkish                  biftek  English (eng)                  beef
24     Turkish               biftekkek  English (eng)                  beef
25     Turkish               basketbol  English (eng)                basket
26     Turkish                    boks  English (eng)             box seats
27     Turkish                   tenis  English (eng)                tennis
28     Turkish                   sosis  English (eng)             salt mine
29     Turkish                     gey  English (eng)                gender
30     Turkish                 dijital  English (eng)                 digit
31     Turkish                striptiz  English (eng)                 strip
32     Turkish               fransiyum  English (eng)                france
33     Turkish                     kok  English (eng)               cocaine
34     Turkish                    site  English (eng)                 civis
35     Turkish                     dok  English (eng)                  dock
36     Turkish                  bikini  English (eng)                bikini
37     Turkish                  pijama  English (eng)               pajamas
38     Turkish                  basket  English (eng)                basket
39     Turkish               destroyer  English (eng)               destroy
40     Turkish                     sos  English (eng)                  mine

In [8]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0       Turkish       abide     English    monument
1       Turkish         bit     English         bit
2       Turkish        port     English        port
3       Turkish         dvd     English         dvd
4       Turkish      market     English      market
..          ...         ...         ...         ...
177     Turkish  transistör     English  transistor
178     Turkish       sayko     English      psycho
179     Turkish      intörn     English      intern
180     Turkish       filiz     English     phyllis
181     Turkish     metelik     English    metallic

[182 rows x 4 columns]

In [10]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: x.lower())
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: x.lower())
df_lang14

    lang_master    term_master lang_sleeve term_sleeve
0       Turkish            net     English        neat
1       Turkish         beygir     English         bar
2       Turkish           spor     English       sport
3       Turkish           blok     English        bloc
4       Turkish         kambur     English      change
..          ...            ...         ...         ...
241     Turkish         angaje     English         wed
242     Turkish          poşet     English      pocket
243     Turkish  haber spikeri     English     speaker
244     Turkish  radyo spikeri     English     speaker
245     Turkish  radyo spikeri     English       radio

[246 rows x 4 columns]

In [11]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

        lang        term         related_term_id
0    Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish  alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3    Turkish         baz  1So0kFpyWh-G9xute2SNTg
4    Turkish         baz  tJZMlh3FXjinpfCxRDoq6Q
..       ...         ...                     ...
943  Turkish     ekinoks  H4jqiun4W2G5iEt-RiEYdA
944  Turkish     ekinoks  _uua_9p8WnajV3YdSgBA6g
945  Turkish   melankoli  kDg9xtH2WQikSdBlwmoqPA
946  Turkish     ayşegül  6BvmwZSpVvOAnjnquLt24A
947  Turkish       murat  VEf1-icTV76JmPtq2evNDw

[948 rows x 3 columns]

In [12]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

          lang       term         related_term_id
0      English     polari  uXGtk5g-W8G_TlTxSHImpg
1      English     polari  uXGtk5g-W8G_TlTxSHImpg
2      English   parleyer  uXGtk5g-W8G_TlTxSHImpg
3      English  parlyaree  uXGtk5g-W8G_TlTxSHImpg
4      English      parle  JHVmHqAPXEq-YaIbd0B5Jg
...        ...        ...                     ...
34940  English     majlis  S-hywYilXpmBNkVMSHQuqg
34941  English     majlis  7wU4Pb5tWHiEvP_EpzON3g
34942  English       boza  O4TUaXztVomL4vM3VsqNvA
34943  English      huzun  c41uYacuVSuuaZ3JZRApgQ
34944  English      zarph  zLybclkNVU-7cPSiOTeY1w

[34945 rows x 3 columns]

In [14]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

      lang_master term_master lang_sleeve term_sleeve
0         Turkish     palavra     English       parle
1         Turkish     palavra     English      parlay
2         Turkish     palavra     English      parlor
3         Turkish     palavra     English    parabola
4         Turkish     palavra     English     parable
...           ...         ...         ...         ...
23596     Turkish      körfez     English    gulflike
23597     Turkish      körfez     English    gulfweed
23598     Turkish      körfez     English    gulfward
23599     Turkish      körfez     English   gulfwards
23600     Turkish       murat     English       murat

[23516 rows x 4 columns]

In [20]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master    term_master lang_sleeve term_sleeve
0         Turkish        palavra     English       parle
1         Turkish        palavra     English      parlay
2         Turkish        palavra     English      parlor
3         Turkish        palavra     English    parabola
4         Turkish        palavra     English     parable
...           ...            ...         ...         ...
23980     Turkish         angaje     English         wed
23981     Turkish          poşet     English      pocket
23982     Turkish  haber spikeri     English     speaker
23983     Turkish  radyo spikeri     English     speaker
23984     Turkish  radyo spikeri     English       radio

[23985 rows x 4 columns]

In [21]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

              term
0          palavra
1          parabol
2       alternatif
3              baz
4              çek
..             ...
583        bilanço
584     regülasyon
585         angaje
586  haber spikeri
587  radyo spikeri

[588 rows x 1 columns]

In [22]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [23]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0          ne    8025880
1         her    2264013
2         bay     875933
3         zor     310368
4       yarın     286640
..        ...        ...
406    turizm        984
407  kapasite        984
408  versiyon        984
409    klavye        982
410    boykot        976

[411 rows x 2 columns]

In [19]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

    turkish_word
0             ne
1            her
2            bay
3            zor
4          yarın
..           ...
406       turizm
407     kapasite
408     versiyon
409       klavye
410       boykot

[411 rows x 1 columns]

In [15]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [16]:
df_pair_translate = pd.read_excel(f"{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

    turkish_word      italian_word
0        kontrol         controllo
1          polis  polizia stradale
2        telefon          telefono
3         kaptan          capitano
4         numara            numero
..           ...               ...
218         klip              clip
219      fırıncı        panettiere
220     patlıcan         melanzana
221         düet            duetto
222     versiyon          versione

[223 rows x 2 columns]

In [17]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

    italian_word
0     parolaccia
1       parolina
2       parabola
3         parola
4    paraboloide
..           ...
895       poggia
896     poggiare
897       signor
898     cassiere
899     bilancio

[900 rows x 1 columns]

In [18]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_2.lower()}_word":"dict_entry_main"})

    turkish_word italian_word
0        kontrol    controllo
1        telefon     telefono
2         numara       numero
3          müzik       musica
4           okul       scuola
..           ...          ...
111      karamel    caramello
112      stadyum       stadio
113         klip         clip
114     patlıcan    melanzana
115         düet       duetto

[116 rows x 2 columns]

In [19]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

In [ ]:
from googletrans import Translator

In [ ]:
translator = Translator()

In [ ]:
result = translator.translate('Mitä sinä teet')

In [ ]:
print(googletrans.LANGUAGES)