### Data Preprocess

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # Deutch
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [3]:
def clean_text(text):
    text_clean = re.findall(custom_alp, text)
    text_result = " ".join(text_clean)
    return text_result

In [4]:
folder_name = "Turkish"
custom_alp = tr

In [90]:
df_word = pd.read_excel(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = pd.read_csv("")
df_word

                  word  frequency
0                  bir   18835735
1               fikret   12101580
2                   bu   11062659
3                   ne    8025880
4                   ve    7766036
...                ...        ...
164296    buldugumuzda         43
164297  boşandıklarını         42
164298    endişenlenme         42
164299    uzaylıymışım         42
164300      söylememis         38

[164301 rows x 2 columns]

In [91]:
df_word.iloc[:,0] = df_word.iloc[:,0].apply(lambda x: clean_text(x))
df_word.dropna(inplace=True)
df_word.drop(df_word[df_word.iloc[:,0] == ""].index, inplace=True)
df_word.reset_index(drop=True, inplace=True)
df_word

                  word  frequency
0                  bir   18835735
1               fikret   12101580
2                   bu   11062659
3                   ne    8025880
4                   ve    7766036
...                ...        ...
164296    buldugumuzda         43
164297  boşandıklarını         42
164298    endişenlenme         42
164299    uzaylıymışım         42
164300      söylememis         38

[164301 rows x 2 columns]

In [92]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [93]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [138]:
word_num = 28
df_select = df_word.head(word_num)
df_select

         word  frequency
0         bir   18835735
1      fikret   12101580
2          bu   11062659
3          ne    8025880
4          ve    7766036
...       ...        ...
1362    tutun      50914
1363   kafayı      50845
1364  getirin      50842
1365  ziyaret      50837
1366   alayım      50829

[1367 rows x 2 columns]

In [139]:
word_list = df_select["word"].values.tolist()

In [176]:
data_kind = "sentence" # twogram, fourgram
spec_folder = "Sentence" # Sentence, N Gram

In [177]:
df = pd.read_csv(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/{spec_folder.lower().capitalize()}/Merge/{data_kind.lower().capitalize()}_Merge.csv") # sentence, n gram dataframe
df

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [178]:
d_list  = df.iloc[:,0].values.tolist()

In [179]:
resultlist = []

In [180]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [181]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

                            sentence  frequency               code
0                               evet    1948596   G1-L4-F1948596-0
1                             fikret    1533918   G1-L6-F1533918-1
2                              hayır    1250401   G1-L5-F1250401-2
3                              tamam     882921    G1-L5-F882921-3
4                                 ne     753105    G1-L2-F753105-4
...                              ...        ...                ...
328692                  var tabi var          6  G3-L12-F6-2885684
328693  hemen gitmek zorunda değiliz          6  G4-L28-F6-2885683
328694       garip bir şeyler var mı          6  G5-L23-F6-2850119
328695             neyse şunu buldum          6  G3-L17-F6-2850108
328696                   kızın resmi          6  G2-L11-F6-2913960

[328697 rows x 3 columns]

In [182]:
data_len = len(df_merge_result)
#data_len

In [183]:
df_merge_result = df_merge_result.head(1000000)

In [184]:
df_merge_result.to_excel(f"{data_kind.lower().capitalize()}_{data_len}_With_{word_num}_Word.xlsx", index=False)

In [157]:
#df_select.to_excel(f"Word_{word_num}.xlsx", sheet_name='Word', index=False)

#### Language Word In Each Other

In [5]:
df_word_arabic = pd.read_excel(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Data/Arapca/Arapca Kelimeler.xlsx")
df_word_arabic = pd.DataFrame(df_word_arabic.iloc[:,0])
df_word_arabic.rename(columns={df_word_arabic.columns[0]:f"word"}, inplace=True)
df_word_arabic

         word
0         aba
1     abanmak
2         abd
3       abdal
4        abes
...       ...
4316     mekr
4317   tezvir
4318     kaan
4319    leyla
4320    ebedi

[4321 rows x 1 columns]

In [6]:
word_list = df_word_arabic.word.to_list()

In [10]:
ngram_type = "twogram" # twogram, threegram, fourgram, fivegram
spec_folder = "N Gram" # Sentence, N Gram

In [11]:
df_sent_ngram = pd.read_csv(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/{spec_folder.lower().capitalize()}/Merge/{ngram_type.lower().capitalize()}_Merge.csv")
df_sent_ngram

                      twogram  frequency
0                     bir şey     859944
1                    değil mi     585879
2                      ben de     377765
3             teşekkür ederim     370619
4                     ne oldu     322758
...                       ...        ...
4457029         fikret cibran          3
4457030         romalı fikret          3
4457031        fikret ciooney          3
4457032          fikret cisco          3
4457033  seyretmeliyim fikret          3

[4457034 rows x 2 columns]

In [12]:
df_word_result = pd.DataFrame()
for i in word_list:
    try:
        word_in_sent_ngram = df_sent_ngram[df_sent_ngram.iloc[:,0].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] # try and except will try for sample
    except:
        pass
        #word_in_video = df_sent_ngram[df_sent_ngram.iloc[:,0].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(10) 
    word_in_sent_ngram.insert(0,"word",i)
    df_word_result = pd.concat([df_word_result,word_in_sent_ngram], axis=0)
df_word_result.reset_index(drop=True, inplace=True)
df_word_result

         word          twogram  frequency
0         aba   aba sayılardan         14
1         aba         aba için          7
2         aba         önce aba          7
3         abd    abd donanması        196
4         abd       fikret abd        185
...       ...              ...        ...
552771  ebedi       için ebedi          6
552772  ebedi       onun ebedi          6
552773  ebedi  doğaötesi ebedi          6
552774  ebedi       izin ebedi          6
552775  ebedi      dikip ebedi          6

[552776 rows x 3 columns]

In [13]:
df_word_result.to_csv(f"Arabic_Word_In_Turkish_{ngram_type.lower().capitalize()}.csv", index=False)