#### Language Pair Word Equality

In [187]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [62]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [63]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [64]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [65]:
df_lang11 = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve  term_sleeve
0       Turkish      avukat        English       avocat
1       Turkish      makyaj        English   maquillage
2       Turkish        depo        English      deposit
3       Turkish        depo        English       expose
4       Turkish        depo        English  proposition
..          ...         ...            ...          ...
246     Turkish       tenis  English (eng)       tennis
247     Turkish        lord  English (eng)         lord
248     Spanish        lord  English (eng)         lord
249     Italian        lord  English (eng)         lord
250     Turkish         kok  English (eng)      cocaine

[251 rows x 4 columns]

In [66]:
df_lang13 = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master  term_master lang_sleeve   term_sleeve
0       Turkish        abide     English      monument
1       Turkish          bit     English           bit
2       Turkish          bit     English  binary digit
3       Turkish         port     English          port
4       Turkish          dvd     English           dvd
..          ...          ...         ...           ...
230     Turkish        sayko     English        psycho
231     Turkish  laparoskopi     English   laparoscopy
232     Turkish       intörn     English        intern
233     Turkish        filiz     English       phyllis
234     Turkish      metelik     English      metallic

[235 rows x 4 columns]

In [67]:
df_lang14 = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master    term_master lang_sleeve  term_sleeve
0       Turkish            net     English        nitid
1       Turkish            net     English         neat
2       Turkish         beygir     English          bar
3       Turkish           spor     English        sport
4       Turkish           blok     English         balk
..          ...            ...         ...          ...
347     Turkish          poşet     English       pocket
348     Turkish    materyalizm     English  materialism
349     Turkish  haber spikeri     English      speaker
350     Turkish  radyo spikeri     English        radio
351     Turkish  radyo spikeri     English      speaker

[352 rows x 4 columns]

In [68]:
df_lang12 = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

         lang       term         related_term_id
0     Turkish    palavra  uXGtk5g-W8G_TlTxSHImpg
1     Turkish    palavra  JHVmHqAPXEq-YaIbd0B5Jg
2     Turkish    parabol  JHVmHqAPXEq-YaIbd0B5Jg
3     Turkish    palavra  r3NclALnW1ioq3gnbe1R5g
4     Turkish        inç  H-2YVn9qXryY0R5E5yibQw
...       ...        ...                     ...
5061  Turkish     mersin  nkekVjAuXMCqs70-yhzAHw
5062  Turkish  sanayisiz  lOJgZfZpVs2j5mhShOkXFg
5063  Turkish    tersane  lOJgZfZpVs2j5mhShOkXFg
5064  Turkish    tersane  8sAvMylPV06vp_knMpEaQA
5065  Turkish    tersane  uunt-HERUyi9KbO__wGPZg

[5066 rows x 3 columns]

In [69]:
df_lang22 = pd.read_excel(f"{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

           lang          term         related_term_id
0       English         parle  uXGtk5g-W8G_TlTxSHImpg
1       English        parlay  uXGtk5g-W8G_TlTxSHImpg
2       English        parlor  uXGtk5g-W8G_TlTxSHImpg
3       English        parole  uXGtk5g-W8G_TlTxSHImpg
4       English        polari  uXGtk5g-W8G_TlTxSHImpg
...         ...           ...                     ...
136618  English        mersin  nkekVjAuXMCqs70-yhzAHw
136619  English  cyberarsenal  lOJgZfZpVs2j5mhShOkXFg
136620  English     ispaghula  Prp1DBBWUTaz2Byw6yggQA
136621  English  cyberarsenal  8sAvMylPV06vp_knMpEaQA
136622  English  cyberarsenal  uunt-HERUyi9KbO__wGPZg

[136623 rows x 3 columns]

In [70]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

       lang_master  term_master lang_sleeve       term_sleeve
0          Turkish      palavra     English             parle
1          Turkish      palavra     English            parlay
2          Turkish      palavra     English            parlor
3          Turkish      palavra     English            parole
4          Turkish      palavra     English            polari
...            ...          ...         ...               ...
141255     Turkish  laparoskopi     English     laparoscopist
141256     Turkish  laparoskopi     English  hydrolaparoscopy
141257     Turkish  laparoskopi     English     relaparoscopy
141258     Turkish  laparoskopi     English  videolaparoscopy
141260     Turkish    sanayisiz     English      cyberarsenal

[93313 rows x 4 columns]

In [28]:
df_same_ety.to_excel(f"{lang_1.capitalize()}_{lang_2.capitalize()}_Common.xlsx", index=False)

In [71]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master    term_master lang_sleeve term_sleeve
0         Turkish        palavra     English       parle
1         Turkish        palavra     English      parlay
2         Turkish        palavra     English      parlor
3         Turkish        palavra     English      parole
4         Turkish        palavra     English      polari
...           ...            ...         ...         ...
93801     Turkish     regülasyon     English  regulation
93802     Turkish     levitasyon     English   gravitate
93803     Turkish  haber spikeri     English     speaker
93804     Turkish  radyo spikeri     English       radio
93805     Turkish  radyo spikeri     English     speaker

[93806 rows x 4 columns]

In [72]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

               term
0           palavra
1           parabol
2               inç
3               sos
4             salça
...             ...
2284    diskalifiye
2285            suş
2286     regülasyon
2287  haber spikeri
2288  radyo spikeri

[2289 rows x 1 columns]

In [20]:
df_master_unique.to_excel("Master_Unique.xlsx", index=False)

In [73]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [74]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

          term  frequency
0           ne    8025880
1           ve    7766036
2          her    2264013
3        benim    2229616
4        nasıl    1656739
...        ...        ...
1118  kapasite        984
1119  versiyon        984
1120    klavye        982
1121    boykot        976
1122   cadılık        975

[1123 rows x 2 columns]

In [61]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

     turkish_word
0             bir
1              ne
2              ve
3             ben
4             her
...           ...
1024     versiyon
1025       klavye
1026   zeytinyağı
1027       boykot
1028      cadılık

[1029 rows x 1 columns]

In [24]:
df_master_unique_word_merge.to_excel(f"{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [29]:
df_pair_translate = pd.read_excel(f"{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

       turkish_word     english_word
0           palavra         bragging
1           parabol         parabola
2        alternatif      alternative
3               baz             base
4               çek            Check
...             ...              ...
1043        bilanço          balance
1044       hemfikir           agreed
1045     regülasyon       regulation
1046  haber spikeri       newsreader
1047  radyo spikeri  radio announcer

[1048 rows x 2 columns]

In [30]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

       turkish_word     english_word
0           palavra         bragging
1           parabol         parabola
2        alternatif      alternative
3               baz             base
4               çek            check
...             ...              ...
1043        bilanço          balance
1044       hemfikir           agreed
1045     regülasyon       regulation
1046  haber spikeri       newsreader
1047  radyo spikeri  radio announcer

[1048 rows x 2 columns]

In [31]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      english_word
0            parle
1           parlay
2           parlor
3         parabola
4          parable
...            ...
17509        stock
17510    knock out
17511      balance
17512   regulation
17513    gravitate

[17514 rows x 1 columns]

In [32]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3              broş       brooch
4         sıfırıncı         zero
..              ...          ...
480     prehistorik  prehistoric
481      performans  performance
482            avlu    courtyard
483         bilanço      balance
484      regülasyon   regulation

[485 rows x 2 columns]

In [208]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)