### Read Json

In [1]:
import pandas as pd
import numpy as np
import json

In [4]:
df_json = pd.read_json("output.json").transpose()
df_json.reset_index(drop=True, inplace=True)
df_json = df_json.loc[:,["baslik", "koken"]]
df_json.rename(columns={"baslik":"word"}, inplace=True)
df_json

           word                                              koken
0            ab  <p> <b>Farsça</b>  <i>āb </i>veya<i> āv</i>  آ...
1           aba  <p> <b>Arapça</b>  <i>abāˀ </i>veya<i> ḳabāˀ</...
2        abajur  <p> <b>Fransızca\n</b>  <i>abat-jour</i>  "«gü...
3        abaküs  <p> <b>Latince</b>  <i>abacus</i>  "1. her tür...
4      aban|mak  <p> <b>Arapça</b>  <i>abāˀ</i>  "keçe üstlük" ...
...         ...                                                ...
15181    zünnar  <p> <b>Arapça</b>  <i>znr</i> kökünden gelen  ...
15182     züppe           <p> Bu sözcüğün kökeni belirsizdir. </p>
15183    zürafa  <p> <b>Arapça</b>  <i>zrf</i> kökünden gelen  ...
15184    zürefa  <p> <b>Arapça</b>  <i>ẓrf</i> kökünden gelen  ...
15185  zürriyet  <p> <b>Arapça</b>  <i>ḏrr</i> kökünden gelen  ...

[15186 rows x 2 columns]

In [6]:
df_json["word"] = df_json["word"].apply(lambda x: x.strip())

In [10]:
#df_json.to_excel("Nisanyan_Json_Result.xlsx", index=False)

In [7]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word

               word
0               bir
1            fikret
2                bu
3                ne
4                ve
...             ...
39995    ekipmanlar
39996     şanslılar
39997     aksanıyla
39998  yargılanacak
39999     tepkisini

[40000 rows x 1 columns]

In [57]:
set_json = set(df_json.word)
set_word = set(df_word.word)

In [58]:
len(set_json.intersection(set_word))

4011

In [59]:
df_intersect = pd.DataFrame(set_json.intersection(set_word), columns=["intersect_word"])
df_intersect

     intersect_word
0           pozitif
1            kolera
2             bağış
3          sürüngen
4             alarm
...             ...
4006           elim
4007           marş
4008       portatif
4009          kakao
4010       muzaffer

[4011 rows x 1 columns]

In [67]:
df_merge = pd.merge(df_word,df_intersect,how="left", left_on="word",right_on="intersect_word")
df_merge.rename(columns={"intersect_word":"nisanyan"}, inplace=True)
df_merge

               word nisanyan
0               bir      bir
1            fikret      NaN
2                bu      NaN
3                ne      NaN
4                ve       ve
...             ...      ...
39995    ekipmanlar      NaN
39996     şanslılar      NaN
39997     aksanıyla      NaN
39998  yargılanacak      NaN
39999     tepkisini      NaN

[40000 rows x 2 columns]

In [76]:
df_merge['nisanyan'][~df_merge['nisanyan'].isna()] = "nisanyan"  # word convert nisanyan

In [77]:
df_merge

               word  nisanyan
0               bir  nisanyan
1            fikret       NaN
2                bu       NaN
3                ne       NaN
4                ve  nisanyan
...             ...       ...
39995    ekipmanlar       NaN
39996     şanslılar       NaN
39997     aksanıyla       NaN
39998  yargılanacak       NaN
39999     tepkisini       NaN

[40000 rows x 2 columns]