### Word In DataFrame

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df_youtube_sentence = pd.read_csv("YoutubeDL_Sentence_DF.csv")
df_youtube_sentence

#### Word

In [ ]:
#df_youtube_sentence.sentence.filter()

In [ ]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains("geç", na=True)].head(5) # .sample(5, random_state=1) # replace=True

In [ ]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains(r'(?:\s|^)geçmiş(?:\s|$)', na=True)].head(5) # Exact match

In [ ]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains(fr"(?:\s|^){'geçmiş'}(?:\s|$)", na=True)].head(5) # f string

In [ ]:
word_list = ['geçmiş','yengeçler','küçük','tarık','darıca','yüzgeçleri', 'güle', 'göreceğiniz', 'bensiz']

In [ ]:
len(word_list)

In [ ]:
df_word_result = pd.DataFrame()
for i in word_list:
    word_in_video = df_youtube_sentence[df_youtube_sentence.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(10)
    word_in_video.insert(0,"word",i)
    df_word_result = pd.concat([df_word_result,word_in_video], axis=0)

In [ ]:
# sample_df.drop_duplicates(subset = ['word'], keep = 'first', inplace = True)

In [ ]:
df_word_result

In [ ]:
df_word_result.word.nunique()

In [ ]:
pd.pivot_table(df_word_result, index=["word"]) # ???

#### Sentence

In [ ]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains("metrelik  kumluk", na=True)].head(5)

In [ ]:
sent_list = ["metrelik  kumluk", "hadi  geçmiş  olsun", "bugünüm  sensiz  geçti"]

In [ ]:
df_sent_result = pd.DataFrame()
for i in sent_list:
    sent_in_video = df_youtube_sentence[df_youtube_sentence.sentence.str.contains(fr"\s{i}\s", na=True)].head(10)
    sent_in_video.insert(0,"sent_ngram",i)
    df_sent_result = pd.concat([df_sent_result,sent_in_video], axis=0)

In [ ]:
df_sent_result

In [ ]:
ngram_list = ['diğer yengeçler', 'bir bu', 'ne dedin', 'için mi', 'o neden', 'ben de', 'çok ama', 'seni seviyorum','videoda darıca', 'hani her']

In [ ]:
sent_list = df_youtube_sentence.sentence.tolist()

In [ ]:
sent_list

#### Word In Youtube Sentence

In [3]:
word_num = 300
df_word_youtube = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/Turkish/Word Tokenize Merge/Youtube_Word_Tokenize_Merge.csv")
df_word_select = df_word_youtube.head(word_num)
df_word_select

         word  frequency
0         bir    1173600
1          bu     840135
2          ve     590780
3         çok     497301
4          da     486717
..        ...        ...
295     hasta      15873
296      kötü      15853
297  birazcık      15834
298    geldim      15826
299     sizin      15816

[300 rows x 2 columns]

In [4]:
df_sent_youtube = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/Turkish/Sentence Clean Merge/Clean_Youtube_Sentence_Merge_Result.csv")
df_sent_youtube

,start_time,end_time,sentence,video_id
0,00:00:06.680,00:00:07.340,sen kimsin peki,JR7nKXxUVtM
1,00:00:07.340,00:00:08.600,parolayı söyle,JR7nKXxUVtM
2,00:00:09.440,00:00:11.060,ya ben kim olacağım,JR7nKXxUVtM
3,00:00:11.060,00:00:11.860,keloğlan ım,JR7nKXxUVtM
4,00:00:13.380,00:00:13.880,ey,JR7nKXxUVtM
...,...,...,...,...
387903,00:02:11.720,00:02:14.440,gözlerin bir an bile çıkmadı aklımdan,7R3K6EDaBGE
387904,00:02:15.560,00:02:19.320,koynumdaysa hala o ufak bin lira,7R3K6EDaBGE
387905,00:02:20.320,00:02:21.200,sahi,7R3K6EDaBGE
387906,00:02:21.720,00:02:24.480,diğer eşi sende mi hala,7R3K6EDaBGE
387907,00:02:30.000,00:02:35.000,ufak bin lira,7R3K6EDaBGE

In [5]:
word_list = df_word_select.iloc[:,0].to_list()

In [7]:
df_word_result = pd.DataFrame()
for i in word_list:
    try:
        word_in_video = df_sent_youtube[df_sent_youtube.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].sample(10) # try and except will try for sample
    except:
        word_in_video = df_sent_youtube[df_sent_youtube.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(10)         
    word_in_video.insert(0,"word",i)
    df_word_result = pd.concat([df_word_result,word_in_video], axis=0)
df_word_result.reset_index(drop=True, inplace=True)
df_word_result

,word,start_time,end_time,sentence,video_id
0,bir,00:07:58.640,00:08:03.060,sokağa çıktığınızda bir otele gittiğinizde,Q4GUB8FXEoA
1,bir,00:01:28.743,00:01:38.283,bakalım üç tane içlerine bir gir sor ne yapıyo...,FZKEr8Gv1Ks
2,bir,01:54:03.150,01:54:09.960,de imkansız bir aşk yaşasanız aileniz karşı çı...,GYBLqxwKJzg
3,bir,00:07:34.911,00:07:36.191,kendi kendime bir sene boyunca,kJBLhoFvzYM
4,bir,00:00:33.390,00:00:37.440,yermiş arkadaşlar çok yoğun bir şekilde araçla...,uji2bYiNzIY
...,...,...,...,...,...
2995,sizin,00:06:13.400,00:06:16.280,daha sonra ilerleyen aşamalarda sizin çabaları...,GqZoRV32VFY
2996,sizin,00:02:23.616,00:02:28.480,i̇zmir marşı kutsaldır sizin ne haddinize bunu...,UCzXULyScAU
2997,sizin,00:23:47.090,00:23:52.790,gerekir ben şimdi gruptan boşuna kazanıyorum d...,d4O2uEPSgjo
2998,sizin,00:13:35.807,00:13:37.566,hesabı da sizin için çektim zaten,s3B5n7hVEjI
2999,sizin,00:03:52.721,00:03:56.000,eğer bilgisayarınız tabiri caizse sizin ekmek ...,fYTCBtoiPcE

In [ ]:
#df_word_result.to_csv(f"Words_In_Youtube_Sentences.csv", index=False)

#### Youtube Sentence With Word And Order With Timestamp

In [120]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [121]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [122]:
word_num = 300
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/Turkish/Word Tokenize Merge/Youtube_Word_Tokenize_Merge.csv") # word merge dataframe
df_word = df_word.head(word_num)
df_word

         word  frequency
0         bir    1173600
1          bu     840135
2          ve     590780
3         çok     497301
4          da     486717
..        ...        ...
295     hasta      15873
296      kötü      15853
297  birazcık      15834
298    geldim      15826
299     sizin      15816

[300 rows x 2 columns]

In [123]:
data_kind = "sentence"
df_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/Turkish/Sentence Clean Merge/Clean_Youtube_{data_kind.lower().capitalize()}_Merge_Result.csv")
df_sent

,start_time,end_time,sentence,video_id
0,00:00:06.680,00:00:07.340,sen kimsin peki,JR7nKXxUVtM
1,00:00:07.340,00:00:08.600,parolayı söyle,JR7nKXxUVtM
2,00:00:09.440,00:00:11.060,ya ben kim olacağım,JR7nKXxUVtM
3,00:00:11.060,00:00:11.860,keloğlan ım,JR7nKXxUVtM
4,00:00:13.380,00:00:13.880,ey,JR7nKXxUVtM
...,...,...,...,...
387903,00:02:11.720,00:02:14.440,gözlerin bir an bile çıkmadı aklımdan,7R3K6EDaBGE
387904,00:02:15.560,00:02:19.320,koynumdaysa hala o ufak bin lira,7R3K6EDaBGE
387905,00:02:20.320,00:02:21.200,sahi,7R3K6EDaBGE
387906,00:02:21.720,00:02:24.480,diğer eşi sende mi hala,7R3K6EDaBGE
387907,00:02:30.000,00:02:35.000,ufak bin lira,7R3K6EDaBGE

In [124]:
word_list = df_word.iloc[:,0].values.tolist()

In [125]:
sent_list  = df_sent.iloc[:,2].values.tolist()

In [126]:
resultlist = []

In [127]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(sent_list):
    mergelist = []
    try:
        word = sent_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(sent_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, sent_list) # string_word liste

In [128]:
# result_list = list(resultlist)
# df_result = pd.DataFrame(result_list)
# df_result.drop_duplicates()

In [129]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result.drop_duplicates(inplace=True)
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_sent_merge = pd.merge(df_result, df_sent, how="inner", on=f"{data_kind.lower()}")
df_sent_merge.drop_duplicates(inplace=True)
df_sent_with_words = df_sent_merge.sort_values(by=["video_id","start_time"], ascending=True)
df_sent_with_words.reset_index(drop=True, inplace=True)
df_sent_with_words

                    sentence    start_time      end_time     video_id
0                       yeni  00:00:02.304  00:00:02.816  0Bs9I3H1OJk
1                   ne kadar  00:00:30.976  00:00:31.488  0Bs9I3H1OJk
2                 bunun için  00:01:07.072  00:01:07.584  0Bs9I3H1OJk
3                    şu anda  00:02:15.168  00:02:15.680  0Bs9I3H1OJk
4      birkaç gün içerisinde  00:02:34.112  00:02:34.624  0Bs9I3H1OJk
...                      ...           ...           ...          ...
16550        çok güzel olmuş  00:02:33.583  00:02:35.008  zwWS6yifThY
16551                    var  00:08:13.490  00:08:19.860  zzXTIIo7EvM
16552                    ben  00:12:56.180  00:13:04.974  zzXTIIo7EvM
16553              burası da  00:22:55.450  00:23:01.260  zzXTIIo7EvM
16554                    tam  00:25:14.035  00:25:19.890  zzXTIIo7EvM

[16555 rows x 4 columns]

In [130]:
#df_merge_result.to_csv(f"Youtube_{data_kind.capitalize()}_With_{word_num}_Words.csv", index=False)

In [131]:
#df_word.to_excel(f"Word_{word_num}.xlsx", sheet_name='Word', index=False)

In [132]:
df_sent_with_words["with_word"] = 1
df_sent_with_words

,sentence,start_time,end_time,video_id,with_word
0,yeni,00:00:02.304,00:00:02.816,0Bs9I3H1OJk,1
1,ne kadar,00:00:30.976,00:00:31.488,0Bs9I3H1OJk,1
2,bunun için,00:01:07.072,00:01:07.584,0Bs9I3H1OJk,1
3,şu anda,00:02:15.168,00:02:15.680,0Bs9I3H1OJk,1
4,birkaç gün içerisinde,00:02:34.112,00:02:34.624,0Bs9I3H1OJk,1
...,...,...,...,...,...
16550,çok güzel olmuş,00:02:33.583,00:02:35.008,zwWS6yifThY,1
16551,var,00:08:13.490,00:08:19.860,zzXTIIo7EvM,1
16552,ben,00:12:56.180,00:13:04.974,zzXTIIo7EvM,1
16553,burası da,00:22:55.450,00:23:01.260,zzXTIIo7EvM,1
16554,tam,00:25:14.035,00:25:19.890,zzXTIIo7EvM,1

In [133]:
df_with_word = pd.merge(df_sent, df_sent_with_words, how="left", on=["sentence","start_time","end_time","video_id"])
df_with_word.fillna(0, inplace=True)
df_with_word

,start_time,end_time,sentence,video_id,with_word
0,00:00:06.680,00:00:07.340,sen kimsin peki,JR7nKXxUVtM,0.0
1,00:00:07.340,00:00:08.600,parolayı söyle,JR7nKXxUVtM,0.0
2,00:00:09.440,00:00:11.060,ya ben kim olacağım,JR7nKXxUVtM,0.0
3,00:00:11.060,00:00:11.860,keloğlan ım,JR7nKXxUVtM,0.0
4,00:00:13.380,00:00:13.880,ey,JR7nKXxUVtM,0.0
...,...,...,...,...,...
387903,00:02:11.720,00:02:14.440,gözlerin bir an bile çıkmadı aklımdan,7R3K6EDaBGE,0.0
387904,00:02:15.560,00:02:19.320,koynumdaysa hala o ufak bin lira,7R3K6EDaBGE,0.0
387905,00:02:20.320,00:02:21.200,sahi,7R3K6EDaBGE,0.0
387906,00:02:21.720,00:02:24.480,diğer eşi sende mi hala,7R3K6EDaBGE,0.0
387907,00:02:30.000,00:02:35.000,ufak bin lira,7R3K6EDaBGE,0.0

In [134]:
df_with_word.iloc [0,1]

'00:00:07.340'

In [135]:
#df_with_word = df_with_word.head(10000)
#df_with_word

In [136]:
df_with_word.with_word.value_counts()

0.0    371353
1.0     16555
Name: with_word, dtype: int64

In [137]:
df_with_word.loc[0,"video_id"]

'JR7nKXxUVtM'

In [138]:
# First Code Running For All Sentence
zeros = []
ones = []
zero_list = []
one_list = []
for i in range(len(df_with_word)):    
    if df_with_word.loc[i,"with_word"] == 0:
        zeros.append(i)
        try:
            one_list.append((ones[0],len(ones)))
        except:
            pass
        ones = []
    else:
        ones.append(i)
        try:
            zero_list.append((zeros[0],len(zeros)))
        except:
            pass
        zeros = []
try:
    one_list.append((ones[0],len(ones)))
except:
    pass
try:
    zero_list.append((zeros[0],len(zeros)))
except:
    pass

#zero_list.append((zeros[0],len(zeros)))
#one_list.append((ones[0],len(ones)))

In [113]:
# Try Code 
zeros = []
ones = []
zero_list = []
one_list = []
for i in range(len(df_with_word)):    
    if df_with_word.loc[i,"with_word"] == 0:
        zeros.append(i)
        try:
            one_list.append((ones[0],len(ones)))
        except:
            pass
        ones = []
    else:
        ones.append(i)
        try:
            zero_list.append((zeros[0],len(zeros)))
        except:
            pass
        zeros = []
try:
    one_list.append((ones[0],len(ones)))
except:
    pass
try:
    zero_list.append((zeros[0],len(zeros)))
except:
    pass

In [140]:
len(one_list)

13979

In [141]:
len(zero_list)

13980

In [142]:
df_one = pd.DataFrame(one_list)
df_one.rename(columns={0:"index",1:"length"}, inplace=True)
df_one.drop_duplicates(inplace=True)
df_one

        index  length
0          59       1
1          65       1
2          81       1
3         153       1
4         162       1
...       ...     ...
13974  387845       1
13975  387851       1
13976  387853       1
13977  387866       1
13978  387887       1

[13979 rows x 2 columns]

In [143]:
df_one.sort_values(by="length", ascending=False)

        index  length
10531  286907      39
2157    39290      31
9383   256862      29
6284   145435      22
9404   257157      18
...       ...     ...
5035   109783       1
5036   109824       1
5037   109905       1
5039   109926       1
13978  387887       1

[13979 rows x 2 columns]

In [84]:
df_one[df_one.length == 39]

        index  length
10531  286907      39

In [119]:
df_with_word.iloc[286907:286946,]

Empty DataFrame
Columns: [start_time, end_time, sentence, video_id, with_word]
Index: []

In [27]:
df_with_word.loc[65,"with_word"]

1.0

In [28]:
df_one[1].sum()

589

In [36]:
df_zero = pd.DataFrame(zero_list)
df_zero.rename(columns={0:"index",1:"length"}, inplace=True)
df_zero.drop_duplicates(inplace=True)
df_zero

     index  length
0        0      59
1       60       5
2       66      15
3       82      71
4      154       8
..     ...     ...
496   9963       1
497   9965       3
498   9969       2
499   9974       3
500   9979      21

[501 rows x 2 columns]

In [31]:
df_zero[1].sum()

9411

In [ ]:
#df_with_word[df_with_word.with_word == 1]

In [ ]:
#df_with_word.to_csv(f"Youtube_{data_kind.capitalize()}_All_And_With_{word_num}_Word_Check.csv", index=False)

In [32]:
df_word_result = pd.DataFrame()
for i in word_list:
    word_in_video = df_sent_with_words[df_sent_with_words.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] # try and except will try for sample 
    word_in_video.insert(0,"word",i)
    df_word_result = pd.concat([df_word_result,word_in_video], axis=0)
df_word_result.reset_index(drop=True, inplace=True)
df_word_result = df_word_result.sort_values(by=["video_id","start_time"], ascending=True)
df_word_result.reset_index(drop=True, inplace=True)
df_word_result

         word    sentence    start_time      end_time     video_id  with_word
0        yeni        yeni  00:00:02.304  00:00:02.816  0Bs9I3H1OJk          1
1          ne    ne kadar  00:00:30.976  00:00:31.488  0Bs9I3H1OJk          1
2       kadar    ne kadar  00:00:30.976  00:00:31.488  0Bs9I3H1OJk          1
3        için  bunun için  00:01:07.072  00:01:07.584  0Bs9I3H1OJk          1
4       bunun  bunun için  00:01:07.072  00:01:07.584  0Bs9I3H1OJk          1
...       ...         ...           ...           ...          ...        ...
31847     var         var  00:08:13.490  00:08:19.860  zzXTIIo7EvM          1
31848     ben         ben  00:12:56.180  00:13:04.974  zzXTIIo7EvM          1
31849      da   burası da  00:22:55.450  00:23:01.260  zzXTIIo7EvM          1
31850  burası   burası da  00:22:55.450  00:23:01.260  zzXTIIo7EvM          1
31851     tam         tam  00:25:14.035  00:25:19.890  zzXTIIo7EvM          1

[31852 rows x 6 columns]

In [ ]:
#df_word_result.to_csv(f"Youtube_{data_kind.capitalize()}_With_{word_num}_Word_And_Words.csv", index=False)

In [33]:
df_group = pd.DataFrame(df_word_result.groupby("video_id")["word"].nunique())
df_group.reset_index(inplace=True)
df_group.rename(columns={"word":"frequency"}, inplace=True)
df_group.sort_values(by="frequency", ascending=False, inplace=True)
df_group.reset_index(drop=True, inplace=True)
df_group

         video_id  frequency
0     UDDfBEUGY60         93
1     rXAAGktXqQ4         87
2     6FtA8_D7Ynw         80
3     dD3A1IseY00         78
4     k1ni27c9C2k         76
...           ...        ...
2338  YVi80j2UiVc          1
2339  NH3W5hzAHUc          1
2340  ouzjipOkfHU          1
2341  opZiFQhTqio          1
2342  9ZXUp3poAuo          1

[2343 rows x 2 columns]

In [34]:
df_word_result[df_word_result.video_id == "UDDfBEUGY60"]

,word,sentence,start_time,end_time,video_id,with_word
15146,bir,sana bir şeyler olmuş,00:02:52.449,00:02:54.632,UDDfBEUGY60,1
15147,sana,sana bir şeyler olmuş,00:02:52.449,00:02:54.632,UDDfBEUGY60,1
15148,şeyler,sana bir şeyler olmuş,00:02:52.449,00:02:54.632,UDDfBEUGY60,1
15149,olmuş,sana bir şeyler olmuş,00:02:52.449,00:02:54.632,UDDfBEUGY60,1
15150,yok,yok,00:04:18.495,00:04:19.495,UDDfBEUGY60,1
...,...,...,...,...,...,...
15367,lütfen,lütfen,01:50:24.989,01:50:25.989,UDDfBEUGY60,1
15368,şimdi,şimdi,01:52:10.838,01:52:12.060,UDDfBEUGY60,1
15369,hayır,hayır hayır hayır,01:52:36.286,01:52:38.310,UDDfBEUGY60,1
15370,hayır,hayır hayır hayır,01:53:18.210,01:53:20.003,UDDfBEUGY60,1
15371,hayır,hayır,01:57:54.175,01:57:55.175,UDDfBEUGY60,1