### Level Results

In [42]:
import pandas as pd
import numpy as np
import re
import glob
import nltk
from nltk import word_tokenize

In [43]:
word_num = 7
twogram_num = 6
threegram_num = 5
fourgram_num = 4
fivegram_num = 4
twogram_other_num = 5

In [44]:
df_word = pd.read_excel(f"Word_{word_num}.xlsx")
df_word

   word  frequency
0   bir   18835735
1    bu   11062659
2    ne    8025880
3    ve    7766036
4  için    5484109
5    mi    5362714
6   ben    4908913

In [45]:
twogram_file = glob.glob(f"Twogram_And*")
twogram_file

['Twogram_And_Sentence_17_With_7_Word.xlsx']

In [46]:
df_twogram = pd.read_excel(f"{twogram_file[0]}")
df_twogram

    twogram  frequency
0    bu bir     146347
1     bu ne     101662
2   ben bir      64146
3    ve ben      57423
4   ne için      50196
5    ben mi      45805
6     ve bu      38556
7    ve bir      32962
8    ben ne      22195
9     ne bu      13690
10    ne mi      10834
11    ve ne       8651
12  ben ben       7534
13    ne ne       5577
14    bu bu       3510
15   bir ne       1980
16   bir mi       1383

In [47]:
threegram_file = glob.glob(f"Threegram_And*")
threegram_file

['Threegram_And_Sentence_7_With_7_Word.xlsx']

In [48]:
df_threegram = pd.read_excel(f"{threegram_file[0]}")
df_threegram

     threegram  frequency
0   bu ne için       2267
1  ben ben ben       1488
2     ne ne ne        962
3   ve ne için        552
4   ne için bu        484
5   ne için mi        273
6    ne ben mi        264

In [49]:
fourgram_file = glob.glob(f"Fourgram_And*")
fourgram_file

['Fourgram_And_Sentence_2_With_7_Word.xlsx']

In [50]:
df_fourgram = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram

          fourgram  frequency
0  ben ben ben ben        260
1      ne ne ne ne        122

In [51]:
fivegram_file = glob.glob(f"Fivegram_And*")
fivegram_file

['Fivegram_And_Sentence_0_With_7_Word.xlsx']

In [52]:
df_fivegram = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram

Empty DataFrame
Columns: [fivegram, frequency]
Index: []

In [53]:
twogram_other_file = glob.glob(f"Twogram_*_Include*")
twogram_other_file

['Twogram_13_Include_Arabic_With_7_Word.xlsx']

In [54]:
df_twogram_other = pd.read_excel(f"{twogram_other_file[0]}")
df_twogram_other

    twogram word  frequency
0    ve ben   ve      57423
1     ve bu   ve      38556
2    ve bir   ve      32962
3     ve ne   ve       8651
4    ben ve   ve       7906
5    bir ve   ve       1128
6     bu ve   ve        909
7   için ve   ve        898
8     ve ve   ve        805
9     ne ve   ve        241
10  ve için   ve         78
11    mi ve   ve         13
12    ve mi   ve          8

In [55]:
df_word = pd.DataFrame(df_word.iloc[:,0])
df_word

   word
0   bir
1    bu
2    ne
3    ve
4  için
5    mi
6   ben

In [56]:
df_twogram = pd.DataFrame(df_twogram.iloc[:,0])
df_twogram

    twogram
0    bu bir
1     bu ne
2   ben bir
3    ve ben
4   ne için
5    ben mi
6     ve bu
7    ve bir
8    ben ne
9     ne bu
10    ne mi
11    ve ne
12  ben ben
13    ne ne
14    bu bu
15   bir ne
16   bir mi

In [57]:
df_threegram = pd.DataFrame(df_threegram.iloc[:,0])
df_threegram

     threegram
0   bu ne için
1  ben ben ben
2     ne ne ne
3   ve ne için
4   ne için bu
5   ne için mi
6    ne ben mi

In [58]:
df_fourgram = pd.DataFrame(df_fourgram.iloc[:,0])
df_fourgram

          fourgram
0  ben ben ben ben
1      ne ne ne ne

In [59]:
df_fivegram = pd.DataFrame(df_fivegram.iloc[:,0])
df_fivegram

Empty DataFrame
Columns: [fivegram]
Index: []

In [60]:
df_twogram_other = pd.DataFrame(df_twogram_other.iloc[:,0])
df_twogram_other

    twogram
0    ve ben
1     ve bu
2    ve bir
3     ve ne
4    ben ve
5    bir ve
6     bu ve
7   için ve
8     ve ve
9     ne ve
10  ve için
11    mi ve
12    ve mi

In [158]:
# 1 Way
df_lesson_select = pd.DataFrame()
df_lesson_select["word"] = df_word
df_lesson_select["twogram"] = df_twogram.sample(4).reset_index(drop=True)
df_lesson_select["twogram_other"] = df_twogram_other.sample(4).reset_index(drop=True)
df_lesson_select["threegram"] = df_threegram.sample(4).reset_index(drop=True)
df_lesson_select["fourgram"] = df_fourgram.sample(2).reset_index(drop=True)
df_lesson_select = df_lesson_select[["word","twogram","twogram_other","threegram","fourgram"]]
df_lesson_select

   word twogram twogram_other   threegram         fourgram
0   bir   ve bu        ve bir   ne ben mi  ben ben ben ben
1    bu  ve bir        ve ben  ne için bu      ne ne ne ne
2    ne  bir mi       için ve  ne için mi              NaN
3    ve   ve ne         ve bu  ve ne için              NaN
4  için     NaN           NaN         NaN              NaN
5    mi     NaN           NaN         NaN              NaN
6   ben     NaN           NaN         NaN              NaN

In [115]:
# 2 Way
df_lesson = pd.DataFrame()
df_lesson["twogram"] = df_twogram
df_lesson["word"] = df_word
df_lesson["twogram_other"] = df_twogram_other
df_lesson["threegram"] = df_threegram
df_lesson["fourgram"] = df_fourgram
df_lesson["fivegram"] = df_fivegram
df_lesson = df_lesson[["word","twogram","twogram_other","threegram","fourgram","fivegram"]]
df_lesson

    word  twogram twogram_other    threegram         fourgram fivegram
0    bir   bu bir        ve ben   bu ne için  ben ben ben ben      NaN
1     bu    bu ne         ve bu  ben ben ben      ne ne ne ne      NaN
2     ne  ben bir        ve bir     ne ne ne              NaN      NaN
3     ve   ve ben         ve ne   ve ne için              NaN      NaN
4   için  ne için        ben ve   ne için bu              NaN      NaN
5     mi   ben mi        bir ve   ne için mi              NaN      NaN
6    ben    ve bu         bu ve    ne ben mi              NaN      NaN
7    NaN   ve bir       için ve          NaN              NaN      NaN
8    NaN   ben ne         ve ve          NaN              NaN      NaN
9    NaN    ne bu         ne ve          NaN              NaN      NaN
10   NaN    ne mi       ve için          NaN              NaN      NaN
11   NaN    ve ne         mi ve          NaN              NaN      NaN
12   NaN  ben ben         ve mi          NaN              NaN      NaN
13   NaN    ne ne           NaN          NaN              NaN      NaN
14   NaN    bu bu           NaN          NaN              NaN      NaN
15   NaN   bir ne           NaN          NaN              NaN      NaN
16   NaN   bir mi           NaN          NaN              NaN      NaN

In [152]:
df_lesson_select = pd.DataFrame()
df_lesson_select["word"] = df_lesson["word"]
df_lesson_select["twogram"] = df_lesson.twogram[~df_lesson.twogram.isna()].sample(4).reset_index(drop=True)
df_lesson_select["twogram_other"] = df_lesson.twogram_other[~df_lesson.twogram_other.isna()].sample(4).reset_index(drop=True)
df_lesson_select["threegram"] = df_lesson.threegram[~df_lesson.threegram.isna()].sample(4).reset_index(drop=True)
df_lesson_select["fourgram"] = df_lesson.fourgram[~df_lesson.fourgram.isna()].sample(2).reset_index(drop=True)
df_lesson_select = df_lesson_select[["word","twogram","twogram_other","threegram","fourgram"]]
df_lesson_select

    word  twogram twogram_other    threegram         fourgram
0    bir  ben ben        ben ve     ne ne ne      ne ne ne ne
1     bu   bir mi         ve ve  ben ben ben  ben ben ben ben
2     ne    ve bu        ve ben   bu ne için              NaN
3     ve    ne mi         ne ve   ne için mi              NaN
4   için      NaN           NaN          NaN              NaN
5     mi      NaN           NaN          NaN              NaN
6    ben      NaN           NaN          NaN              NaN
7    NaN      NaN           NaN          NaN              NaN
8    NaN      NaN           NaN          NaN              NaN
9    NaN      NaN           NaN          NaN              NaN
10   NaN      NaN           NaN          NaN              NaN
11   NaN      NaN           NaN          NaN              NaN
12   NaN      NaN           NaN          NaN              NaN
13   NaN      NaN           NaN          NaN              NaN
14   NaN      NaN           NaN          NaN              NaN
15   NaN      NaN           NaN          NaN              NaN
16   NaN      NaN           NaN          NaN              NaN