### Quaran Form Analysis

In [ ]:
#!pip install lang-trans

In [1]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter

In [2]:
with open("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Data/Quranic Corpus Morphology.txt", "r", encoding="utf8") as file:
    text = file.read()

#### Form Tag

In [3]:
form_tag_list = re.findall("[\(\d*:\d*:\d*:\d*\)][\t](\D*)[\t][\D*]", text)

In [4]:
form_tag_num = re.findall("(\d*:\d*:\d*:\d*)", text)

In [5]:
df_stem = pd.DataFrame(form_tag_num)
df_stem.rename(columns={0:"loc_num"}, inplace=True)
df_stem

          loc_num
0         1:1:1:1
1         1:1:1:2
2         1:1:2:1
3         1:1:3:1
4         1:1:3:2
...           ...
128214  114:6:2:1
128215  114:6:2:2
128216  114:6:3:1
128217  114:6:3:2
128218  114:6:3:3

[128219 rows x 1 columns]

In [6]:
df_stem = df_stem["loc_num"].str.split(":", n=-1, expand=True)
df_stem.rename(columns={0:"num_1", 1:"num_2", 2:"num_3", 3:"num_4"}, inplace=True)
df_stem

       num_1 num_2 num_3 num_4
0          1     1     1     1
1          1     1     1     2
2          1     1     2     1
3          1     1     3     1
4          1     1     3     2
...      ...   ...   ...   ...
128214   114     6     2     1
128215   114     6     2     2
128216   114     6     3     1
128217   114     6     3     2
128218   114     6     3     3

[128219 rows x 4 columns]

In [7]:
df_stem['num_1'] = df_stem['num_1'].astype(int)
df_stem['num_2'] = df_stem['num_2'].astype(int)
df_stem['num_3'] = df_stem['num_3'].astype(int)
df_stem['num_4'] = df_stem['num_4'].astype(int)

In [8]:
df_stem["form_tag"] = pd.DataFrame(form_tag_list)
df_stem

        num_1  num_2  num_3  num_4         form_tag
0           1      1      1      1            bi\tP
1           1      1      1      2          somi\tN
2           1      1      2      1      {ll~ahi\tPN
3           1      1      3      1          {l\tDET
4           1      1      3      2  r~aHoma`ni\tADJ
...       ...    ...    ...    ...              ...
128214    114      6      2      1         {lo\tDET
128215    114      6      2      2       jin~api\tN
128216    114      6      3      1         wa\tCONJ
128217    114      6      3      2          {l\tDET
128218    114      6      3      3        n~aAsi\tN

[128219 rows x 5 columns]

In [9]:
df_stem[["form","tag"]] = df_stem["form_tag"].str.split("\t", n=-1, expand=True)
df_stem.drop(["form_tag"], axis=1, inplace=True)
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [10]:
df_stem.drop_duplicates(inplace=True)
df_stem.reset_index(drop=True, inplace=True)
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [ ]:
#df_stem.to_excel("Buckwalter_Form_Tag.xlsx", sheet_name="Form_Tag", index=False)

In [11]:
df_word = pd.DataFrame(df_stem.groupby(["num_1","num_2","num_3"])["form"].sum())
df_word.rename(columns={"form":"form_concat"}, inplace=True)
df_word.reset_index(inplace=True)
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [ ]:
#df_word.to_excel("Buckwalter_Form_Concat.xlsx", sheet_name="Concat_Form", index=False)

#### Buckwalter Text

In [ ]:
#df_word = pd.read_excel("Buckwalter_Form_Concat.xlsx")

In [12]:
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [13]:
concat_list = df_word.iloc[:,3].to_list()
#concat_list = df_word_concat.iloc[:,3].head(500).to_list()

In [14]:
buckwalter_text = " ".join(concat_list)
#buckwalter_text

In [ ]:
#with open("Buckwalter_Form_Concat.txt", "w", encoding="utf8") as file:
#    file.write(buckwalter_text)

#### Arabic Text

In [ ]:
#with open("Buckwalter_Form_Concat.txt", "r", encoding="utf8") as file:
#    buckwalter_text = file.read()

In [15]:
# buckwalter text clean for simple before transString
def clean_ex(text):
    buckwalter_out = re.sub(r'''([PJVG\.:;,!\+\^\]\[@#FNKauio`~"%-])''', "", text) # difference from clean
    return buckwalter_out

In [16]:
# buckwalter text clean for simple before transString
def clean_ex2(text):
    #buckwalter_out = re.sub(r"`", "A", text)
    buckwalter_out = re.sub(r"{", "A", text)
    buckwalter_out2 = re.sub(r'''([PJVG\.:;,!\+\^\]\[@#FNKauio`~"%-])''', "", buckwalter_out) # difference from clean
    return buckwalter_out2

In [17]:
# Fail
## buckwalter text clean for simple before transString
#def clean_ex(text):
#    arabic_text2 = re.sub(r"\[", "", text)
#    arabic_text3 = re.sub(r"\]", "", arabic_text2)
#    arabic_text4 = re.sub(r'''([@#:;,.!-+%"FNKaui~o`}PJVG])''', "", arabic_text3, re.UNICODE)
#    arabic_text5 = re.sub(r"\^", "", arabic_text4) # difference from clean
#    return arabic_text5

In [18]:
# Arabic Encoding Extended
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2uni = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "}": u"\u0626", # hamza-on-yaa'
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "F": u"\u064B", # fatHatayn
            "N": u"\u064C", # Dammatayn
            "K": u"\u064D", # kasratayn
            "a": u"\u064E", # fatHa
            "u": u"\u064F", # Damma
            "i": u"\u0650", # kasra
            "~": u"\u0651", # shaddah
            "o": u"\u0652", # sukuun
            "^": u"\u0653", # maddah
            "#": u"\u0654", # hamzaabove            
            "`": u"\u0670", # dagger 'alif
            "{": u"\u0671", # waSla
            "P": u"\u067E", # arabicletterpeh
            "J": u"\u0686", 
            "V": u"\u06A4", # arabicletterveh
            "G": u"\u06AF", # arabiclettergaf
            ":": u"\u06DC", # smallhighseen
            "@": u"\u06DF", # smallhighroundedzero
            "\"": u"\u06E0", # smallhighuprightrectangularzero
            "[": u"\u06E2", # smallhighmeemisolatedform
            ";": u"\u06E3", # smalllowseen
            ",": u"\u06E5", # smallwaw
            ".": u"\u06E6", # smallya
            "!": u"\u06E8", # smallhighnoon
            "-": u"\u06EA", # emptycentrelowstop
            "+": u"\u06EB", # emptycentrehighstop
            "%": u"\u06EC", # roundedhighstopwithfilledcentre
            "]": u"\u06ED", # smalllowmeem           
}

def transString(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2uni.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [19]:
# Simple Encoding Technique
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2unisimple = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "}": u"\u0626", # hamza-on-yaa'
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
                   
}

def transStringSimple(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2unisimple.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [20]:
# character clean for simple after transStringSimple 
def clean(text):
    arabic_out = re.sub(r'''([PJVG\.:;,!\+\]\[@#FNKauio`~"%-])''', "", text) # .$^*+
    arabic_out2 = re.sub(r"\^", " ", arabic_out)
    return arabic_out2

In [21]:
# character clean for simple after transStringSimple 
def clean2(text):
    #arabic_out = re.sub(r"`", "A", text)
    arabic_out = re.sub(r'''([PJVG\.:;,!\+\]\[@#FNKauio`~"%-])''', "", text) # .$^*+
    arabic_out2 = re.sub(r"\^", " ", arabic_out)
    return arabic_out2

In [22]:
# Fail
## character clean for simple after transStringSimple 
#def clean(text):
#    arabic_text2 = re.sub(r"\[", "", text)
#    arabic_text3 = re.sub(r"\]", "", arabic_text2)
#    arabic_text4 = re.sub(r'''([@#:;,\.!-\+%"FNKaui~o`}PJVG])''', "", arabic_text3) # .$^*+
#    arabic_text5 = re.sub(r"\^", " ", arabic_text4)
#    return arabic_text5

In [23]:
test = '@SrAT# A-l*yn >nE!mt (Ely.hm gy|r A`lm^gD.wb) Pkl~JAVLGi El:yo,hm; wlA ["+Al+DAly}n,"] $ Pa`t ^wel? a%l+ya'''

In [24]:
re.sub(r'''([PJVGFNKauio@#:;,!\.\+\^\]\[}`~"%-])''', "", test, re.UNICODE) # %- must be end for accurancy

'SrAT Al*yn >nEmt (Elyhm gy|r AlmgDwb) klAL Elyhm wlA AlDAlyn $ t wel? l+ya'

In [25]:
re.sub(r'''([PJVG\.:;,!\+@#FNKauio}`~"%-])''', "", test) # %"-

'SrAT Al*yn >nEmt (Elyhm gy|r Alm^gDwb) klAL Elyhm wlA [AlDAlyn] $ t ^wel? ly'

In [26]:
test2 = "Sira`Ta {l~a*iyna >anoEamota Ealayohimo gayori {lomagoDuwbi Ealayohimo walaA {lD~aA^l~iyna"

In [27]:
clean_ex(test2)

'SrT {l*yn >nEmt Elyhm gyr {lmgDwb Elyhm wlA {lDAlyn'

In [28]:
clean(test2)

'SrT {l*yn >nEmt Elyhm gyr {lmgDwb Elyhm wlA {lDA lyn'

In [29]:
re.sub(r'''([PJVGFNKauio@#:;,!\.\+\^\]\[}`~"%-])''', "", test2)

'SrT {l*yn >nEmt Elyhm gyr {lmgDwb Elyhm wlA {lDAlyn'

In [30]:
re.sub(r'''([PJVG\.:;,!\+\^\]\[@#FNKauio}`~"%-])''', "", test2)

'SrT {l*yn >nEmt Elyhm gyr {lmgDwb Elyhm wlA {lDAlyn'

In [31]:
transString(test2, 1)

'صِرَٰطَ ٱلَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّآلِّينَ'

In [32]:
transStringSimple(test2, 1)

'صiرa`طa {ل~aذiينa أaنoعaمoتa عaلaيoهiمo غaيoرi {لoمaغoضuوبi عaلaيoهiمo وaلaا {لض~aا^ل~iينa'

In [33]:
arabic_func_text = transString(buckwalter_text, 1)
#arabic_func_text

In [ ]:
#with open("Arabic_Converted_Extended_Characters.txt", "w", encoding="utf8") as file:
#    file.write(arabic_func_text)

In [34]:
#buckwalter_text_simple = clean_ex2(buckwalter_text)

In [ ]:
#with open("Buckwalter_Simple_Text_Morphology.txt", "w", encoding="utf8") as file:
#    file.write(buckwalter_text_simple)

In [ ]:
#arabic_func_text_simple = transString(buckwalter_text_simple, 1)
##arabic_func_text

In [ ]:
#with open("Arabic_Simple_Characters.txt", "w", encoding="utf8") as file:
#    file.write(arabic_func_text_simple)

##### DF Form Word Concat Convert Arabic

In [ ]:
#df_word = pd.read_excel("Buckwalter_Form_Concat.xlsx")

In [35]:
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [36]:
df_stem["arabic_form"] = df_stem.iloc[:,4].apply(lambda x: transString(x, 1))
df_stem

        num_1  num_2  num_3  num_4        form   tag arabic_form
0           1      1      1      1          bi     P          بِ
1           1      1      1      2        somi     N        سْمِ
2           1      1      2      1     {ll~ahi    PN     ٱللَّهِ
3           1      1      3      1          {l   DET          ٱل
4           1      1      3      2  r~aHoma`ni   ADJ  رَّحْمَٰنِ
...       ...    ...    ...    ...         ...   ...         ...
128214    114      6      2      1         {lo   DET         ٱلْ
128215    114      6      2      2     jin~api     N     جِنَّةِ
128216    114      6      3      1          wa  CONJ          وَ
128217    114      6      3      2          {l   DET          ٱل
128218    114      6      3      3      n~aAsi     N      نَّاسِ

[128219 rows x 7 columns]

In [37]:
# 1 Way
df_stem["arabic_form_simple"] = df_stem.iloc[:,4].apply(lambda x: clean_ex2(x))
df_stem["arabic_form_simple"] = df_stem.iloc[:,7].apply(lambda x: transString(x, 1))
df_stem

,num_1,num_2,num_3,num_4,form,tag,arabic_form,arabic_form_simple
0,1,1,1,1,bi,P,بِ,ب
1,1,1,1,2,somi,N,سْمِ,سم
2,1,1,2,1,{ll~ahi,PN,ٱللَّهِ,الله
3,1,1,3,1,{l,DET,ٱل,ال
4,1,1,3,2,r~aHoma`ni,ADJ,رَّحْمَٰنِ,رحمن
...,...,...,...,...,...,...,...,...
128214,114,6,2,1,{lo,DET,ٱلْ,ال
128215,114,6,2,2,jin~api,N,جِنَّةِ,جنة
128216,114,6,3,1,wa,CONJ,وَ,و
128217,114,6,3,2,{l,DET,ٱل,ال
128218,114,6,3,3,n~aAsi,N,نَّاسِ,ناس

In [ ]:
## 2 Way
#df_stem["arabic_form_simple"] = df_stem.iloc[:,4].apply(lambda x: transStringSimple(x, 1))
#df_stem["arabic_form_simple"] = df_stem.iloc[:,7].apply(lambda x: clean(x))
#df_stem

In [38]:
# 1 Way
df_stem["form_simple"] = df_stem.iloc[:,4].apply(lambda x: clean_ex2(x))
df_stem

,num_1,num_2,num_3,num_4,form,tag,arabic_form,arabic_form_simple,form_simple
0,1,1,1,1,bi,P,بِ,ب,b
1,1,1,1,2,somi,N,سْمِ,سم,sm
2,1,1,2,1,{ll~ahi,PN,ٱللَّهِ,الله,Allh
3,1,1,3,1,{l,DET,ٱل,ال,Al
4,1,1,3,2,r~aHoma`ni,ADJ,رَّحْمَٰنِ,رحمن,rHmn
...,...,...,...,...,...,...,...,...,...
128214,114,6,2,1,{lo,DET,ٱلْ,ال,Al
128215,114,6,2,2,jin~api,N,جِنَّةِ,جنة,jnp
128216,114,6,3,1,wa,CONJ,وَ,و,w
128217,114,6,3,2,{l,DET,ٱل,ال,Al
128218,114,6,3,3,n~aAsi,N,نَّاسِ,ناس,nAs

In [ ]:
## 2 Way
##df_stem["form_simple"] = df_stem.iloc[:,7].apply(lambda x: transString(x, 0))
#df_stem["form_simple"] = df_stem.iloc[:,7].apply(lambda x: transStringSimple(x, 0))
#df_stem["form_simple"] = df_stem.iloc[:,8].apply(lambda x: clean(x))
#df_stem

In [39]:
df_stem = df_stem[["num_1","num_2","num_3","num_4","arabic_form_simple","form_simple","arabic_form","form","tag"]]
df_stem.rename(columns={"form_simple":"buckwalter_simple", "form":"buckwalter"}, inplace=True)
df_stem

,num_1,num_2,num_3,num_4,arabic_form_simple,buckwalter_simple,arabic_form,buckwalter,tag
0,1,1,1,1,ب,b,بِ,bi,P
1,1,1,1,2,سم,sm,سْمِ,somi,N
2,1,1,2,1,الله,Allh,ٱللَّهِ,{ll~ahi,PN
3,1,1,3,1,ال,Al,ٱل,{l,DET
4,1,1,3,2,رحمن,rHmn,رَّحْمَٰنِ,r~aHoma`ni,ADJ
...,...,...,...,...,...,...,...,...,...
128214,114,6,2,1,ال,Al,ٱلْ,{lo,DET
128215,114,6,2,2,جنة,jnp,جِنَّةِ,jin~api,N
128216,114,6,3,1,و,w,وَ,wa,CONJ
128217,114,6,3,2,ال,Al,ٱل,{l,DET
128218,114,6,3,3,ناس,nAs,نَّاسِ,n~aAsi,N

In [ ]:
#df_stem.to_excel("Arabic_And_Simple_Form.xlsx", sheet_name="Arabic_And_Simple_Form", index=False, encoding="utf-8")

In [40]:
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [41]:
df_word["arabic"] = df_word.iloc[:,3].apply(lambda x: transString(x, 1))
df_word

       num_1  num_2  num_3   form_concat        arabic
0          1      1      1        bisomi        بِسْمِ
1          1      1      2       {ll~ahi       ٱللَّهِ
2          1      1      3  {lr~aHoma`ni  ٱلرَّحْمَٰنِ
3          1      1      4    {lr~aHiymi    ٱلرَّحِيمِ
4          1      2      1     {loHamodu     ٱلْحَمْدُ
...      ...    ...    ...           ...           ...
77424    114      5      4       Suduwri       صُدُورِ
77425    114      5      5      {ln~aAsi      ٱلنَّاسِ
77426    114      6      1          mina          مِنَ
77427    114      6      2    {lojin~api    ٱلْجِنَّةِ
77428    114      6      3    wa{ln~aAsi    وَٱلنَّاسِ

[77429 rows x 5 columns]

In [42]:
# 1 Way
df_word["arabic_simple"] = df_word.iloc[:,3].apply(lambda x : clean_ex2(x))
df_word["arabic_simple"] = df_word.iloc[:,5].apply(lambda x : transString(x, 1))
df_word

       num_1  num_2  num_3   form_concat        arabic arabic_simple
0          1      1      1        bisomi        بِسْمِ           بسم
1          1      1      2       {ll~ahi       ٱللَّهِ          الله
2          1      1      3  {lr~aHoma`ni  ٱلرَّحْمَٰنِ        الرحمن
3          1      1      4    {lr~aHiymi    ٱلرَّحِيمِ        الرحيم
4          1      2      1     {loHamodu     ٱلْحَمْدُ         الحمد
...      ...    ...    ...           ...           ...           ...
77424    114      5      4       Suduwri       صُدُورِ          صدور
77425    114      5      5      {ln~aAsi      ٱلنَّاسِ         الناس
77426    114      6      1          mina          مِنَ            من
77427    114      6      2    {lojin~api    ٱلْجِنَّةِ         الجنة
77428    114      6      3    wa{ln~aAsi    وَٱلنَّاسِ        والناس

[77429 rows x 6 columns]

In [ ]:
## 2 Way
#df_word["arabic_simple"] = df_word.iloc[:,3].apply(lambda x : transStringSimple(x, 1))
#df_word["arabic_simple"] = df_word.iloc[:,5].apply(lambda x : clean(x))
#df_word

In [43]:
df_word["form_concat_simple"] = df_word.iloc[:,3].apply(lambda x: clean_ex2(x))
df_word

,num_1,num_2,num_3,form_concat,arabic,arabic_simple,form_concat_simple
0,1,1,1,bisomi,بِسْمِ,بسم,bsm
1,1,1,2,{ll~ahi,ٱللَّهِ,الله,Allh
2,1,1,3,{lr~aHoma`ni,ٱلرَّحْمَٰنِ,الرحمن,AlrHmn
3,1,1,4,{lr~aHiymi,ٱلرَّحِيمِ,الرحيم,AlrHym
4,1,2,1,{loHamodu,ٱلْحَمْدُ,الحمد,AlHmd
...,...,...,...,...,...,...,...
77424,114,5,4,Suduwri,صُدُورِ,صدور,Sdwr
77425,114,5,5,{ln~aAsi,ٱلنَّاسِ,الناس,AlnAs
77426,114,6,1,mina,مِنَ,من,mn
77427,114,6,2,{lojin~api,ٱلْجِنَّةِ,الجنة,Aljnp
77428,114,6,3,wa{ln~aAsi,وَٱلنَّاسِ,والناس,wAlnAs

In [ ]:
## 2 Way
##df_word["form_concat_simple"] = df_word.iloc[:,5].apply(lambda x: transString(x, 0))
#df_word["form_concat_simple"] = df_word.iloc[:,5].apply(lambda x: transStringSimple(x, 0))
#df_word["form_concat_simple"] = df_word.iloc[:,6].apply(lambda x: clean(x))
#df_word

In [44]:
df_word = df_word[["num_1","num_2","num_3","arabic_simple","form_concat_simple","arabic","form_concat"]]
df_word.rename(columns={"form_concat":"buckwalter","form_concat_simple":"buckwalter_simple"}, inplace=True)
df_word

,num_1,num_2,num_3,arabic_simple,buckwalter_simple,arabic,buckwalter
0,1,1,1,بسم,bsm,بِسْمِ,bisomi
1,1,1,2,الله,Allh,ٱللَّهِ,{ll~ahi
2,1,1,3,الرحمن,AlrHmn,ٱلرَّحْمَٰنِ,{lr~aHoma`ni
3,1,1,4,الرحيم,AlrHym,ٱلرَّحِيمِ,{lr~aHiymi
4,1,2,1,الحمد,AlHmd,ٱلْحَمْدُ,{loHamodu
...,...,...,...,...,...,...,...
77424,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri
77425,114,5,5,الناس,AlnAs,ٱلنَّاسِ,{ln~aAsi
77426,114,6,1,من,mn,مِنَ,mina
77427,114,6,2,الجنة,Aljnp,ٱلْجِنَّةِ,{lojin~api
77428,114,6,3,والناس,wAlnAs,وَٱلنَّاسِ,wa{ln~aAsi

In [45]:
df_word.iloc[27,:]

num_1                    1
num_2                    7
num_3                    8
arabic_simple          ولا
buckwalter_simple      wlA
arabic               وَلَا
buckwalter           walaA
Name: 27, dtype: object

In [46]:
df_word.to_excel("Arabic_And_Simple_Word.xlsx", sheet_name="Arabic_And_Simple", index=False, encoding="utf-8")

In [47]:
df_buckwalter = df_word.iloc[:,[0,1,2,6]]
df_buckwalter

       num_1  num_2  num_3    buckwalter
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [48]:
df_buckwalter_concat = df_buckwalter.groupby(["num_1","num_2"])["buckwalter"].apply(" ".join).reset_index()
df_buckwalter_concat

      num_1  num_2                                buckwalter
0         1      1    bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi
1         1      2     {loHamodu lil~ahi rab~i {loEa`lamiyna
2         1      3                   {lr~aHoma`ni {lr~aHiymi
3         1      4                   ma`liki yawomi {ld~iyni
4         1      5  <iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...     ...    ...                                       ...
6231    114      2                           maliki {ln~aAsi
6232    114      3                          <ila`hi {ln~aAsi
6233    114      4        min $ar~i {lowasowaAsi {loxan~aAsi
6234    114      5   {l~a*iY yuwasowisu fiY Suduwri {ln~aAsi
6235    114      6                mina {lojin~api wa{ln~aAsi

[6236 rows x 3 columns]

In [49]:
df_buckwalter_concat["arabic"] = df_buckwalter_concat.iloc[:,2].apply(lambda x: transString(x, 1)) # Convert Arabic Extended
df_buckwalter_concat

,num_1,num_2,buckwalter,arabic
0,1,1,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
1,1,2,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ
2,1,3,{lr~aHoma`ni {lr~aHiymi,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3,1,4,ma`liki yawomi {ld~iyni,مَٰلِكِ يَوْمِ ٱلدِّينِ
4,1,5,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...,...,...,...,...
6231,114,2,maliki {ln~aAsi,مَلِكِ ٱلنَّاسِ
6232,114,3,<ila`hi {ln~aAsi,إِلَٰهِ ٱلنَّاسِ
6233,114,4,min $ar~i {lowasowaAsi {loxan~aAsi,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ
6234,114,5,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ
6235,114,6,mina {lojin~api wa{ln~aAsi,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ

In [50]:
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,2].apply(lambda x : clean_ex2(x))
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transString(x, 1)) # Convert Arabic Simple
df_buckwalter_concat

,num_1,num_2,buckwalter,arabic,arabic_simple
0,1,1,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,بسم الله الرحمن الرحيم
1,1,2,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,الحمد لله رب العلمين
2,1,3,{lr~aHoma`ni {lr~aHiymi,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,الرحمن الرحيم
3,1,4,ma`liki yawomi {ld~iyni,مَٰلِكِ يَوْمِ ٱلدِّينِ,ملك يوم الدين
4,1,5,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,إياك نعبد وإياك نستعين
...,...,...,...,...,...
6231,114,2,maliki {ln~aAsi,مَلِكِ ٱلنَّاسِ,ملك الناس
6232,114,3,<ila`hi {ln~aAsi,إِلَٰهِ ٱلنَّاسِ,إله الناس
6233,114,4,min $ar~i {lowasowaAsi {loxan~aAsi,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,من شر الوسواس الخناس
6234,114,5,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,الذى يوسوس فى صدور الناس
6235,114,6,mina {lojin~api wa{ln~aAsi,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,من الجنة والناس

In [ ]:
## 2 Way
#df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,2].apply(lambda x : transStringSimple(x, 1)) # Convert Arabic Simple
#df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : clean(x))
#df_buckwalter_concat

In [51]:
df_buckwalter_concat = df_buckwalter_concat[["num_1","num_2","arabic","buckwalter","arabic_simple"]]
df_buckwalter_concat

,num_1,num_2,arabic,buckwalter,arabic_simple
0,1,1,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بسم الله الرحمن الرحيم
1,1,2,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,{loHamodu lil~ahi rab~i {loEa`lamiyna,الحمد لله رب العلمين
2,1,3,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,{lr~aHoma`ni {lr~aHiymi,الرحمن الرحيم
3,1,4,مَٰلِكِ يَوْمِ ٱلدِّينِ,ma`liki yawomi {ld~iyni,ملك يوم الدين
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إياك نعبد وإياك نستعين
...,...,...,...,...,...
6231,114,2,مَلِكِ ٱلنَّاسِ,maliki {ln~aAsi,ملك الناس
6232,114,3,إِلَٰهِ ٱلنَّاسِ,<ila`hi {ln~aAsi,إله الناس
6233,114,4,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,min $ar~i {lowasowaAsi {loxan~aAsi,من شر الوسواس الخناس
6234,114,5,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,الذى يوسوس فى صدور الناس
6235,114,6,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,mina {lojin~api wa{ln~aAsi,من الجنة والناس

In [52]:
# 1 Way
df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,3].apply(lambda x : clean_ex2(x)) # Convert Arabic Simple
df_buckwalter_concat

<ipython-input-52-9cfb42f5b149>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,3].apply(lambda x : clean_ex2(x)) # Convert Arabic Simple

,num_1,num_2,arabic,buckwalter,arabic_simple,buckwalter_simple
0,1,1,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بسم الله الرحمن الرحيم,bsm Allh AlrHmn AlrHym
1,1,2,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,{loHamodu lil~ahi rab~i {loEa`lamiyna,الحمد لله رب العلمين,AlHmd llh rb AlElmyn
2,1,3,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,{lr~aHoma`ni {lr~aHiymi,الرحمن الرحيم,AlrHmn AlrHym
3,1,4,مَٰلِكِ يَوْمِ ٱلدِّينِ,ma`liki yawomi {ld~iyni,ملك يوم الدين,mlk ywm Aldyn
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إياك نعبد وإياك نستعين,<yAk nEbd w<yAk nstEyn
...,...,...,...,...,...,...
6231,114,2,مَلِكِ ٱلنَّاسِ,maliki {ln~aAsi,ملك الناس,mlk AlnAs
6232,114,3,إِلَٰهِ ٱلنَّاسِ,<ila`hi {ln~aAsi,إله الناس,<lh AlnAs
6233,114,4,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,min $ar~i {lowasowaAsi {loxan~aAsi,من شر الوسواس الخناس,mn $r AlwswAs AlxnAs
6234,114,5,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,الذى يوسوس فى صدور الناس,Al*Y ywsws fY Sdwr AlnAs
6235,114,6,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,mina {lojin~api wa{ln~aAsi,من الجنة والناس,mn Aljnp wAlnAs

In [ ]:
## 2 Way
##df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transString(x, 0))
#df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transStringSimple(x, 0)) # Convert Arabic Simple
#df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,5].apply(lambda x : clean(x))
#df_buckwalter_concat

In [53]:
df_buckwalter_concat.to_excel("Arabic_And_Simple_Sentence.xlsx", sheet_name="Arabic_Simple_Sentence", index=False)

##### Arabic Frequency

In [ ]:
#df_stem = pd.read_excel("Arabic_And_Simple_Form.xlsx")

In [54]:
df_arabic_form_count = pd.DataFrame(df_stem.iloc[:,6].value_counts(ascending=False))
df_arabic_form_count.reset_index(inplace=True)
df_arabic_form_count.rename(columns={"index":"arabic_form","arabic_form":"frequency"}, inplace=True)
df_arabic_form_count

      arabic_form  frequency
0              وَ       9572
1             ٱلْ       5375
2              فَ       3001
3             وا۟       2853
4              ٱل       2597
...           ...        ...
12200     مُقِيمَ          1
12201    نُعْلِنُ          1
12202     نُخْفِى          1
12203    تَهْوِىٓ          1
12204  يُوَسْوِسُ          1

[12205 rows x 2 columns]

In [ ]:
#df_arabic_form_count.to_excel("Arabic_Form_Frequency_From_Morphology.xlsx", sheet_name="Arabic_Form_Frequency", index=False)

In [55]:
df_arabic_form_simple_count = pd.DataFrame(df_stem.iloc[:,4].value_counts(ascending=False))
df_arabic_form_simple_count.reset_index(inplace=True)
df_arabic_form_simple_count.rename(columns={"index":"arabic_form_simple","arabic_form_simple":"frequency"}, inplace=True)
df_arabic_form_simple_count

     arabic_form_simple  frequency
0                     و      10077
1                    ال       8050
2                     ل       4176
3                    من       3950
4                    هم       3901
...                 ...        ...
7418               يخيل          1
7419              كبائر          1
7420               جذوع          1
7421              تجتنب          1
7422              يوسوس          1

[7423 rows x 2 columns]

In [ ]:
#df_arabic_form_simple_count.to_excel("Arabic_Form_Simple_Frequency_From_Morphology.xlsx", sheet_name="Arabic_Form_Simple_Frequency", index=False)

In [ ]:
#df_word = pd.read_excel("Arabic_And_Simple_Word.xlsx")

In [56]:
df_arabic_count = pd.DataFrame(df_word.iloc[:,5].value_counts(ascending=False))
df_arabic_count.reset_index(inplace=True)
df_arabic_count.rename(columns={"index":"arabic","arabic":"frequency"}, inplace=True)
df_arabic_count

             arabic  frequency
0               فِى       1098
1           ٱللَّهِ        828
2         ٱلَّذِينَ        810
3           ٱللَّهُ        733
4               مِن        728
...             ...        ...
18988       يُنكِرُ          1
18989      أُشْرِكَ          1
18990      مَـَٔابِ          1
18991  وَذُرِّيَّةً          1
18992    يُوَسْوِسُ          1

[18993 rows x 2 columns]

In [ ]:
#df_arabic_count.to_excel("Arabic_Frequency_From_Morphology.xlsx", sheet_name="Arabic_Frequency", index=False)

In [57]:
df_arabic_simple_count = pd.DataFrame(df_word.iloc[:,3].value_counts(ascending=False))
df_arabic_simple_count.reset_index(inplace=True)
df_arabic_simple_count.rename(columns={"index":"arabic_simple","arabic_simple":"frequency"}, inplace=True)
df_arabic_simple_count

      arabic_simple  frequency
0                من       2763
1              الله       2153
2                فى       1185
3                ما       1010
4                إن        966
...             ...        ...
14809          فبدأ          1
14810      بأوعيتهم          1
14811      استخرجها          1
14812          كدنا          1
14813         يوسوس          1

[14814 rows x 2 columns]

In [ ]:
#df_arabic_simple_count.to_excel("Arabic_Simple_Frequency_From_Morphology.xlsx", sheet_name="Arabic_Simple_Frequency", index=False)

In [58]:
df_simple_morp = df_arabic_simple_count

In [59]:
df_simple_morp["buckwalter_simple"] = df_simple_morp.iloc[:,0].apply(lambda x: transString(x, 0))
df_simple_morp = df_simple_morp[["arabic_simple", "buckwalter_simple", "frequency"]]
df_simple_morp

      arabic_simple buckwalter_simple  frequency
0                من                mn       2763
1              الله              Allh       2153
2                فى                fY       1185
3                ما                mA       1010
4                إن                <n        966
...             ...               ...        ...
14809          فبدأ              fbd>          1
14810      بأوعيتهم          b>wEythm          1
14811      استخرجها          AstxrjhA          1
14812          كدنا              kdnA          1
14813         يوسوس             ywsws          1

[14814 rows x 3 columns]

In [60]:
df_simple_morp = df_simple_morp.head(1000)

In [61]:
df_simple_morp.to_excel("Arabic_Simple_Frequency_From_Morphology.xlsx", sheet_name="Arabic_Simple_Frequency", index=False)

##### Arabic Simple Frequency Nav

In [62]:
df_arabic_simple_select = df_arabic_simple_count.head(1000)
df_arabic_simple_select

    arabic_simple  frequency buckwalter_simple
0              من       2763                mn
1            الله       2153              Allh
2              فى       1185                fY
3              ما       1010                mA
4              إن        966                <n
..            ...        ...               ...
995          نفسك          9              nfsk
996          عندك          9              Endk
997          يشرك          9              y$rk
998         استوى          9             AstwY
999        يعبدون          9            yEbdwn

[1000 rows x 3 columns]

In [65]:
df_word

,num_1,num_2,num_3,arabic_simple,buckwalter_simple,arabic,buckwalter
0,1,1,1,بسم,bsm,بِسْمِ,bisomi
1,1,1,2,الله,Allh,ٱللَّهِ,{ll~ahi
2,1,1,3,الرحمن,AlrHmn,ٱلرَّحْمَٰنِ,{lr~aHoma`ni
3,1,1,4,الرحيم,AlrHym,ٱلرَّحِيمِ,{lr~aHiymi
4,1,2,1,الحمد,AlHmd,ٱلْحَمْدُ,{loHamodu
...,...,...,...,...,...,...,...
77424,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri
77425,114,5,5,الناس,AlnAs,ٱلنَّاسِ,{ln~aAsi
77426,114,6,1,من,mn,مِنَ,mina
77427,114,6,2,الجنة,Aljnp,ٱلْجِنَّةِ,{lojin~api
77428,114,6,3,والناس,wAlnAs,وَٱلنَّاسِ,wa{ln~aAsi

In [63]:
df_arabic_simple_count_merge = pd.merge(df_arabic_simple_select, df_word, how="inner", on="arabic_simple")
df_arabic_simple_count_merge

,arabic_simple,frequency,buckwalter_simple_x,num_1,num_2,num_3,buckwalter_simple_y,arabic,buckwalter
0,من,2763,mn,2,4,8,mn,مِن,min
1,من,2763,mn,2,5,4,mn,مِّن,m~in
2,من,2763,mn,2,8,3,mn,مَن,man
3,من,2763,mn,2,19,3,mn,مِّنَ,m~ina
4,من,2763,mn,2,19,13,mn,مِّنَ,m~ina
...,...,...,...,...,...,...,...,...,...
51338,يعبدون,9,yEbdwn,28,63,18,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51339,يعبدون,9,yEbdwn,34,40,10,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51340,يعبدون,9,yEbdwn,34,41,9,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51341,يعبدون,9,yEbdwn,37,22,7,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51342,يعبدون,9,yEbdwn,43,45,13,yEbdwn,يُعْبَدُونَ,yuEobaduwna

In [66]:
df_arabic_simple_count_merge = df_arabic_simple_count_merge[["num_1","num_2","num_3","arabic_simple","buckwalter_simple_x","frequency","arabic","buckwalter"]]
df_arabic_simple_count_merge

,num_1,num_2,num_3,arabic_simple,buckwalter_simple_x,frequency,arabic,buckwalter
0,2,4,8,من,mn,2763,مِن,min
1,2,5,4,من,mn,2763,مِّن,m~in
2,2,8,3,من,mn,2763,مَن,man
3,2,19,3,من,mn,2763,مِّنَ,m~ina
4,2,19,13,من,mn,2763,مِّنَ,m~ina
...,...,...,...,...,...,...,...,...
51338,28,63,18,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51339,34,40,10,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51340,34,41,9,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51341,37,22,7,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51342,43,45,13,يعبدون,yEbdwn,9,يُعْبَدُونَ,yuEobaduwna

In [67]:
df_arabic_simple_count_merge["nav"] = df_arabic_simple_count_merge["num_1"].astype("str")+":"+df_arabic_simple_count_merge["num_2"].astype("str")+":"+df_arabic_simple_count_merge["num_3"].astype("str")
df_arabic_simple_count_merge

,num_1,num_2,num_3,arabic_simple,buckwalter_simple_x,frequency,arabic,buckwalter,nav
0,2,4,8,من,mn,2763,مِن,min,2:4:8
1,2,5,4,من,mn,2763,مِّن,m~in,2:5:4
2,2,8,3,من,mn,2763,مَن,man,2:8:3
3,2,19,3,من,mn,2763,مِّنَ,m~ina,2:19:3
4,2,19,13,من,mn,2763,مِّنَ,m~ina,2:19:13
...,...,...,...,...,...,...,...,...,...
51338,28,63,18,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,28:63:18
51339,34,40,10,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,34:40:10
51340,34,41,9,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,34:41:9
51341,37,22,7,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,37:22:7
51342,43,45,13,يعبدون,yEbdwn,9,يُعْبَدُونَ,yuEobaduwna,43:45:13

In [ ]:
#df_arabic_simple_count_merge.to_excel("Arabic_Simple_Navigation.xlsx", sheet_name="Arabic_Simple_Navigation", index=False)

In [68]:
df_arabic_simple_nav = df_arabic_simple_count_merge.groupby(["arabic_simple","buckwalter_simple_x","frequency"])["nav"].apply(", ".join).reset_index().sort_values(by="frequency", ascending=False)
df_arabic_simple_nav.reset_index(drop=True, inplace=True)
df_arabic_simple_nav

,arabic_simple,buckwalter_simple_x,frequency,nav
0,من,mn,2763,"2:4:8, 2:5:4, 2:8:3, 2:19:3, 2:19:13, 2:21:8, ..."
1,الله,Allh,2153,"1:1:2, 2:7:2, 2:9:2, 2:10:5, 2:15:1, 2:17:11, ..."
2,فى,fY,1185,"2:10:1, 2:11:6, 2:15:5, 2:17:14, 2:19:11, 2:23..."
3,ما,mA,1010,"2:17:8, 2:26:8, 2:27:9, 2:29:5, 2:30:26, 2:32:..."
4,إن,<n,966,"2:6:1, 2:20:20, 2:23:18, 2:26:1, 2:31:13, 2:62..."
...,...,...,...,...
995,نفسك,nfsk,9,"4:79:12, 4:84:8, 5:116:40, 7:205:4, 18:6:3, 18..."
996,عندك,Endk,9,"4:78:24, 4:81:6, 7:134:12, 8:32:10, 17:23:11, ..."
997,استوى,AstwY,9,"2:29:10, 7:54:12, 10:3:12, 13:2:9, 20:5:4, 25:..."
998,كالذين,kAl*yn,9,"3:105:3, 3:156:6, 8:21:3, 8:47:3, 9:69:1, 33:6..."
999,يشرك,y$rk,9,"4:48:6, 4:48:15, 4:116:6, 4:116:15, 5:72:21, 1..."

In [69]:
#df_arabic_simple_nav.to_excel("Arabic_Simple_Frequency_Navigation.xlsx", sheet_name="Arabic_Simple_Frequency", index=False)

In [ ]:
df_a = df_buckwalter_concat.iloc[:,[5,4]]
df_a

In [ ]:
set_a = set(df_a.iloc[:,0])
set_a

In [ ]:
df_b = pd.read_excel("/media/kurubal/SSD/Data Scientist/Data Science/Data-Scientist/Work/Modern Ways/Arabic/ReDe/Tanzil_Simple_Buckwalter_And_Arabic.xlsx")
df_b

In [ ]:
set_b = set(df_b.iloc[:,0])
set_b

In [ ]:
df_set_a = pd.DataFrame(set_a.difference(set_b))
df_set_a.rename(columns={0:"buckwalter_simple"}, inplace=True)
df_set_a

In [ ]:
df_a_merge = pd.merge(df_set_a, df_a, how="right", on="buckwalter_simple")
df_a_merge.drop_duplicates(inplace=True)
df_a_merge

In [ ]:
df_a_merge.to_excel("Morphology_Difference_Tanzil.xlsx", index=False)

In [ ]:
df_set_b = pd.DataFrame(set_b.difference(set_a))
df_set_b.rename(columns={0:"buckwalter_simple"}, inplace=True)
df_set_b

In [ ]:
df_b_merge = pd.merge(df_set_b, df_b, how="right", on="buckwalter_simple")
df_b_merge.drop_duplicates(inplace=True)
df_b_merge

In [ ]:
df_b_merge.to_excel("Tanzil_Difference_Morphology.xlsx", index=False)