### Quran Form Analysis

In [1]:
#!pip install lang-trans

In [2]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter

In [3]:
with open("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Data/Quranic Corpus Morphology.txt", "r", encoding="utf8") as file:
    text = file.read()

#### Form Tag

In [4]:
form_tag_list = re.findall("[\(\d*:\d*:\d*:\d*\)][\t](\D*)[\t][\D*]", text)

In [5]:
form_tag_num = re.findall("(\d*:\d*:\d*:\d*)", text)

In [6]:
df_stem = pd.DataFrame(form_tag_num)
df_stem.rename(columns={0:"loc_num"}, inplace=True)
df_stem

          loc_num
0         1:1:1:1
1         1:1:1:2
2         1:1:2:1
3         1:1:3:1
4         1:1:3:2
...           ...
128214  114:6:2:1
128215  114:6:2:2
128216  114:6:3:1
128217  114:6:3:2
128218  114:6:3:3

[128219 rows x 1 columns]

In [7]:
df_stem = df_stem["loc_num"].str.split(":", n=-1, expand=True)
df_stem.rename(columns={0:"num_1", 1:"num_2", 2:"num_3", 3:"num_4"}, inplace=True)
df_stem

       num_1 num_2 num_3 num_4
0          1     1     1     1
1          1     1     1     2
2          1     1     2     1
3          1     1     3     1
4          1     1     3     2
...      ...   ...   ...   ...
128214   114     6     2     1
128215   114     6     2     2
128216   114     6     3     1
128217   114     6     3     2
128218   114     6     3     3

[128219 rows x 4 columns]

In [8]:
df_stem['num_1'] = df_stem['num_1'].astype(int)
df_stem['num_2'] = df_stem['num_2'].astype(int)
df_stem['num_3'] = df_stem['num_3'].astype(int)
df_stem['num_4'] = df_stem['num_4'].astype(int)

In [9]:
df_stem["form_tag"] = pd.DataFrame(form_tag_list)
df_stem

        num_1  num_2  num_3  num_4         form_tag
0           1      1      1      1            bi\tP
1           1      1      1      2          somi\tN
2           1      1      2      1      {ll~ahi\tPN
3           1      1      3      1          {l\tDET
4           1      1      3      2  r~aHoma`ni\tADJ
...       ...    ...    ...    ...              ...
128214    114      6      2      1         {lo\tDET
128215    114      6      2      2       jin~api\tN
128216    114      6      3      1         wa\tCONJ
128217    114      6      3      2          {l\tDET
128218    114      6      3      3        n~aAsi\tN

[128219 rows x 5 columns]

In [10]:
df_stem[["form","tag"]] = df_stem["form_tag"].str.split("\t", n=-1, expand=True)
df_stem.drop(["form_tag"], axis=1, inplace=True)
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [11]:
df_stem.drop_duplicates(inplace=True)
df_stem.reset_index(drop=True, inplace=True)
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [12]:
#df_stem.to_excel("Buckwalter_Form_Tag_Morphology.xlsx", sheet_name="Form_Tag", index=False)

In [13]:
df_word = pd.DataFrame(df_stem.groupby(["num_1","num_2","num_3"])["form"].sum())
df_word.rename(columns={"form":"form_concat"}, inplace=True)
df_word.reset_index(inplace=True)
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [14]:
#df_word.to_excel("Buckwalter_Form_Concat_Morphology.xlsx", sheet_name="Concat_Form", index=False)

#### Buckwalter Text

In [15]:
#df_word = pd.read_excel("Buckwalter_Form_Concat_Morphology.xlsx")

In [16]:
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [17]:
concat_list = df_word.iloc[:,3].to_list()
#concat_list = df_word_concat.iloc[:,3].head(500).to_list()

In [18]:
buckwalter_text = " ".join(concat_list)
#buckwalter_text

In [19]:
#with open("Buckwalter_Form_Concat_Morphology.txt", "w", encoding="utf8") as file:
#    file.write(buckwalter_text)

#### Arabic Text

In [20]:
#with open("Buckwalter_Form_Concat_Morphology.txt", "r", encoding="utf8") as file:
#    buckwalter_text = file.read()

In [21]:
# buckwalter text clean for simple before transString
def clean_ex(text):
    buckwalter_out = re.sub(r'''([PJVG\.:;,!\+\^\]\[@#FNKauio`~"%-])''', "", text) # difference from clean
    return buckwalter_out

In [22]:
# Arabic Encoding Extended
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2uni = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "}": u"\u0626", # hamza-on-yaa'
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "F": u"\u064B", # fatHatayn
            "N": u"\u064C", # Dammatayn
            "K": u"\u064D", # kasratayn
            "a": u"\u064E", # fatHa
            "u": u"\u064F", # Damma
            "i": u"\u0650", # kasra
            "~": u"\u0651", # shaddah
            "o": u"\u0652", # sukuun
            "^": u"\u0653", # maddah
            "#": u"\u0654", # hamzaabove            
            "`": u"\u0670", # dagger 'alif
            "{": u"\u0671", # waSla
            "P": u"\u067E", # arabicletterpeh
            "J": u"\u0686", 
            "V": u"\u06A4", # arabicletterveh
            "G": u"\u06AF", # arabiclettergaf
            ":": u"\u06DC", # smallhighseen
            "@": u"\u06DF", # smallhighroundedzero
            "\"": u"\u06E0", # smallhighuprightrectangularzero
            "[": u"\u06E2", # smallhighmeemisolatedform
            ";": u"\u06E3", # smalllowseen
            ",": u"\u06E5", # smallwaw
            ".": u"\u06E6", # smallya
            "!": u"\u06E8", # smallhighnoon
            "-": u"\u06EA", # emptycentrelowstop
            "+": u"\u06EB", # emptycentrehighstop
            "%": u"\u06EC", # roundedhighstopwithfilledcentre
            "]": u"\u06ED", # smalllowmeem           
}

def transString(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2uni.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [23]:
# Simple Encoding Technique
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2unisimple = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "{": u"\u0671", # waSla         
}

def transStringSimple(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2unisimple.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [24]:
# character clean for simple after transStringSimple 
def clean(text):
    arabic_out = re.sub(r'''([PJVG\.:;,!\+\]\[@#FNKauio`~"%-])''', "", text) # .$^*+
    arabic_out2 = re.sub(r"\^", " ", arabic_out)
    return arabic_out2

In [25]:
arabic_func_text = transString(buckwalter_text, 1)
#arabic_func_text

In [26]:
#with open("Arabic_Form_Converted_Extended_Characters_Morphology.txt", "w", encoding="utf8") as file:
#    file.write(arabic_func_text)

##### DF Form Word Concat Convert Arabic

In [27]:
#df_stem = pd.read_excel("Buckwalter_Form_Tag_Morphology.xlsx")
df_stem

        num_1  num_2  num_3  num_4        form   tag
0           1      1      1      1          bi     P
1           1      1      1      2        somi     N
2           1      1      2      1     {ll~ahi    PN
3           1      1      3      1          {l   DET
4           1      1      3      2  r~aHoma`ni   ADJ
...       ...    ...    ...    ...         ...   ...
128214    114      6      2      1         {lo   DET
128215    114      6      2      2     jin~api     N
128216    114      6      3      1          wa  CONJ
128217    114      6      3      2          {l   DET
128218    114      6      3      3      n~aAsi     N

[128219 rows x 6 columns]

In [28]:
df_stem["arabic_form"] = df_stem.iloc[:,4].apply(lambda x: transString(str(x), 1))
df_stem

        num_1  num_2  num_3  num_4        form   tag arabic_form
0           1      1      1      1          bi     P          بِ
1           1      1      1      2        somi     N        سْمِ
2           1      1      2      1     {ll~ahi    PN     ٱللَّهِ
3           1      1      3      1          {l   DET          ٱل
4           1      1      3      2  r~aHoma`ni   ADJ  رَّحْمَٰنِ
...       ...    ...    ...    ...         ...   ...         ...
128214    114      6      2      1         {lo   DET         ٱلْ
128215    114      6      2      2     jin~api     N     جِنَّةِ
128216    114      6      3      1          wa  CONJ          وَ
128217    114      6      3      2          {l   DET          ٱل
128218    114      6      3      3      n~aAsi     N      نَّاسِ

[128219 rows x 7 columns]

In [29]:
# 1 Way
df_stem["arabic_form_simple"] = df_stem.iloc[:,4].apply(lambda x: clean_ex(str(x)))
df_stem["arabic_form_simple"] = df_stem.iloc[:,7].apply(lambda x: transString(str(x), 1))
df_stem

,num_1,num_2,num_3,num_4,form,tag,arabic_form,arabic_form_simple
0,1,1,1,1,bi,P,بِ,ب
1,1,1,1,2,somi,N,سْمِ,سم
2,1,1,2,1,{ll~ahi,PN,ٱللَّهِ,ٱلله
3,1,1,3,1,{l,DET,ٱل,ٱل
4,1,1,3,2,r~aHoma`ni,ADJ,رَّحْمَٰنِ,رحمن
...,...,...,...,...,...,...,...,...
128214,114,6,2,1,{lo,DET,ٱلْ,ٱل
128215,114,6,2,2,jin~api,N,جِنَّةِ,جنة
128216,114,6,3,1,wa,CONJ,وَ,و
128217,114,6,3,2,{l,DET,ٱل,ٱل
128218,114,6,3,3,n~aAsi,N,نَّاسِ,ناس

In [30]:
## 2 Way
#df_stem["arabic_form_simple"] = df_stem.iloc[:,4].apply(lambda x: transStringSimple(x, 1))
#df_stem["arabic_form_simple"] = df_stem.iloc[:,7].apply(lambda x: clean(x))
#df_stem

In [31]:
# 1 Way
df_stem["form_simple"] = df_stem.iloc[:,4].apply(lambda x: clean_ex(str(x)))
df_stem

,num_1,num_2,num_3,num_4,form,tag,arabic_form,arabic_form_simple,form_simple
0,1,1,1,1,bi,P,بِ,ب,b
1,1,1,1,2,somi,N,سْمِ,سم,sm
2,1,1,2,1,{ll~ahi,PN,ٱللَّهِ,ٱلله,{llh
3,1,1,3,1,{l,DET,ٱل,ٱل,{l
4,1,1,3,2,r~aHoma`ni,ADJ,رَّحْمَٰنِ,رحمن,rHmn
...,...,...,...,...,...,...,...,...,...
128214,114,6,2,1,{lo,DET,ٱلْ,ٱل,{l
128215,114,6,2,2,jin~api,N,جِنَّةِ,جنة,jnp
128216,114,6,3,1,wa,CONJ,وَ,و,w
128217,114,6,3,2,{l,DET,ٱل,ٱل,{l
128218,114,6,3,3,n~aAsi,N,نَّاسِ,ناس,nAs

In [32]:
## 2 Way
##df_stem["form_simple"] = df_stem.iloc[:,7].apply(lambda x: transString(x, 0))
#df_stem["form_simple"] = df_stem.iloc[:,7].apply(lambda x: transStringSimple(x, 0))
#df_stem["form_simple"] = df_stem.iloc[:,8].apply(lambda x: clean(x))
#df_stem

In [33]:
df_stem = df_stem[["num_1","num_2","num_3","num_4","arabic_form_simple","form_simple","arabic_form","form","tag"]]
df_stem.rename(columns={"form_simple":"buckwalter_simple", "form":"buckwalter"}, inplace=True)
df_stem

,num_1,num_2,num_3,num_4,arabic_form_simple,buckwalter_simple,arabic_form,buckwalter,tag
0,1,1,1,1,ب,b,بِ,bi,P
1,1,1,1,2,سم,sm,سْمِ,somi,N
2,1,1,2,1,ٱلله,{llh,ٱللَّهِ,{ll~ahi,PN
3,1,1,3,1,ٱل,{l,ٱل,{l,DET
4,1,1,3,2,رحمن,rHmn,رَّحْمَٰنِ,r~aHoma`ni,ADJ
...,...,...,...,...,...,...,...,...,...
128214,114,6,2,1,ٱل,{l,ٱلْ,{lo,DET
128215,114,6,2,2,جنة,jnp,جِنَّةِ,jin~api,N
128216,114,6,3,1,و,w,وَ,wa,CONJ
128217,114,6,3,2,ٱل,{l,ٱل,{l,DET
128218,114,6,3,3,ناس,nAs,نَّاسِ,n~aAsi,N

In [34]:
#df_stem.to_excel("Arabic_Buckwalter_Form_And_Simple_Morphology.xlsx", sheet_name="Arabic_And_Simple_Form", index=False, encoding="utf-8")

In [35]:
#df_word = pd.read_excel("Buckwalter_Form_Concat_Morphology.xlsx")
df_word

       num_1  num_2  num_3   form_concat
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [36]:
df_word["arabic"] = df_word.iloc[:,3].apply(lambda x: transString(x, 1))
df_word

       num_1  num_2  num_3   form_concat        arabic
0          1      1      1        bisomi        بِسْمِ
1          1      1      2       {ll~ahi       ٱللَّهِ
2          1      1      3  {lr~aHoma`ni  ٱلرَّحْمَٰنِ
3          1      1      4    {lr~aHiymi    ٱلرَّحِيمِ
4          1      2      1     {loHamodu     ٱلْحَمْدُ
...      ...    ...    ...           ...           ...
77424    114      5      4       Suduwri       صُدُورِ
77425    114      5      5      {ln~aAsi      ٱلنَّاسِ
77426    114      6      1          mina          مِنَ
77427    114      6      2    {lojin~api    ٱلْجِنَّةِ
77428    114      6      3    wa{ln~aAsi    وَٱلنَّاسِ

[77429 rows x 5 columns]

In [37]:
df_morp_word_nav = df_word.iloc[:,[0,1,2,4,3]]
df_morp_word_nav.rename(columns={"arabic":"arabic_word_morphology","form_concat":"buckwalter_word_morphology"}, inplace=True)
df_morp_word_nav

       num_1  num_2  num_3 arabic_word_morphology buckwalter_word_morphology
0          1      1      1                 بِسْمِ                     bisomi
1          1      1      2                ٱللَّهِ                    {ll~ahi
2          1      1      3           ٱلرَّحْمَٰنِ               {lr~aHoma`ni
3          1      1      4             ٱلرَّحِيمِ                 {lr~aHiymi
4          1      2      1              ٱلْحَمْدُ                  {loHamodu
...      ...    ...    ...                    ...                        ...
77424    114      5      4                صُدُورِ                    Suduwri
77425    114      5      5               ٱلنَّاسِ                   {ln~aAsi
77426    114      6      1                   مِنَ                       mina
77427    114      6      2             ٱلْجِنَّةِ                 {lojin~api
77428    114      6      3             وَٱلنَّاسِ                 wa{ln~aAsi

[77429 rows x 5 columns]

In [38]:
#df_morp_word_nav.to_excel("Arabic_Buckwalter_Word_Morphology.xlsx", sheet_name="Arabic_And_Buckwalter", index=False, encoding="utf-8")

In [39]:
# 1 Way
df_word["arabic_simple"] = df_word.iloc[:,3].apply(lambda x : clean_ex(x))
df_word["arabic_simple"] = df_word.iloc[:,5].apply(lambda x : transString(x, 1))
df_word

       num_1  num_2  num_3   form_concat        arabic arabic_simple
0          1      1      1        bisomi        بِسْمِ           بسم
1          1      1      2       {ll~ahi       ٱللَّهِ          ٱلله
2          1      1      3  {lr~aHoma`ni  ٱلرَّحْمَٰنِ        ٱلرحمن
3          1      1      4    {lr~aHiymi    ٱلرَّحِيمِ        ٱلرحيم
4          1      2      1     {loHamodu     ٱلْحَمْدُ         ٱلحمد
...      ...    ...    ...           ...           ...           ...
77424    114      5      4       Suduwri       صُدُورِ          صدور
77425    114      5      5      {ln~aAsi      ٱلنَّاسِ         ٱلناس
77426    114      6      1          mina          مِنَ            من
77427    114      6      2    {lojin~api    ٱلْجِنَّةِ         ٱلجنة
77428    114      6      3    wa{ln~aAsi    وَٱلنَّاسِ        وٱلناس

[77429 rows x 6 columns]

In [40]:
## 2 Way
#df_word["arabic_simple"] = df_word.iloc[:,3].apply(lambda x : transStringSimple(x, 1))
#df_word["arabic_simple"] = df_word.iloc[:,5].apply(lambda x : clean(x))
#df_word

In [41]:
# 1 Way
df_word["form_concat_simple"] = df_word.iloc[:,3].apply(lambda x: clean_ex(x))
df_word

,num_1,num_2,num_3,form_concat,arabic,arabic_simple,form_concat_simple
0,1,1,1,bisomi,بِسْمِ,بسم,bsm
1,1,1,2,{ll~ahi,ٱللَّهِ,ٱلله,{llh
2,1,1,3,{lr~aHoma`ni,ٱلرَّحْمَٰنِ,ٱلرحمن,{lrHmn
3,1,1,4,{lr~aHiymi,ٱلرَّحِيمِ,ٱلرحيم,{lrHym
4,1,2,1,{loHamodu,ٱلْحَمْدُ,ٱلحمد,{lHmd
...,...,...,...,...,...,...,...
77424,114,5,4,Suduwri,صُدُورِ,صدور,Sdwr
77425,114,5,5,{ln~aAsi,ٱلنَّاسِ,ٱلناس,{lnAs
77426,114,6,1,mina,مِنَ,من,mn
77427,114,6,2,{lojin~api,ٱلْجِنَّةِ,ٱلجنة,{ljnp
77428,114,6,3,wa{ln~aAsi,وَٱلنَّاسِ,وٱلناس,w{lnAs

In [42]:
## 2 Way
##df_word["form_concat_simple"] = df_word.iloc[:,5].apply(lambda x: transString(x, 0))
#df_word["form_concat_simple"] = df_word.iloc[:,5].apply(lambda x: transStringSimple(x, 0))
#df_word["form_concat_simple"] = df_word.iloc[:,6].apply(lambda x: clean(x))
#df_word

In [43]:
df_word = df_word[["num_1","num_2","num_3","arabic_simple","form_concat_simple","arabic","form_concat"]]
df_word.rename(columns={"form_concat":"buckwalter","form_concat_simple":"buckwalter_simple"}, inplace=True)
df_word

,num_1,num_2,num_3,arabic_simple,buckwalter_simple,arabic,buckwalter
0,1,1,1,بسم,bsm,بِسْمِ,bisomi
1,1,1,2,ٱلله,{llh,ٱللَّهِ,{ll~ahi
2,1,1,3,ٱلرحمن,{lrHmn,ٱلرَّحْمَٰنِ,{lr~aHoma`ni
3,1,1,4,ٱلرحيم,{lrHym,ٱلرَّحِيمِ,{lr~aHiymi
4,1,2,1,ٱلحمد,{lHmd,ٱلْحَمْدُ,{loHamodu
...,...,...,...,...,...,...,...
77424,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri
77425,114,5,5,ٱلناس,{lnAs,ٱلنَّاسِ,{ln~aAsi
77426,114,6,1,من,mn,مِنَ,mina
77427,114,6,2,ٱلجنة,{ljnp,ٱلْجِنَّةِ,{lojin~api
77428,114,6,3,وٱلناس,w{lnAs,وَٱلنَّاسِ,wa{ln~aAsi

In [44]:
df_word.iloc[27,:]

num_1                    1
num_2                    7
num_3                    8
arabic_simple          ولا
buckwalter_simple      wlA
arabic               وَلَا
buckwalter           walaA
Name: 27, dtype: object

In [45]:
#df_word.to_excel("Arabic_Buckwalter_Word_And_Simple_Morphology.xlsx", sheet_name="Arabic_And_Simple", index=False, encoding="utf-8")

In [46]:
df_buckwalter = df_word.iloc[:,[0,1,2,6]]
df_buckwalter

       num_1  num_2  num_3    buckwalter
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [47]:
df_buckwalter_concat = df_buckwalter.groupby(["num_1","num_2"])["buckwalter"].apply(" ".join).reset_index()
df_buckwalter_concat

      num_1  num_2                                buckwalter
0         1      1    bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi
1         1      2     {loHamodu lil~ahi rab~i {loEa`lamiyna
2         1      3                   {lr~aHoma`ni {lr~aHiymi
3         1      4                   ma`liki yawomi {ld~iyni
4         1      5  <iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...     ...    ...                                       ...
6231    114      2                           maliki {ln~aAsi
6232    114      3                          <ila`hi {ln~aAsi
6233    114      4        min $ar~i {lowasowaAsi {loxan~aAsi
6234    114      5   {l~a*iY yuwasowisu fiY Suduwri {ln~aAsi
6235    114      6                mina {lojin~api wa{ln~aAsi

[6236 rows x 3 columns]

In [48]:
df_buckwalter_concat["arabic"] = df_buckwalter_concat.iloc[:,2].apply(lambda x: transString(x, 1)) # Convert Arabic Extended
df_buckwalter_concat

,num_1,num_2,buckwalter,arabic
0,1,1,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
1,1,2,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ
2,1,3,{lr~aHoma`ni {lr~aHiymi,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3,1,4,ma`liki yawomi {ld~iyni,مَٰلِكِ يَوْمِ ٱلدِّينِ
4,1,5,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...,...,...,...,...
6231,114,2,maliki {ln~aAsi,مَلِكِ ٱلنَّاسِ
6232,114,3,<ila`hi {ln~aAsi,إِلَٰهِ ٱلنَّاسِ
6233,114,4,min $ar~i {lowasowaAsi {loxan~aAsi,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ
6234,114,5,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ
6235,114,6,mina {lojin~api wa{ln~aAsi,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ

In [49]:
df_morp_sent_nav = df_buckwalter_concat.iloc[:,[0,1,3,2]]
df_morp_sent_nav.rename(columns={"arabic":"arabic_sent_morphology", "buckwalter":"buckwalter_sent_morphology"}, inplace=True)
df_morp_sent_nav

,num_1,num_2,arabic_sent_morphology,buckwalter_sent_morphology
0,1,1,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi
1,1,2,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,{loHamodu lil~ahi rab~i {loEa`lamiyna
2,1,3,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,{lr~aHoma`ni {lr~aHiymi
3,1,4,مَٰلِكِ يَوْمِ ٱلدِّينِ,ma`liki yawomi {ld~iyni
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...,...,...,...,...
6231,114,2,مَلِكِ ٱلنَّاسِ,maliki {ln~aAsi
6232,114,3,إِلَٰهِ ٱلنَّاسِ,<ila`hi {ln~aAsi
6233,114,4,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,min $ar~i {lowasowaAsi {loxan~aAsi
6234,114,5,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi
6235,114,6,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,mina {lojin~api wa{ln~aAsi

In [50]:
#df_morp_sent_nav.to_excel("Arabic_Buckwalter_Sent_Morphology.xlsx", sheet_name="Arabic_And_Buckwalter", index=False, encoding="utf-8")

In [51]:
# 1 Way
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,2].apply(lambda x : clean_ex(x))
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transString(x, 1)) # Convert Arabic Simple
df_buckwalter_concat

,num_1,num_2,buckwalter,arabic,arabic_simple
0,1,1,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,بسم ٱلله ٱلرحمن ٱلرحيم
1,1,2,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,ٱلحمد لله رب ٱلعلمين
2,1,3,{lr~aHoma`ni {lr~aHiymi,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,ٱلرحمن ٱلرحيم
3,1,4,ma`liki yawomi {ld~iyni,مَٰلِكِ يَوْمِ ٱلدِّينِ,ملك يوم ٱلدين
4,1,5,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,إياك نعبد وإياك نستعين
...,...,...,...,...,...
6231,114,2,maliki {ln~aAsi,مَلِكِ ٱلنَّاسِ,ملك ٱلناس
6232,114,3,<ila`hi {ln~aAsi,إِلَٰهِ ٱلنَّاسِ,إله ٱلناس
6233,114,4,min $ar~i {lowasowaAsi {loxan~aAsi,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,من شر ٱلوسواس ٱلخناس
6234,114,5,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,ٱلذى يوسوس فى صدور ٱلناس
6235,114,6,mina {lojin~api wa{ln~aAsi,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,من ٱلجنة وٱلناس

In [52]:
## 2 Way
#df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,2].apply(lambda x : transStringSimple(x, 1)) # Convert Arabic Simple
#df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : clean(x))
#df_buckwalter_concat

In [53]:
df_buckwalter_concat = df_buckwalter_concat[["num_1","num_2","arabic","buckwalter","arabic_simple"]]
df_buckwalter_concat

,num_1,num_2,arabic,buckwalter,arabic_simple
0,1,1,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بسم ٱلله ٱلرحمن ٱلرحيم
1,1,2,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلحمد لله رب ٱلعلمين
2,1,3,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,{lr~aHoma`ni {lr~aHiymi,ٱلرحمن ٱلرحيم
3,1,4,مَٰلِكِ يَوْمِ ٱلدِّينِ,ma`liki yawomi {ld~iyni,ملك يوم ٱلدين
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إياك نعبد وإياك نستعين
...,...,...,...,...,...
6231,114,2,مَلِكِ ٱلنَّاسِ,maliki {ln~aAsi,ملك ٱلناس
6232,114,3,إِلَٰهِ ٱلنَّاسِ,<ila`hi {ln~aAsi,إله ٱلناس
6233,114,4,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,min $ar~i {lowasowaAsi {loxan~aAsi,من شر ٱلوسواس ٱلخناس
6234,114,5,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلذى يوسوس فى صدور ٱلناس
6235,114,6,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,mina {lojin~api wa{ln~aAsi,من ٱلجنة وٱلناس

In [54]:
# 1 Way
df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,3].apply(lambda x : clean_ex(x)) # Convert Arabic Simple
df_buckwalter_concat

<ipython-input-54-b8caadbd0684>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,3].apply(lambda x : clean_ex(x)) # Convert Arabic Simple

,num_1,num_2,arabic,buckwalter,arabic_simple,buckwalter_simple
0,1,1,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بسم ٱلله ٱلرحمن ٱلرحيم,bsm {llh {lrHmn {lrHym
1,1,2,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلحمد لله رب ٱلعلمين,{lHmd llh rb {lElmyn
2,1,3,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,{lr~aHoma`ni {lr~aHiymi,ٱلرحمن ٱلرحيم,{lrHmn {lrHym
3,1,4,مَٰلِكِ يَوْمِ ٱلدِّينِ,ma`liki yawomi {ld~iyni,ملك يوم ٱلدين,mlk ywm {ldyn
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إياك نعبد وإياك نستعين,<yAk nEbd w<yAk nstEyn
...,...,...,...,...,...,...
6231,114,2,مَلِكِ ٱلنَّاسِ,maliki {ln~aAsi,ملك ٱلناس,mlk {lnAs
6232,114,3,إِلَٰهِ ٱلنَّاسِ,<ila`hi {ln~aAsi,إله ٱلناس,<lh {lnAs
6233,114,4,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,min $ar~i {lowasowaAsi {loxan~aAsi,من شر ٱلوسواس ٱلخناس,mn $r {lwswAs {lxnAs
6234,114,5,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلذى يوسوس فى صدور ٱلناس,{l*Y ywsws fY Sdwr {lnAs
6235,114,6,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,mina {lojin~api wa{ln~aAsi,من ٱلجنة وٱلناس,mn {ljnp w{lnAs

In [55]:
## 2 Way
##df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transString(x, 0))
#df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : transStringSimple(x, 0)) # Convert Arabic Simple
#df_buckwalter_concat["buckwalter_simple"] = df_buckwalter_concat.iloc[:,5].apply(lambda x : clean(x))
#df_buckwalter_concat

In [56]:
#df_buckwalter_concat.to_excel("Arabic_Buckwalter_Sent_And_Simple_Morphology.xlsx", sheet_name="Arabic_Simple_Sentence", index=False)

##### Arabic Frequency

In [57]:
#df_stem = pd.read_excel("Buckwalter_Form_Tag_Morphology.xlsx")

In [58]:
df_arabic_form_count = pd.DataFrame(df_stem.iloc[:,6].value_counts(ascending=False))
df_arabic_form_count.reset_index(inplace=True)
df_arabic_form_count.rename(columns={"index":"arabic_form","arabic_form":"frequency"}, inplace=True)
df_arabic_form_count

      arabic_form  frequency
0              وَ       9572
1             ٱلْ       5375
2              فَ       3001
3             وا۟       2853
4              ٱل       2597
...           ...        ...
12200     مُقِيمَ          1
12201    نُعْلِنُ          1
12202     نُخْفِى          1
12203    تَهْوِىٓ          1
12204  يُوَسْوِسُ          1

[12205 rows x 2 columns]

In [59]:
#df_arabic_form_count.to_excel("Arabic_Form_Frequency_Morphology.xlsx", sheet_name="Arabic_Form_Frequency", index=False)

In [60]:
df_arabic_form_simple_count = pd.DataFrame(df_stem.iloc[:,4].value_counts(ascending=False))
df_arabic_form_simple_count.reset_index(inplace=True)
df_arabic_form_simple_count.rename(columns={"index":"arabic_form_simple","arabic_form_simple":"frequency"}, inplace=True)
df_arabic_form_simple_count

     arabic_form_simple  frequency
0                     و      10077
1                    ٱل       8046
2                     ل       4176
3                    من       3950
4                    هم       3901
...                 ...        ...
7420               يخيل          1
7421              كبائر          1
7422               جذوع          1
7423              تجتنب          1
7424              يوسوس          1

[7425 rows x 2 columns]

In [61]:
#df_arabic_form_simple_count.to_excel("Arabic_Form_Simple_Frequency_Morphology.xlsx", sheet_name="Arabic_Form_Simple_Frequency", index=False)

In [62]:
#df_word = pd.read_excel("Arabic_Buckwalter_Word_And_Simple_Morphology.xlsx")

In [63]:
df_arabic_word_count = pd.DataFrame(df_word.iloc[:,5].value_counts(ascending=False))
df_arabic_word_count.reset_index(inplace=True)
df_arabic_word_count.rename(columns={"index":"arabic","arabic":"frequency"}, inplace=True)
df_arabic_word_count

             arabic  frequency
0               فِى       1098
1           ٱللَّهِ        828
2         ٱلَّذِينَ        810
3           ٱللَّهُ        733
4               مِن        728
...             ...        ...
18988       يُنكِرُ          1
18989      أُشْرِكَ          1
18990      مَـَٔابِ          1
18991  وَذُرِّيَّةً          1
18992    يُوَسْوِسُ          1

[18993 rows x 2 columns]

In [64]:
#df_arabic_word_count.to_excel("Arabic_Word_Frequency_Morphology.xlsx", sheet_name="Arabic_Word_Frequency", index=False)

In [65]:
df_arabic_word_simple_count = pd.DataFrame(df_word.iloc[:,3].value_counts(ascending=False))
df_arabic_word_simple_count.reset_index(inplace=True)
df_arabic_word_simple_count.rename(columns={"index":"arabic_simple","arabic_simple":"frequency"}, inplace=True)
df_arabic_word_simple_count

      arabic_simple  frequency
0                من       2763
1              ٱلله       2153
2                فى       1185
3                ما       1010
4                إن        966
...             ...        ...
14809          فبدأ          1
14810      بأوعيتهم          1
14811      ٱستخرجها          1
14812          كدنا          1
14813         يوسوس          1

[14814 rows x 2 columns]

In [66]:
df_arabic_word_simple_count.to_excel("Arabic_Simple_Word_Frequency_Morphology.xlsx", sheet_name="Arabic_Simple_Word_Frequency", index=False)

##### Arabic Simple Frequency Nav

In [67]:
df_arabic_simple_select = df_arabic_word_simple_count.head(1000)
df_arabic_simple_select

    arabic_simple  frequency
0              من       2763
1            ٱلله       2153
2              فى       1185
3              ما       1010
4              إن        966
..            ...        ...
995          نفسك          9
996          عندك          9
997          يشرك          9
998         ٱستوى          9
999        يعبدون          9

[1000 rows x 2 columns]

In [68]:
df_arabic_simple_count_merge = pd.merge(df_arabic_simple_select, df_word, how="inner", on="arabic_simple")
df_arabic_simple_count_merge

,arabic_simple,frequency,num_1,num_2,num_3,buckwalter_simple,arabic,buckwalter
0,من,2763,2,4,8,mn,مِن,min
1,من,2763,2,5,4,mn,مِّن,m~in
2,من,2763,2,8,3,mn,مَن,man
3,من,2763,2,19,3,mn,مِّنَ,m~ina
4,من,2763,2,19,13,mn,مِّنَ,m~ina
...,...,...,...,...,...,...,...,...
51338,يعبدون,9,28,63,18,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51339,يعبدون,9,34,40,10,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51340,يعبدون,9,34,41,9,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51341,يعبدون,9,37,22,7,yEbdwn,يَعْبُدُونَ,yaEobuduwna
51342,يعبدون,9,43,45,13,yEbdwn,يُعْبَدُونَ,yuEobaduwna

In [69]:
df_arabic_simple_count_merge = df_arabic_simple_count_merge[["num_1","num_2","num_3","arabic_simple","buckwalter_simple","frequency","arabic","buckwalter"]]
df_arabic_simple_count_merge

,num_1,num_2,num_3,arabic_simple,buckwalter_simple,frequency,arabic,buckwalter
0,2,4,8,من,mn,2763,مِن,min
1,2,5,4,من,mn,2763,مِّن,m~in
2,2,8,3,من,mn,2763,مَن,man
3,2,19,3,من,mn,2763,مِّنَ,m~ina
4,2,19,13,من,mn,2763,مِّنَ,m~ina
...,...,...,...,...,...,...,...,...
51338,28,63,18,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51339,34,40,10,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51340,34,41,9,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51341,37,22,7,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna
51342,43,45,13,يعبدون,yEbdwn,9,يُعْبَدُونَ,yuEobaduwna

In [70]:
df_arabic_simple_count_merge["nav"] = df_arabic_simple_count_merge["num_1"].astype("str")+":"+df_arabic_simple_count_merge["num_2"].astype("str")+":"+df_arabic_simple_count_merge["num_3"].astype("str")
df_arabic_simple_count_merge

<ipython-input-70-9577043f5c20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arabic_simple_count_merge["nav"] = df_arabic_simple_count_merge["num_1"].astype("str")+":"+df_arabic_simple_count_merge["num_2"].astype("str")+":"+df_arabic_simple_count_merge["num_3"].astype("str")

,num_1,num_2,num_3,arabic_simple,buckwalter_simple,frequency,arabic,buckwalter,nav
0,2,4,8,من,mn,2763,مِن,min,2:4:8
1,2,5,4,من,mn,2763,مِّن,m~in,2:5:4
2,2,8,3,من,mn,2763,مَن,man,2:8:3
3,2,19,3,من,mn,2763,مِّنَ,m~ina,2:19:3
4,2,19,13,من,mn,2763,مِّنَ,m~ina,2:19:13
...,...,...,...,...,...,...,...,...,...
51338,28,63,18,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,28:63:18
51339,34,40,10,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,34:40:10
51340,34,41,9,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,34:41:9
51341,37,22,7,يعبدون,yEbdwn,9,يَعْبُدُونَ,yaEobuduwna,37:22:7
51342,43,45,13,يعبدون,yEbdwn,9,يُعْبَدُونَ,yuEobaduwna,43:45:13

In [71]:
#df_arabic_simple_count_merge.to_excel("Arabic_Buckwalter_Word_And_Simple_Navigation_Morphology.xlsx", sheet_name="Arabic_Word_Navigation", index=False)

In [72]:
df_arabic_simple_nav = df_arabic_simple_count_merge.groupby(["arabic_simple","buckwalter_simple","frequency"])["nav"].apply(", ".join).reset_index().sort_values(by="frequency", ascending=False)
df_arabic_simple_nav.reset_index(drop=True, inplace=True)
df_arabic_simple_nav

,arabic_simple,buckwalter_simple,frequency,nav
0,من,mn,2763,"2:4:8, 2:5:4, 2:8:3, 2:19:3, 2:19:13, 2:21:8, ..."
1,ٱلله,{llh,2153,"1:1:2, 2:7:2, 2:9:2, 2:10:5, 2:15:1, 2:17:11, ..."
2,فى,fY,1185,"2:10:1, 2:11:6, 2:15:5, 2:17:14, 2:19:11, 2:23..."
3,ما,mA,1010,"2:17:8, 2:26:8, 2:27:9, 2:29:5, 2:30:26, 2:32:..."
4,إن,<n,966,"2:6:1, 2:20:20, 2:23:18, 2:26:1, 2:31:13, 2:62..."
...,...,...,...,...
995,عندك,Endk,9,"4:78:24, 4:81:6, 7:134:12, 8:32:10, 17:23:11, ..."
996,نفسك,nfsk,9,"4:79:12, 4:84:8, 5:116:40, 7:205:4, 18:6:3, 18..."
997,كٱلذين,k{l*yn,9,"3:105:3, 3:156:6, 8:21:3, 8:47:3, 9:69:1, 33:6..."
998,ٱستوى,{stwY,9,"2:29:10, 7:54:12, 10:3:12, 13:2:9, 20:5:4, 25:..."
999,يشرك,y$rk,9,"4:48:6, 4:48:15, 4:116:6, 4:116:15, 5:72:21, 1..."

In [73]:
#df_arabic_simple_nav.to_excel("Arabic_Buckwalter_Simple_Freq_And_Nav_Morphology.xlsx", sheet_name="Arabic_Simple_Freq_Nav", index=False)