### SparkNLP N Gram Lemma Analysis

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [6]:
df_twogram_json = pd.read_json("g_Igztvb0RZ0UkLclbPyS.json")
df_twogram_json = df_twogram_json.loc[:,["index","lem"]]
df_twogram_json.dropna(inplace=True)
df_twogram_json

        index      lem
0           0      bir
1           0      şey
2           1    değil
3           1       mi
4           2      ben
...       ...      ...
199995  99997      vur
199996  99998     peki
199997  99998      dün
199998  99999  kontrol
199999  99999       et

[200000 rows x 2 columns]

In [7]:
df_twogram_json_join = df_twogram_json.groupby(["index"])["lem"].apply(" ".join).reset_index()
df_twogram_json_join

       index          lem
0          0      bir şey
1          1     değil mi
2          2       ben de
3          3  teşekkür et
4          4        ne ol
...      ...          ...
99995  99995   şey olumlu
99996  99996    bura içki
99997  99997       et vur
99998  99998     peki dün
99999  99999   kontrol et

[100000 rows x 2 columns]

In [8]:
df_twogram_json_join.drop_duplicates()

       index          lem
0          0      bir şey
1          1     değil mi
2          2       ben de
3          3  teşekkür et
4          4        ne ol
...      ...          ...
99995  99995   şey olumlu
99996  99996    bura içki
99997  99997       et vur
99998  99998     peki dün
99999  99999   kontrol et

[100000 rows x 2 columns]