### SparkNLP N Gram Lemma Analysis

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [6]:
df_twogram_json = pd.read_json("g_Igztvb0RZ0UkLclbPyS.json")
df_twogram_json = df_twogram_json.loc[:,["index","lem"]]
df_twogram_json.dropna(inplace=True)
df_twogram_json

        index      lem
0           0      bir
1           0      şey
2           1    değil
3           1       mi
4           2      ben
...       ...      ...
199995  99997      vur
199996  99998     peki
199997  99998      dün
199998  99999  kontrol
199999  99999       et

[200000 rows x 2 columns]

In [7]:
df_twogram_json_join = df_twogram_json.groupby(["index"])["lem"].apply(" ".join).reset_index()
df_twogram_json_join

       index          lem
0          0      bir şey
1          1     değil mi
2          2       ben de
3          3  teşekkür et
4          4        ne ol
...      ...          ...
99995  99995   şey olumlu
99996  99996    bura içki
99997  99997       et vur
99998  99998     peki dün
99999  99999   kontrol et

[100000 rows x 2 columns]

In [8]:
df_twogram_json_join.drop_duplicates()

       index          lem
0          0      bir şey
1          1     değil mi
2          2       ben de
3          3  teşekkür et
4          4        ne ol
...      ...          ...
99995  99995   şey olumlu
99996  99996    bura içki
99997  99997       et vur
99998  99998     peki dün
99999  99999   kontrol et

[100000 rows x 2 columns]

### Lemma Model Result

In [27]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word = df_word.head(45000)
df_word

                word  frequency
0                bir   18835735
1                 bu   11062659
2                 ne    8025880
3                 ve    7766036
4               için    5484109
...              ...        ...
44995        hayırbu        871
44996   konferansına        871
44997     kardeşisin        871
44998  kaldırıyorsun        871
44999     kuzenlerim        871

[45000 rows x 2 columns]

In [28]:
df_lemma = pd.read_json("tr.lemma.atis.json")
df_lemma

         index              lem            token
0            0              bir              bir
1            1               bu               bu
2            2               ne               ne
3            3               ve               ve
4            4             için             için
...        ...              ...              ...
99996    99996          seppuku          seppuku
99997    99997     tırmandığını     tırmandığını
99998    99998    çözülemeyecek    çözülemeyecek
99999    99999  hatırlamıyormuş  hatırlamıyormuş
100000  100000             None             None

[100001 rows x 3 columns]

In [29]:
df_lemma = df_lemma[["token","lem"]]
df_lemma.rename(columns={"token":"word", "lem":"lemma.atis"}, inplace=True)
df_lemma

/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                   word       lemma.atis
0                   bir              bir
1                    bu               bu
2                    ne               ne
3                    ve               ve
4                  için             için
...                 ...              ...
99996           seppuku          seppuku
99997      tırmandığını     tırmandığını
99998     çözülemeyecek    çözülemeyecek
99999   hatırlamıyormuş  hatırlamıyormuş
100000             None             None

[100001 rows x 2 columns]

In [30]:
df_word_lemma_merge = pd.merge(df_word, df_lemma, how="left", on="word")
df_word_lemma_merge.drop_duplicates(inplace=True)
df_word_lemma_merge

                word  frequency     lemma.atis
0                bir   18835735            bir
1                 bu   11062659             bu
2                 ne    8025880             ne
3                 ve    7766036             ve
4               için    5484109           için
...              ...        ...            ...
44995        hayırbu        871        hayırbu
44996   konferansına        871   konferansına
44997     kardeşisin        871     kardeşisin
44998  kaldırıyorsun        871  kaldırıyorsun
44999     kuzenlerim        871     kuzenlerim

[45000 rows x 3 columns]

In [45]:
df_lemma = pd.read_json("tr.lemma.boun.json")
df_lemma = df_lemma[["token","lem"]]
df_lemma.rename(columns={"token":"word", "lem":"lemma.boun"}, inplace=True)
df_lemma

                   word      lemma.lemma
0                   bir              bir
1                    bu               bu
2                    ne               ne
3                    ve               ve
4                  için               da
...                 ...              ...
99996           seppuku          seppuku
99997      tırmandığını     tırmandığını
99998     çözülemeyecek    çözülemeyecek
99999   hatırlamıyormuş  hatırlamıyormuş
100000             None             None

[100001 rows x 2 columns]

In [46]:
df_word_lemma_merge = pd.merge(df_word_lemma_merge, df_lemma, how="left", on="word")
df_word_lemma_merge.drop_duplicates(inplace=True)
df_word_lemma_merge

,word,frequency,lemma.atis,lemma.tourism,lemma.boun,lemma.framenet,lemma.imst,lemma.kenet,lemma.penn,lemma.spacylookup,lemma.lemma
0,bir,18835735,bir,bir,bir,bir,bir,bir,bir,bir,bir
1,bu,11062659,bu,bu,bu,bu,bu,bu,bu,bu,bu
2,ne,8025880,ne,ne,ne,ne,ne,ne,ne,ne,ne
3,ve,7766036,ve,ve,ve,ve,ve,ve,ve,ve,ve
4,için,5484109,için,için,için,için,için,iç,da,için,da
...,...,...,...,...,...,...,...,...,...,...,...
44995,hayırbu,871,hayırbu,hayırbu,hayırbu,hayırbu,hayırbu,hayırbu,hayırbu,hayırbu,hayırbu
44996,konferansına,871,konferansına,konferansına,konferansına,konferansına,konferansına,konferansına,konferansına,konferans,konferansına
44997,kardeşisin,871,kardeşisin,kardeşisin,kardeşisin,kardeşisin,kardeşisin,kardeşisin,kardeşisin,kardeş,kardeşisin
44998,kaldırıyorsun,871,kaldırıyorsun,kaldırıyorsun,kaldırıyorsun,kaldırıyorsun,kaldırıyorsun,kaldırıyorsun,kaldırıyorsun,kaldır,kaldırıyorsun
44999,kuzenlerim,871,kuzenlerim,kuzenlerim,kuzenlerim,kuzenlerim,kuzenlerim,kuzenlerim,kuzenlerim,kuzen,kuzenlerim

In [47]:
df_word_lemma_merge.to_excel("Turkish_45000_Word_All_Lemma_Result.xlsx", index=False)

### Pos Tag

In [5]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word = df_word.head(45000)
df_word

                word  frequency
0                bir   18835735
1                 bu   11062659
2                 ne    8025880
3                 ve    7766036
4               için    5484109
...              ...        ...
44995        hayırbu        871
44996   konferansına        871
44997     kardeşisin        871
44998  kaldırıyorsun        871
44999     kuzenlerim        871

[45000 rows x 2 columns]

In [6]:
df_pos = pd.read_json("tr.pos.atis.json")
df_pos

       index    pos            token
0          0    DET              bir
1          1    DET               bu
2          2    ADV               ne
3          3  CCONJ               ve
4          4    ADP             için
...      ...    ...              ...
99995  99995   NOUN           casusa
99996  99996   NOUN          seppuku
99997  99997   NOUN     tırmandığını
99998  99998    ADJ    çözülemeyecek
99999  99999   VERB  hatırlamıyormuş

[100000 rows x 3 columns]

In [7]:
df_pos = df_pos[["token","pos"]]
df_pos.rename(columns={"token":"word", "pos":"pos.atis"}, inplace=True)
df_pos

/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                  word pos.atis
0                  bir      DET
1                   bu      DET
2                   ne      ADV
3                   ve    CCONJ
4                 için      ADP
...                ...      ...
99995           casusa     NOUN
99996          seppuku     NOUN
99997     tırmandığını     NOUN
99998    çözülemeyecek      ADJ
99999  hatırlamıyormuş     VERB

[100000 rows x 2 columns]

In [8]:
df_word_pos_merge = pd.merge(df_word, df_pos, how="left", on="word")
df_word_pos_merge.drop_duplicates(inplace=True)
df_word_pos_merge

                word  frequency pos.atis
0                bir   18835735      DET
1                 bu   11062659      DET
2                 ne    8025880      ADV
3                 ve    7766036    CCONJ
4               için    5484109      ADP
...              ...        ...      ...
44995        hayırbu        871     VERB
44996   konferansına        871     NOUN
44997     kardeşisin        871     VERB
44998  kaldırıyorsun        871     VERB
44999     kuzenlerim        871     VERB

[45000 rows x 3 columns]

In [26]:
df_pos = pd.read_json("tr.pos.boun.json")
df_pos = df_pos[["token","pos"]]
df_pos.rename(columns={"token":"word", "pos":"pos.boun"}, inplace=True)
df_pos

                  word pos.boun
0                  bir      DET
1                   bu      DET
2                   ne     PRON
3                   ve    CCONJ
4                 için      ADP
...                ...      ...
99995           casusa     NOUN
99996          seppuku     NOUN
99997     tırmandığını     NOUN
99998    çözülemeyecek     VERB
99999  hatırlamıyormuş     VERB

[100000 rows x 2 columns]

In [24]:
df_word_pos_merge = pd.merge(df_word_pos_merge, df_pos, how="left", on="word")
df_word_pos_merge.drop_duplicates(inplace=True)
df_word_pos_merge

,word,frequency,pos.atis,pos.ud_imst,pos.boun,pos.framenet,pos.imst,pos.kenet,pos.penn,pos.tourism,pos.pos
0,bir,18835735,DET,NUM,DET,DET,DET,DET,DET,NOUN,DET
1,bu,11062659,DET,DET,DET,DET,DET,DET,DET,DET,DET
2,ne,8025880,ADV,PRON,PRON,ADJ,PRON,ADV,CCONJ,ADV,PRON
3,ve,7766036,CCONJ,CCONJ,CCONJ,CCONJ,CCONJ,CCONJ,CCONJ,CCONJ,CCONJ
4,için,5484109,ADP,ADP,ADP,ADP,ADP,ADP,ADP,NOUN,ADP
...,...,...,...,...,...,...,...,...,...,...,...
44995,hayırbu,871,VERB,NOUN,NOUN,VERB,PUNCT,NOUN,NOUN,NOUN,NOUN
44996,konferansına,871,NOUN,NOUN,NOUN,NOUN,NOUN,NOUN,NOUN,NOUN,NOUN
44997,kardeşisin,871,VERB,NOUN,VERB,VERB,PUNCT,VERB,NOUN,NOUN,VERB
44998,kaldırıyorsun,871,VERB,VERB,VERB,VERB,VERB,VERB,NOUN,NOUN,VERB
44999,kuzenlerim,871,VERB,NOUN,NOUN,NOUN,PUNCT,NOUN,NOUN,NOUN,NOUN

In [25]:
df_word_pos_merge.to_excel("Turkish_45000_Word_All_Pos_Result.xlsx", index=False)

In [2]:
df_lemma_all = pd.read_excel("Turkish_10000_Word_All_Lemma_Result.xlsx")
df_lemma_all

,word,lemma.atis,lemma.boun,lemma.framenet,lemma.imst,lemma,lemma.kenet,lemma.penn,lemma.spacylookup,lemma.tourism
0,bir,bir,bir,bir,bir,bir,bir,bir,bir,bir
1,bu,bu,bu,bu,bu,bu,bu,bu,bu,bu
2,ne,ne,ne,ne,ne,ne,ne,ne,ne,ne
3,ve,ve,ve,ve,ve,ve,ve,ve,ve,ve
4,için,için,için,için,için,da,iç,da,için,için
...,...,...,...,...,...,...,...,...,...,...
99995,casusa,casusa,casusa,casusa,casusa,casusa,casusa,casusa,casus,casusa
99996,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku
99997,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırman,tırmandığını
99998,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çöz,çözülemeyecek
99999,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırla,hatırlamıyormuş

In [3]:
df_lemma_all.columns

Index(['word', 'lemma.atis', 'lemma.boun', 'lemma.framenet', 'lemma.imst',
       'lemma', 'lemma.kenet', 'lemma.penn', 'lemma.spacylookup',
       'lemma.tourism'],
      dtype='object')

In [8]:
for i in df_lemma_all.columns:
    new_name = i.strip()
    df_lemma_all.rename(columns={f"{i}":f"{new_name}"}, inplace=True)

In [10]:
def strip(df):
    for i in df.columns:
        new_name = i.strip()
        df.rename(columns={f"{i}":f"{new_name}"}, inplace=True)
        df[f"{new_name}"] = df[f"{new_name}"].apply(lambda x: x.strip())
    
    return df

In [5]:
test = " alie"

In [6]:
test.strip()

'alie'

In [13]:
df_test = strip(df_lemma_all)
df_test

,word,lemma.atis,lemma.boun,lemma.framenet,lemma.imst,lemma,lemma.kenet,lemma.penn,lemma.spacylookup,lemma.tourism
0,bir,bir,bir,bir,bir,bir,bir,bir,bir,bir
1,bu,bu,bu,bu,bu,bu,bu,bu,bu,bu
2,ne,ne,ne,ne,ne,ne,ne,ne,ne,ne
3,ve,ve,ve,ve,ve,ve,ve,ve,ve,ve
4,için,için,için,için,için,da,iç,da,için,için
...,...,...,...,...,...,...,...,...,...,...
99995,casusa,casusa,casusa,casusa,casusa,casusa,casusa,casusa,casus,casusa
99996,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku,seppuku
99997,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırmandığını,tırman,tırmandığını
99998,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çözülemeyecek,çöz,çözülemeyecek
99999,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırlamıyormuş,hatırla,hatırlamıyormuş

In [15]:
df_test2 = df_test.head(10000)
df_test2

,word,lemma.atis,lemma.boun,lemma.framenet,lemma.imst,lemma,lemma.kenet,lemma.penn,lemma.spacylookup,lemma.tourism
0,bir,bir,bir,bir,bir,bir,bir,bir,bir,bir
1,bu,bu,bu,bu,bu,bu,bu,bu,bu,bu
2,ne,ne,ne,ne,ne,ne,ne,ne,ne,ne
3,ve,ve,ve,ve,ve,ve,ve,ve,ve,ve
4,için,için,için,için,için,da,iç,da,için,için
...,...,...,...,...,...,...,...,...,...,...
9995,arkadaşa,arkadaşa,arkadaş,arkadaş,arkadaşa,arkadaşa,arkadaş,arkadaşa,arkadaş,arkadaşa
9996,değişmez,değişmez,değiş,değişmez,değiş,değiş,değiş,değiş,değişmez,değişmez
9997,çocuğumu,çocuğumu,çocuğumu,çocuğumu,çocuğumu,çocuğumu,çocuğumu,çocuğumu,çocuk,çocuğumu
9998,yerimizi,yerimizi,yerimizi,yerimizi,yerimizi,yerimizi,yerimizi,yerimizi,yer,yerimizi
9999,değiştirip,değiştirip,değiş,değiştirip,değiş,değiştirip,değiştirip,değiştirip,değiş,değiştirip

In [16]:
df_test2["lemma.spacylookup"].nunique()

3307

In [19]:
for column in df_test2.columns:
    column_nunique = df_test2[f"{column}"].nunique()
    print(f"{column} : {column_nunique}")

word : 10000
lemma.atis : 9658
lemma.boun : 6100
lemma.framenet : 8541
lemma.imst : 7424
lemma : 6940
lemma.kenet : 6010
lemma.penn : 6940
lemma.spacylookup : 3307
lemma.tourism : 10000

In [2]:
df_test = pd.read_json("attributes.json")
df_test

        image_id                                         attributes
0              1  [{'synsets': ['clock.n.01'], 'h': 339, 'object...
1              2  [{'synsets': [], 'h': 103, 'object_id': 5069, ...
2              3  [{'synsets': [], 'h': 79, 'object_id': 5091, '...
3              4  [{'synsets': ['curtain.n.01'], 'h': 300, 'obje...
4              5  [{'synsets': ['floor.n.01'], 'h': 108, 'object...
...          ...                                                ...
108072   2417992  [{'synsets': ['train.n.01'], 'h': 322, 'object...
108073   2417993  [{'synsets': ['foot.n.01'], 'h': 84, 'object_i...
108074   2417994  [{'synsets': ['sheep.n.01'], 'h': 137, 'object...
108075   2417995  [{'synsets': ['window.n.01'], 'h': 50, 'object...
108076   2417997  [{'synsets': ['distance.n.01'], 'h': 111, 'obj...

[108077 rows x 2 columns]

In [3]:
df_test.loc[0,"attributes"]

[{'synsets': ['clock.n.01'],
  'h': 339,
  'object_id': 1058498,
  'names': ['clock'],
  'w': 79,
  'attributes': ['green', 'tall'],
  'y': 91,
  'x': 421},
 {'synsets': ['street.n.01'],
  'h': 262,
  'object_id': 5046,
  'names': ['street'],
  'w': 714,
  'attributes': ['sidewalk'],
  'y': 328,
  'x': 77},
 {'synsets': ['shade.n.01'],
  'h': 192,
  'object_id': 5045,
  'names': ['shade'],
  'w': 274,
  'y': 338,
  'x': 119},
 {'synsets': ['man.n.01'],
  'h': 262,
  'object_id': 1058529,
  'names': ['man'],
  'w': 60,
  'y': 249,
  'x': 238},
 {'synsets': ['gym_shoe.n.01'],
  'h': 26,
  'object_id': 5048,
  'names': ['sneakers'],
  'w': 52,
  'attributes': ['grey'],
  'y': 489,
  'x': 243},
 {'synsets': ['headlight.n.01'],
  'h': 15,
  'object_id': 5050,
  'names': ['headlight'],
  'w': 23,
  'attributes': ['off'],
  'y': 366,
  'x': 514},
 {'synsets': ['car.n.01'],
  'h': 98,
  'object_id': 5049,
  'names': ['car'],
  'w': 74,
  'y': 315,
  'x': 479},
 {'synsets': ['bicycle.n.01'],
  'h': 34,
  'object_id': 5051,
  'names': ['bike'],
  'w': 28,
  'attributes': ['parked', 'far away'],
  'y': 319,
  'x': 318},
 {'synsets': ['bicycle.n.01'],
  'h': 35,
  'object_id': 1058535,
  'names': ['bike'],
  'w': 29,
  'attributes': ['parked', 'far away', 'chained'],
  'y': 319,
  'x': 334},
 {'synsets': ['sign.n.02'],
  'h': 182,
  'object_id': 1058507,
  'names': ['sign'],
  'w': 88,
  'attributes': ['black'],
  'y': 13,
  'x': 118},
 {'synsets': ['building.n.01'],
  'h': 536,
  'object_id': 1058508,
  'names': ['building'],
  'w': 218,
  'attributes': ['tall', 'brick', 'made of bricks'],
  'y': 2,
  'x': 1},
 {'synsets': ['trunk.n.01'],
  'h': 327,
  'object_id': 5055,
  'names': ['tree trunk'],
  'w': 87,
  'y': 234,
  'x': 622},
 {'synsets': ['sidewalk.n.01'],
  'h': 266,
  'object_id': 1058534,
  'names': ['sidewalk'],
  'w': 722,
  'attributes': ['brick'],
  'y': 331,
  'x': 77},
 {'synsets': ['shirt.n.01'],
  'h': 101,
  'object_id': 1058511,
  'names': ['shirt'],
  'w': 59,
  'attributes': ['red', 'orange'],
  'y': 289,
  'x': 241},
 {'synsets': ['street.n.01'],
  'h': 233,
  'object_id': 1058539,
  'names': ['street'],
  'w': 440,
  'attributes': ['clean'],
  'y': 283,
  'x': 358},
 {'synsets': ['car.n.01'],
  'h': 174,
  'object_id': 1058515,
  'names': ['car'],
  'w': 91,
  'attributes': ['white', 'parked'],
  'y': 342,
  'x': 708},
 {'synsets': ['back.n.01'],
  'h': 170,
  'object_id': 5060,
  'names': ['back'],
  'w': 67,
  'y': 339,
  'x': 721},
 {'synsets': ['spectacles.n.01'],
  'h': 12,
  'object_id': 1058518,
  'names': ['glasses'],
  'w': 20,
  'y': 268,
  'x': 271},
 {'synsets': ['parking_meter.n.01'],
  'h': 143,
  'object_id': 1058519,
  'names': ['parking meter'],
  'w': 32,
  'attributes': ['orange'],
  'y': 327,
  'x': 574},
 {'synsets': ['shoe.n.01'],
  'h': 34,
  'object_id': 1058525,
  'names': ['shoes'],
  'w': 46,
  'attributes': ['brown'],
  'y': 481,
  'x': 391},
 {'synsets': ['man.n.01'],
  'h': 251,
  'object_id': 1058532,
  'names': ['man'],
  'w': 75,
  'y': 264,
  'x': 372},
 {'synsets': ['trouser.n.01'],
  'h': 118,
  'object_id': 1058528,
  'names': ['pants'],
  'w': 38,
  'attributes': ['black'],
  'y': 384,
  'x': 245},
 {'synsets': ['jacket.n.01'],
  'h': 97,
  'object_id': 1058530,
  'names': ['jacket'],
  'w': 89,
  'attributes': ['gray', 'grey'],
  'y': 296,
  'x': 356},
 {'synsets': ['trouser.n.01'],
  'h': 128,
  'object_id': 1058531,
  'names': ['pants'],
  'w': 54,
  'attributes': ['gray', 'grey'],
  'y': 369,
  'x': 382},
 {'synsets': [],
  'h': 185,
  'object_id': 1058536,
  'names': ['work truck'],
  'w': 265,
  'attributes': ['white'],
  'y': 271,
  'x': 521},
 {'synsets': ['sidewalk.n.01'],
  'h': 189,
  'object_id': 3798575,
  'names': ['sidewalk'],
  'w': 50,
  'y': 318,
  'x': 343},
 {'synsets': ['chin.n.01'],
  'h': 9,
  'object_id': 1058541,
  'names': ['chin'],
  'w': 11,
  'attributes': ['raised'],
  'y': 288,
  'x': 399},
 {'synsets': ['guy.n.01'],
  'h': 250,
  'object_id': 1058540,
  'names': ['guy'],
  'w': 82,
  'y': 264,
  'x': 369},
 {'synsets': ['van.n.05'],
  'h': 134,
  'object_id': 1058542,
  'names': ['van'],
  'w': 233,
  'attributes': ['parked', 'white'],
  'y': 298,
  'x': 529},
 {'synsets': ['wall.n.01'],
  'h': 533,
  'object_id': 1058543,
  'names': ['wall'],
  'w': 134,
  'attributes': ['grey'],
  'y': 1,
  'x': 0},
 {'synsets': ['tree.n.01'],
  'h': 360,
  'object_id': 1058545,
  'names': ['tree'],
  'w': 176,
  'y': 0,
  'x': 249},
 {'synsets': ['bicycle.n.01'],
  'h': 35,
  'object_id': 1058544,
  'names': ['bikes'],
  'w': 40,
  'y': 319,
  'x': 321},
 {'synsets': ['arm.n.01'],
  'h': 43,
  'object_id': 1058546,
  'names': ['arm'],
  'w': 32,
  'attributes': ['raised'],
  'y': 283,
  'x': 368},
 {'synsets': ['shirt.n.01'],
  'h': 66,
  'object_id': 1058547,
  'names': ['shirt'],
  'w': 37,
  'attributes': ['grey'],
  'y': 306,
  'x': 384},
 {'synsets': ['man.n.01'],
  'h': 248,
  'object_id': 3798576,
  'names': ['man'],
  'w': 97,
  'y': 264,
  'x': 362},
 {'synsets': ['man.n.01'],
  'h': 264,
  'object_id': 3798577,
  'names': ['man'],
  'w': 72,
  'y': 251,
  'x': 230},
 {'synsets': ['road.n.01'],
  'h': 218,
  'object_id': 3798578,
  'names': ['road'],
  'w': 340,
  'y': 295,
  'x': 435},
 {'synsets': [],
  'h': 430,
  'object_id': 1058548,
  'names': ['lamp post'],
  'w': 41,
  'y': 63,
  'x': 537},
 {'synsets': ['tree.n.01'],
  'h': 557,
  'object_id': 1058549,
  'names': ['trees'],
  'w': 606,
  'attributes': ['sparse'],
  'y': 0,
  'x': 190},
 {'synsets': ['window.n.01'],
  'h': 148,
  'object_id': 3798579,
  'names': ['windows'],
  'w': 173,
  'y': 4,
  'x': 602}]

In [4]:
df_test2 = pd.read_json("objects.json")
df_test2

,image_id,objects,image_url,merged_object_ids
0,1,"[{'synsets': ['tree.n.01'], 'h': 557, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
1,2,"[{'synsets': ['road.n.01'], 'h': 254, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
2,3,"[{'synsets': ['booth.n.02'], 'h': 389, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
3,4,"[{'synsets': ['floor.n.01'], 'h': 168, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
4,5,"[{'synsets': ['room.n.01'], 'h': 599, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
...,...,...,...,...
108072,2417992,"[{'synsets': [], 'h': 111, 'object_id': 378678...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108073,2417993,"[{'synsets': ['beach.n.01'], 'h': 194, 'object...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108074,2417994,"[{'synsets': ['bell.n.01'], 'h': 14, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108075,2417995,"[{'synsets': ['barroom.n.01'], 'h': 29, 'objec...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108076,2417997,"[{'synsets': ['bus.n.01'], 'h': 182, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN

In [5]:
df_test2.loc[0,"objects"]

[{'synsets': ['tree.n.01'],
  'h': 557,
  'object_id': 1058549,
  'merged_object_ids': [],
  'names': ['trees'],
  'w': 799,
  'y': 0,
  'x': 0},
 {'synsets': ['sidewalk.n.01'],
  'h': 290,
  'object_id': 1058534,
  'merged_object_ids': [5046],
  'names': ['sidewalk'],
  'w': 722,
  'y': 308,
  'x': 78},
 {'synsets': ['building.n.01'],
  'h': 538,
  'object_id': 1058508,
  'merged_object_ids': [],
  'names': ['building'],
  'w': 222,
  'y': 0,
  'x': 1},
 {'synsets': ['street.n.01'],
  'h': 258,
  'object_id': 1058539,
  'merged_object_ids': [3798578],
  'names': ['street'],
  'w': 359,
  'y': 283,
  'x': 439},
 {'synsets': ['wall.n.01'],
  'h': 535,
  'object_id': 1058543,
  'merged_object_ids': [],
  'names': ['wall'],
  'w': 135,
  'y': 1,
  'x': 0},
 {'synsets': ['tree.n.01'],
  'h': 360,
  'object_id': 1058545,
  'merged_object_ids': [],
  'names': ['tree'],
  'w': 476,
  'y': 0,
  'x': 178},
 {'synsets': ['shade.n.01'],
  'h': 189,
  'object_id': 5045,
  'merged_object_ids': [],
  'names': ['shade'],
  'w': 274,
  'y': 344,
  'x': 116},
 {'synsets': ['van.n.05'],
  'h': 176,
  'object_id': 1058542,
  'merged_object_ids': [1058536],
  'names': ['van'],
  'w': 241,
  'y': 278,
  'x': 533},
 {'synsets': ['trunk.n.01'],
  'h': 348,
  'object_id': 5055,
  'merged_object_ids': [],
  'names': ['tree trunk'],
  'w': 78,
  'y': 213,
  'x': 623},
 {'synsets': ['clock.n.01'],
  'h': 363,
  'object_id': 1058498,
  'merged_object_ids': [],
  'names': ['clock'],
  'w': 77,
  'y': 63,
  'x': 422},
 {'synsets': ['window.n.01'],
  'h': 147,
  'object_id': 3798579,
  'merged_object_ids': [],
  'names': ['windows'],
  'w': 198,
  'y': 1,
  'x': 602},
 {'synsets': ['man.n.01'],
  'h': 248,
  'object_id': 3798576,
  'merged_object_ids': [1058540],
  'names': ['man'],
  'w': 82,
  'y': 264,
  'x': 367},
 {'synsets': ['man.n.01'],
  'h': 259,
  'object_id': 3798577,
  'merged_object_ids': [],
  'names': ['man'],
  'w': 57,
  'y': 254,
  'x': 238},
 {'synsets': [],
  'h': 430,
  'object_id': 1058548,
  'merged_object_ids': [],
  'names': ['lamp post'],
  'w': 43,
  'y': 63,
  'x': 537},
 {'synsets': ['sign.n.02'],
  'h': 179,
  'object_id': 1058507,
  'merged_object_ids': [],
  'names': ['sign'],
  'w': 78,
  'y': 13,
  'x': 123},
 {'synsets': ['car.n.01'],
  'h': 164,
  'object_id': 1058515,
  'merged_object_ids': [],
  'names': ['car'],
  'w': 80,
  'y': 342,
  'x': 719},
 {'synsets': ['back.n.01'],
  'h': 164,
  'object_id': 5060,
  'merged_object_ids': [],
  'names': ['back'],
  'w': 70,
  'y': 345,
  'x': 716},
 {'synsets': ['jacket.n.01'],
  'h': 98,
  'object_id': 1058530,
  'merged_object_ids': [],
  'names': ['jacket'],
  'w': 82,
  'y': 296,
  'x': 367},
 {'synsets': ['car.n.01'],
  'h': 95,
  'object_id': 5049,
  'merged_object_ids': [],
  'names': ['car'],
  'w': 78,
  'y': 319,
  'x': 478},
 {'synsets': ['trouser.n.01'],
  'h': 128,
  'object_id': 1058531,
  'merged_object_ids': [],
  'names': ['pants'],
  'w': 48,
  'y': 369,
  'x': 388},
 {'synsets': ['shirt.n.01'],
  'h': 103,
  'object_id': 1058511,
  'merged_object_ids': [],
  'names': ['shirt'],
  'w': 54,
  'y': 287,
  'x': 241},
 {'synsets': ['parking_meter.n.01'],
  'h': 143,
  'object_id': 1058519,
  'merged_object_ids': [],
  'names': ['parking meter'],
  'w': 26,
  'y': 325,
  'x': 577},
 {'synsets': ['trouser.n.01'],
  'h': 118,
  'object_id': 1058528,
  'merged_object_ids': [],
  'names': ['pants'],
  'w': 44,
  'y': 384,
  'x': 245},
 {'synsets': ['shirt.n.01'],
  'h': 102,
  'object_id': 1058547,
  'merged_object_ids': [],
  'names': ['shirt'],
  'w': 82,
  'y': 295,
  'x': 368},
 {'synsets': ['shoe.n.01'],
  'h': 28,
  'object_id': 1058525,
  'merged_object_ids': [5048],
  'names': ['shoes'],
  'w': 48,
  'y': 485,
  'x': 388},
 {'synsets': ['arm.n.01'],
  'h': 41,
  'object_id': 1058546,
  'merged_object_ids': [],
  'names': ['arm'],
  'w': 30,
  'y': 285,
  'x': 370},
 {'synsets': ['bicycle.n.01'],
  'h': 36,
  'object_id': 1058535,
  'merged_object_ids': [],
  'names': ['bike'],
  'w': 27,
  'y': 319,
  'x': 337},
 {'synsets': ['bicycle.n.01'],
  'h': 41,
  'object_id': 5051,
  'merged_object_ids': [],
  'names': ['bike'],
  'w': 27,
  'y': 311,
  'x': 321},
 {'synsets': ['headlight.n.01'],
  'h': 9,
  'object_id': 5050,
  'merged_object_ids': [],
  'names': ['headlight'],
  'w': 18,
  'y': 370,
  'x': 517},
 {'synsets': ['spectacles.n.01'],
  'h': 23,
  'object_id': 1058518,
  'merged_object_ids': [],
  'names': ['glasses'],
  'w': 43,
  'y': 317,
  'x': 448},
 {'synsets': ['chin.n.01'],
  'h': 8,
  'object_id': 1058541,
  'merged_object_ids': [],
  'names': ['chin'],
  'w': 9,
  'y': 288,
  'x': 401}]

In [6]:
df_test2.loc[0,"image_url"]

'https://cs.stanford.edu/people/rak248/VG_100K_2/1.jpg'

In [7]:
df_test3 = pd.read_json("relationships.json")
df_test3

                                            relationships  image_id
0       [{'predicate': 'ON', 'object': {'h': 290, 'obj...         1
1       [{'predicate': 'wears', 'object': {'name': 'ba...         2
2       [{'predicate': 'in front of', 'object': {'name...         3
3       [{'predicate': 'has', 'object': {'name': 'padd...         4
4       [{'predicate': 'ON', 'object': {'name': 'floor...         5
...                                                   ...       ...
108072  [{'predicate': 'on top of', 'object': {'name':...   2417992
108073  [{'predicate': 'has a', 'object': {'name': 'gu...   2417993
108074  [{'predicate': 'standing in', 'object': {'name...   2417994
108075  [{'predicate': 'ON', 'object': {'name': 'train...   2417995
108076  [{'predicate': 'IN', 'object': {'name': 'dista...   2417997

[108077 rows x 2 columns]

In [8]:
df_test3.loc[0,"relationships"]

[{'predicate': 'ON',
  'object': {'h': 290,
   'object_id': 1058534,
   'merged_object_ids': [5046],
   'synsets': ['sidewalk.n.01'],
   'w': 722,
   'y': 308,
   'x': 78,
   'names': ['sidewalk']},
  'relationship_id': 15927,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shade',
   'h': 192,
   'synsets': ['shade.n.01'],
   'object_id': 5045,
   'w': 274,
   'y': 338,
   'x': 119}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15928,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'headlight',
   'h': 15,
   'synsets': ['headlight.n.01'],
   'object_id': 5050,
   'w': 23,
   'y': 366,
   'x': 514},
  'relationship_id': 15929,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 98,
   'synsets': ['car.n.01'],
   'object_id': 5049,
   'w': 74,
   'y': 315,
   'x': 479}},
 {'predicate': 'ON',
  'object': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1},
  'relationship_id': 15930,
  'synsets': ['along.r.01'],
  'subject': {'name': 'sign',
   'h': 182,
   'synsets': ['sign.n.02'],
   'object_id': 1058507,
   'w': 88,
   'y': 13,
   'x': 118}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15931,
  'synsets': ['along.r.01'],
  'subject': {'name': 'tree trunk',
   'h': 327,
   'synsets': ['trunk.n.01'],
   'object_id': 5055,
   'w': 87,
   'y': 234,
   'x': 622}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15932,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15933,
  'synsets': ['next.r.01'],
  'subject': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77}},
 {'predicate': 'has',
  'object': {'name': 'back',
   'h': 170,
   'synsets': ['back.n.01'],
   'object_id': 5060,
   'w': 67,
   'y': 339,
   'x': 721},
  'relationship_id': 15934,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'has',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 15935,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15936,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15937,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 15938,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15939,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'wears',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 15940,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 15941,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'pants',
   'h': 128,
   'synsets': ['trouser.n.01'],
   'object_id': 1058531,
   'w': 54,
   'y': 369,
   'x': 382},
  'relationship_id': 15942,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15943,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 34,
   'synsets': ['bicycle.n.01'],
   'object_id': 5051,
   'w': 28,
   'y': 319,
   'x': 318}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15944,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15945,
  'synsets': ['along.r.01'],
  'subject': {'h': 176,
   'object_id': 1058542,
   'merged_object_ids': [1058536],
   'synsets': ['van.n.05'],
   'w': 241,
   'y': 278,
   'x': 533,
   'names': ['van']}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15946,
  'synsets': ['along.r.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 189,
   'synsets': ['sidewalk.n.01'],
   'object_id': 3798575,
   'w': 50,
   'y': 318,
   'x': 343},
  'relationship_id': 4265923,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372},
  'relationship_id': 3186256,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186257,
  'synsets': ['have.v.01'],
  'subject': {'h': 248,
   'object_id': 3798576,
   'merged_object_ids': [1058540],
   'synsets': ['man.n.01'],
   'w': 82,
   'y': 264,
   'x': 367,
   'names': ['man']}},
 {'predicate': 'WEARING',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186258,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186259,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186260,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'WEARING',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 3186261,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186262,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'ON',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186263,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 4265924,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 248,
   'synsets': ['man.n.01'],
   'object_id': 3798576,
   'w': 97,
   'y': 264,
   'x': 362}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 4265925,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 264,
   'synsets': ['man.n.01'],
   'object_id': 3798577,
   'w': 72,
   'y': 251,
   'x': 230}},
 {'predicate': 'along',
  'object': {'h': 258,
   'object_id': 1058539,
   'merged_object_ids': [3798578],
   'synsets': ['street.n.01'],
   'w': 359,
   'y': 283,
   'x': 439,
   'names': ['street']},
  'relationship_id': 4265926,
  'synsets': ['along.r.01'],
  'subject': {'name': 'lamp post',
   'h': 430,
   'synsets': [],
   'object_id': 1058548,
   'w': 41,
   'y': 63,
   'x': 537}},
 {'predicate': 'IN',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186264,
  'synsets': ['in.r.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'WEARING',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 3186265,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'on top of',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186266,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186267,
  'synsets': ['next.r.01'],
  'subject': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 3186268,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186269,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'by',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 3186270,
  'synsets': ['by.r.01'],
  'subject': {'name': 'trees',
   'h': 557,
   'synsets': ['tree.n.01'],
   'object_id': 1058549,
   'w': 606,
   'y': 0,
   'x': 190}},
 {'predicate': 'WEARING',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 3186271,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'with',
  'object': {'name': 'windows',
   'h': 148,
   'synsets': ['window.n.01'],
   'object_id': 3798579,
   'w': 173,
   'y': 4,
   'x': 602},
  'relationship_id': 4265927,
  'synsets': [],
  'subject': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1}}]