### Web Scrapping Data Combinate To Master

In [6]:
import pandas as pd
import numpy as np
import re
import glob

In [2]:
df_master_all = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master_all

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

In [3]:
df_info = pd.DataFrame(df_master_all.groupby(["surah","surah latin"])["index"].min())
df_info.reset_index(inplace=True)
df_info

     surah surah latin  index
0        1   Al-Fatiha      0
1        2   Al-Baqara     29
2        3    Al Imran   6174
3        4    An-Nisa'   9679
4        5   Al-Ma'ida  13446
..     ...         ...    ...
109    110     An-Nasr  78129
110    111    Al-Masad  78152
111    112   Al-Ikhlas  78179
112    113    Al-Falaq  78198
113    114      An-Nas  78225

[114 rows x 3 columns]

In [4]:
df_info["index"] = df_info["index"].apply(lambda x: x+4)
df_info

     surah surah latin  index
0        1   Al-Fatiha      4
1        2   Al-Baqara     33
2        3    Al Imran   6178
3        4    An-Nisa'   9683
4        5   Al-Ma'ida  13450
..     ...         ...    ...
109    110     An-Nasr  78133
110    111    Al-Masad  78156
111    112   Al-Ikhlas  78183
112    113    Al-Falaq  78202
113    114      An-Nas  78229

[114 rows x 3 columns]

In [5]:
#df_info.to_excel("Adding_Info_File.xlsx", index=False)

#### Read Adding Info File

In [ ]:
df_info_file = pd.read_excel("")

In [ ]:
def add_info(df,surah_name, surah_num, index):
    for i in range(len(df)):
        df["surah latin"] = surah_name
        df["surah"] = surah_num
        df.loc[i,"index"] = i+index
    return df

In [ ]:
df_list = []
for i in range(len(df_info_file)):
    surah_num = df_info_file.loc[i,"surah"]
    surah_name = df_info_file.loc[i,"surah latin"]
    index = df_info_file.loc[i,"index"]
    surah = df_info_file.loc[i,"scrap_name"]
    file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Web Scrapping/Result/*/{surah.lower().capitalize()}_Arabic_Transliterate_Translate_Words_Languages_Concat.xlsx")
    df = pd.read_excel(file[0])
    df_added_info = add_info(df,surah_name, surah_num, index)
    df_added_info = df_added_info.iloc[:,[10,9,0,1,2,3,4,5,6,7,8,11]]
    df_list.append(df_added_info)

In [ ]:
df_list